---
title: Feedback
headline: Report issues, offer suggestions, or share thoughts
subject_url: /images/meeple.png
layout: layouts/page.njk
class: borderless-img
post: |
  Your Move is a passion project dedicated to the craft of programming and aims to showcase a particular model for digitally implementing games.  It embraces certain design principles, ideas, and aesthetics and is intentionally minimalistic.

  If you encounter issues, please report them along with:

  * The url where the issue occurred
  * The browser and device you used
  * An explanation of your unmet expectation and, if possible, a screenshot or [short video](https://loom.com/) demonstrating the problem

  Some issues are, unfortunately, the consequence of [server limitations](/servers) and not defects.

  Designing and implementing the site was a significant investment of time and energy and, as such, your constructive thoughts are valued and appreciated.

  <a href="mailto:feedback@yourmove.cc">feedback@yourmove.cc</a>
---
