---
title: Up & Down the River
release: BETA
identity: 8Mj1
subject_url: /images/games/up-down.png
headline: The road to nirvana is paved with good bids
layout: layouts/game.njk
stylesheets:
- /ui.css
- /components/table/ui.css
modules:
- ./ui.js

about: |
  Up & Down the River is a traditional, trick-taking game which evolved to include various rules permutations.

  There is an arbitrary trump suit each round determined by a card flipped from the top of the deck after hands are dealt.

  Before each round players assess their hands and blindly bid the number of tricks they'll take.  Players who meet their bid exactly earn 10 bonus points.  Regardless, each trick is a point.

  The first card lead to a trick designates suit.  Players who have that suit in hand are compelled to follow.  Those who don't may play any card.  Once each player has thrown, the trick is awarded to the one who threw the highest card (aces high, twos low) in suit, unless trumped, in which case it goes to the one who threw the highest trump.  The player who takes the trick leads the next.

  Players may not lead trumps until they've been "broken."  This happens when someone unable to follow the lead suit opts to play trump.

  A game is 13 rounds.  Players are dealt 1 card in the first round, 2 in the second, and so on up to 7 in the seventh and then back down to 1.  In the "Down and Up" variant players are dealt 7 cards in the first round, 6 in the second, and so on down to 1 in the seventh and then back up to 7.

  At that point, the player with the best score wins!

implementation: |
  Since bids are blind, players may change their bids up until the moment all bids are in.  When that happens bids are revealed and playing into and taking tricks begins.

  When players are down to a single card, play is automated due to the lack of choice.

  Captain Nemo played this game with 5-7 colleagues at lunchtime during his tenure at an early corporate job in a city skyrise.  He played it most workdays for years, a time of fond reflection.
credits: |
  * <label>Implementer</label>: <a href="mailto:capnemo@meeplitis.com">Captain Nemo</a>
  * Used these [playing cards](https://www.me.uk/cards/makeadeck.cgi)
---
