---
title: Servers
headline: Costs and limitations
subject_url: /images/meeple.png
layout: layouts/page.njk
class: borderless-img
post: |
  Sites cannot exist without servers.  Those servers have operational costs I'd like to offset.

  But how?

  The site is presently too small to charge any kind of membership fee.  There are numerous online gaming sites.  Some offer a massive number of games and, although there are premium memberships, most permit play at no cost to users.

  This is a small site by comparison.  It was born a passion project apart from having worked out the revenue model necessary to sustain it.

  To limit costs until a sustainable model can be established, its servers are limited.  They have limited memory and quotas on the number of requests they can serve in a month.  One such error you might encounter is “Out of memory.”

  These errors may go away if you to try again a minute, hour, or day later.

  Please forgive the inconvenience this may cause.
---
