---
layout: layouts/banner.njk
modules:
- ./index.js
stylesheets:
- /index.css
- ./index.css
- /components/table/index.css
---
<section class="about">
  <h2>About</h2>
  <p><img class="spinner" src="/images/spinner.gif"></p>
</section>
<section class="open-tables">
  <h2>Open tables</h2>
  <p><img class="spinner" src="/images/spinner.gif"></p>
</section>
<section class="started-tables">
  <h2>Started tables</h2>
  <p><img class="spinner" src="/images/spinner.gif"></p>
</section>
<section class="finished-tables">
  <h2>Finished tables</h2>
  <p><img class="spinner" src="/images/spinner.gif"></p>
</section>
