@import url(/games/effects.css);
body.meeple h1 {
  width: 10em;
}
body {
  padding-bottom: 5em;
}
h2 {
  margin: 0 0 5px;
}
.about p:first-child {
  margin-top: 0;
}
#creates input[type="submit"] {
  padding: 5px;
  margin-left: 6em;
}
#creates span {
  display: inline-block;
  width: 5em;
  clear: left;
  color: #3E505C;
}
#creates span::after {
  content: ": "
}
#creates label {
  margin-right: 5px;
}
#creates label label {
  margin-right: .8em;
}
#creates > * {
  display: block;
  margin-bottom: 2px;
}
#creates input[type="text"] {
  width: 25em;
}

