@import url(/activity.css);
.profile img {
  border: none;
  border-radius: 0;
  height: auto;
  box-shadow: none;
}
body.meeple h1 {
  width: 10em;
}
h2 {
  margin: 0 0 5px;
}
.about p:first-child {
  margin-top: 0;
}
body[data-view] :is(main, section) {
  display: none;
}
body[data-view="profile"] :is(main, section.started-tables, section.open-tables, section.started-tables, section.finished-tables),
body[data-view="profiles"] :is(main, section.profiles) {
  display: inherit;
}
body[data-view="profiles"] section {
  width: 100%;
}
main {
  columns: unset;
}
section.started-tables {
  break-before: column;
}
section.profiles figure {
  display: inline-block;
  height: 8em;
  width: 8em;
  border: solid 2px #3E505C;
  border-radius: 1em;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  margin: 5px 1em;
}
section.profiles figcaption {
  margin-top: -2em;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: .8em;
}
section.profiles ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section.profiles li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
section.profiles div {
  margin: 0 auto 5px;
  text-align: center;
}
#creates input[type="submit"] {
  padding: 5px;
  margin-left: 6em;
}
#creates span {
  display: inline-block;
  width: 5em;
  clear: left;
  color: #3E505C;
}
#creates span::after {
  content: ": "
}
#creates label {
  margin-right: 5px;
}
#creates label label {
  margin-right: .8em;
}
#creates > * {
  display: block;
  margin-bottom: 2px;
}
#creates input[type="text"] {
  width: 25em;
}
