---
title: Your Move
headline: Play games by web
subject_url: /images/meeple.png
layout: layouts/banner.njk
stylesheets:
- /index.css
- /signon.css
modules:
- ./index.js
class: borderless-img centered
---
<div class="signon" id='signin-section'>
  <form id='signin'>
      <label>Email Address</label><input autofocus type='email' name='email' /><br>
      <input type='submit' value="Reset Password">
  </form>
  <p>You'll have to respond to an email next.</p>
</div>
