---
title: Oh Hell (Blackout)
layout: layouts/game.njk
classes: meeple
stylesheets:
- ./index.css
modules:
- ./index.js
---
<div class="upkeep">
  <div class="round">Round <b>-</b> of <b>-</b></div>
  <div class="trump"><img src="../../../images/deck/BackDark.svg"></div>
  <div class="cards"><b>-</b> cards in deck</div>
  <div class="deck"><img src="../../../images/deck/BackDark.svg"></div>
</div>
<div class="players">
</div>
<ul class="hand">
</ul>
<div class="bidding" data-max-bid="7" data-actual-bid=""><label>Bid:</label>
  <ul>
    <li data-bid="" title="Undecided">?</li>
    <li data-bid="0">0</li>
    <li data-bid="1">1</li>
    <li data-bid="2">2</li>
    <li data-bid="3">3</li>
    <li data-bid="4">4</li>
    <li data-bid="5">5</li>
    <li data-bid="6">6</li>
    <li data-bid="7">7</li>
    <li data-bid="8">8</li>
    <li data-bid="9">9</li>
    <li data-bid="10">10</li>
    <li data-bid="11">11</li>
    <li data-bid="12">12</li>
    <li data-bid="13">13</li>
  </ul>
</div>
