---
title: Oh Hell (Blackout)
layout: layouts/game.njk
classes: meeple
stylesheets:
- ./index.css
modules:
- ./index.js
---
<div class="upkeep">
  <div class="round">Round <b>-</b> of <b>-</b></div>
  <div class="trump"><img src="../../../images/deck/BackDark.svg"></div>
  <div class="cards"><b>-</b> cards in deck</div>
  <div class="deck"><img src="../../../images/deck/BackDark.svg"></div>
</div>
<div class="players">
</div>
<ul class="hand">
</ul>
<div class="bidding" data-max-bid="7" data-actual-bid="">
  <ul>
    <li data-bid="" title="Undecided"><button>?</button></li>
    <li data-bid="0"><button>Bid 0</button></li>
    <li data-bid="1"><button>Bid 1</button></li>
    <li data-bid="2"><button>Bid 2</button></li>
    <li data-bid="3"><button>Bid 3</button></li>
    <li data-bid="4"><button>Bid 4</button></li>
    <li data-bid="5"><button>Bid 5</button></li>
    <li data-bid="6"><button>Bid 6</button></li>
    <li data-bid="7"><button>Bid 7</button></li>
    <li data-bid="8"><button>Bid 8</button></li>
    <li data-bid="9"><button>Bid 9</button></li>
    <li data-bid="10"><button>Bid 10</button></li>
    <li data-bid="11"><button>Bid 11</button></li>
    <li data-bid="12"><button>Bid 12</button></li>
    <li data-bid="13"><button>Bid 13</button></li>
  </ul>
</div>
<div id="event" class="automatic">
  <img class="who">
  <p></p>
  <p class="who"></p>
</div>
