.leads {
  visibility: hidden;
}
[data-lead="0"] [data-seat="0"] .leads,
[data-lead="1"] [data-seat="1"] .leads,
[data-lead="2"] [data-seat="2"] .leads,
[data-lead="3"] [data-seat="3"] .leads,
[data-lead="4"] [data-seat="4"] .leads,
[data-lead="5"] [data-seat="5"] .leads,
[data-lead="6"] [data-seat="6"] .leads {
  visibility: visible;
}
button.active,
button.selected {
  display: initial;
}
.hand {
  position: fixed;
  right: 1em;
  bottom: -11em;
  height: 17.5em;
  width: 30em;
  transition: bottom .5s;
  padding: 0;
  list-style: none;
  display: inline-flex;
  z-index: 99;
}
[data-played="0"] [data-seat="0"] .area img,
[data-played="1"] [data-seat="1"] .area img,
[data-played="2"] [data-seat="2"] .area img,
[data-played="3"] [data-seat="3"] .area img,
[data-played="4"] [data-seat="4"] .area img,
[data-played="5"] [data-seat="5"] .area img,
[data-played="6"] [data-seat="6"] .area img {
  animation: play .8s;
}
#table[data-event-type="award"] .area img {
  transform: translateY(-30em);
  animation: award .8s !important;
}
#table.present[data-status="playing"] .hand:hover {
  bottom: -8em;
}
.hand li {
  transition: padding-top .25s;
  margin-right: -8.5em;
  height: 18em;
  padding-top: 2em;
}
.hand li,
.hand li img {
  width: 10em;
  height: 16em;
}
#table.present[data-status="playing"] .hand li img {
  cursor: pointer;
}
#table.present[data-status="playing"] .hand li:hover {
  padding-top: 0;
}
.trump, .deck {
  min-height: 14em;
}
.deck img,
.trump img {
  width: 9em;
  margin: 5px;
}
.broken {
  visibility: hidden;
  margin-top: -.8em;
  margin-bottom: 1em;
}
#table[data-broken="true"] .broken {
  visibility: visible;
}
.upkeep {
  width: 10em;
  position: absolute;
  right: 0;
  text-align: center;
}
.cards {
  text-align: center;
  display: block;
  margin: .5em auto 0;
}
