.bidding {
  font-weight: bold;
  position: fixed;
  left: 1em;
  bottom: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
  z-index: 999;
}
.bidding ul {
  list-style: none;
}
.bidding ul,
.bidding li,
.bidding label {
  float: left;
  padding: 0;
  margin: 0;
}
.bidding label,
.bidding button {
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em;
}
.bidding button {
  background-color: #A5A9A0;
  border-radius: .5em;
  margin: 5px;
  min-width: 2em;
  text-align: center;
  transition: background-color .5s, color .5s;
}
[data-tense="present"] .bidding button {
  cursor: default;
}
[data-tense="present"] .bidding button:hover {
  background-color: orange;
  color: snow;
}
.hand {
  position: fixed;
  right: 1em;
  bottom: -11em;
  height: 17.5em;
  width: 30em;
  transition: bottom .5s;
  padding: 0;
  list-style: none;
  display: inline-flex;
  z-index: 999;
}
[data-tense="present"] .hand:hover {
  bottom: -8em;
}
.hand li {
  transition: padding-top .25s;
  margin-right: -8.5em;
  height: 18em;
  padding-top: 2em;
}
.hand li,
.hand li img {
  width: 10em;
  height: 16em;
}
[data-tense="present"] .hand li img {
  cursor: pointer;
}
[data-tense="present"] .hand li:hover {
  padding-top: 0;
}
.trump, .deck {
  min-height: 14em;
}
.deck img,
.trump img {
  width: 9em;
  margin: 5px;
}
.upkeep {
  -border: solid 1px purple;
  width: 10em;
  height: calc(100% - 5em);
  position: absolute;
  right: 0;
  text-align: center;
}
.bidding {
  visibility: hidden;
}
.cards {
  text-align: center;
  display: block;
  margin: .5em auto 0;
}
[data-actual-bid=""] li[data-bid=""] button,
[data-actual-bid="0"] li[data-bid="0"] button,
[data-actual-bid="1"] li[data-bid="1"] button,
[data-actual-bid="2"] li[data-bid="2"] button,
[data-actual-bid="3"] li[data-bid="3"] button,
[data-actual-bid="4"] li[data-bid="4"] button,
[data-actual-bid="5"] li[data-bid="5"] button,
[data-actual-bid="6"] li[data-bid="6"] button,
[data-actual-bid="7"] li[data-bid="7"] button,
[data-actual-bid="8"] li[data-bid="8"] button,
[data-actual-bid="9"] li[data-bid="9"] button,
[data-actual-bid="10"] li[data-bid="10"] button,
[data-actual-bid="11"] li[data-bid="11"] button,
[data-actual-bid="12"] li[data-bid="12"] button,
[data-actual-bid="13"] li[data-bid="13"] button {
  color: white;
  background-color: #3E505C !important;
  cursor: not-allowed;
}
[data-status="bidding"] .bidding {
  visibility: visible;
}
[data-max-bid="1"] li[data-bid="2"],
[data-max-bid="1"] li[data-bid="3"],
[data-max-bid="1"] li[data-bid="4"],
[data-max-bid="1"] li[data-bid="5"],
[data-max-bid="1"] li[data-bid="6"],
[data-max-bid="1"] li[data-bid="7"],
[data-max-bid="1"] li[data-bid="8"],
[data-max-bid="1"] li[data-bid="9"],
[data-max-bid="1"] li[data-bid="10"],
[data-max-bid="1"] li[data-bid="11"],
[data-max-bid="1"] li[data-bid="12"],
[data-max-bid="1"] li[data-bid="13"],
[data-max-bid="2"] li[data-bid="3"],
[data-max-bid="2"] li[data-bid="4"],
[data-max-bid="2"] li[data-bid="5"],
[data-max-bid="2"] li[data-bid="6"],
[data-max-bid="2"] li[data-bid="7"],
[data-max-bid="2"] li[data-bid="8"],
[data-max-bid="2"] li[data-bid="9"],
[data-max-bid="2"] li[data-bid="10"],
[data-max-bid="2"] li[data-bid="11"],
[data-max-bid="2"] li[data-bid="12"],
[data-max-bid="2"] li[data-bid="13"],
[data-max-bid="3"] li[data-bid="4"],
[data-max-bid="3"] li[data-bid="5"],
[data-max-bid="3"] li[data-bid="6"],
[data-max-bid="3"] li[data-bid="7"],
[data-max-bid="3"] li[data-bid="8"],
[data-max-bid="3"] li[data-bid="9"],
[data-max-bid="3"] li[data-bid="10"],
[data-max-bid="3"] li[data-bid="11"],
[data-max-bid="3"] li[data-bid="12"],
[data-max-bid="3"] li[data-bid="13"],
[data-max-bid="4"] li[data-bid="5"],
[data-max-bid="4"] li[data-bid="6"],
[data-max-bid="4"] li[data-bid="7"],
[data-max-bid="4"] li[data-bid="8"],
[data-max-bid="4"] li[data-bid="9"],
[data-max-bid="4"] li[data-bid="10"],
[data-max-bid="4"] li[data-bid="11"],
[data-max-bid="4"] li[data-bid="12"],
[data-max-bid="4"] li[data-bid="13"],
[data-max-bid="5"] li[data-bid="6"],
[data-max-bid="5"] li[data-bid="7"],
[data-max-bid="5"] li[data-bid="8"],
[data-max-bid="5"] li[data-bid="9"],
[data-max-bid="5"] li[data-bid="10"],
[data-max-bid="5"] li[data-bid="11"],
[data-max-bid="5"] li[data-bid="12"],
[data-max-bid="5"] li[data-bid="13"],
[data-max-bid="6"] li[data-bid="7"],
[data-max-bid="6"] li[data-bid="8"],
[data-max-bid="6"] li[data-bid="9"],
[data-max-bid="6"] li[data-bid="10"],
[data-max-bid="6"] li[data-bid="11"],
[data-max-bid="6"] li[data-bid="12"],
[data-max-bid="6"] li[data-bid="13"],
[data-max-bid="7"] li[data-bid="8"],
[data-max-bid="7"] li[data-bid="9"],
[data-max-bid="7"] li[data-bid="10"],
[data-max-bid="7"] li[data-bid="11"],
[data-max-bid="7"] li[data-bid="12"],
[data-max-bid="7"] li[data-bid="13"],
[data-max-bid="8"] li[data-bid="9"],
[data-max-bid="8"] li[data-bid="10"],
[data-max-bid="8"] li[data-bid="11"],
[data-max-bid="8"] li[data-bid="12"],
[data-max-bid="8"] li[data-bid="13"],
[data-max-bid="9"] li[data-bid="10"],
[data-max-bid="9"] li[data-bid="11"],
[data-max-bid="9"] li[data-bid="12"],
[data-max-bid="9"] li[data-bid="13"],
[data-max-bid="10"] li[data-bid="11"],
[data-max-bid="10"] li[data-bid="12"],
[data-max-bid="10"] li[data-bid="13"],
[data-max-bid="11"] li[data-bid="12"],
[data-max-bid="11"] li[data-bid="13"],
[data-max-bid="12"] li[data-bid="13"] {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .bidding {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
