# fly.toml app configuration file generated for meeplitis on 2023-04-29T08:50:44-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "meeplitis"
app_name = "Meeplitis Compute"
primary_region = "atl"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
