---
layout: layouts/banner.njk
stylesheets:
- /ui.css
- /signon.css
modules:
- ./ui.js
class: borderless-img centered
---
<div class="signon" id='signin-section' style="display: none;">
  <form id='signin'>
      <label>Email</label><input autofocus type='email' name='email' /><br>
      <label>Password</label><input type='password' name='password' /><br>
      <input type='submit' value="Sign In">
  </form>
  <p><a href="/signup">Sign up</a> if you don't have an account.</p>
  <p><a href="/reset-password">Reset your password</a> if you've forgotten it.</p>
</div>
<div class="signon" id='signout-section' style="display: none;">
  <p></p>
  <button id='signout-button'>Sign Out</button>
</div>
