---
layout: layouts/main.njk
stylesheets:
- /index.css
---
<header class="banner">
  <figure class="avatar">
    {% if subject_url %}<img id="subject" src="{{ subject_url }}">{% else %}<img id="subject" src="/images/meeple.png">
{% endif %}
  </figure>
  <h1 id="identity" data-title="{{title}}" {% if identity %} data-id="{{identity}}" {% endif %}>{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}{% if release %}<sup>{{release}}</sup>{% endif %}</h1><span class="controls"><a href="/profiles/edit">Edit</a></span>
  {% if headline %}<div class="headline">{{ headline }}</div>{% else %}<div class="headline">{{ site.description }}</div>{% endif %}
</header>
<main>
{{ content | safe }}
</main>
<footer>
  <ul>
    <li><a href="/games">Games</a></li>
    <li><a href="/profiles/?">Profiles</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/">{{ site.title }}</a> {{ site.copyright }}</li>
  </ul>
</footer>
