---
layout: layouts/main.njk
stylesheets:
- /index.css
---
<header class="banner">
  <figure class="avatar">
    <img id="subject" src="{{ subject_url }}">
  </figure>
  <h1 data-title="{{title}}">{{ title }}</h1><span class="controls"><a href="/profiles/edit">Edit</a></span>
  <div class="headline">{{ headline }}</div>
</header>
<main>
{{ content | safe }}
</main>
<footer>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/feedback">Feedback</a></li>
    <li>Your Move © 2022-2023</li>
  </ul>
</footer>
