<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/games/index.css">
  {% for href in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ href }}">
  {% endfor %}
  </head>
  <body>
    <div id="game">
      <span>{{site.title}}: {{ title }}</span>
      <div id="replay">
        <span class="touch">0</span> of <span class="touches">0</span>
        <img data-go="inception" src="../../../images/inception.png">
        <img data-go="back" src="../../../images/back.png">
        <img data-go="forward" src="../../../images/forward.png">
        <img data-go="present" src="../../../images/present.png">
      </div>
    </div>
    {{ content | safe }}
  </body>
  {% for src in modules %}
    <script type="module" src="{{ src }}"></script>
  {% endfor %}
</html>
