<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/games/index.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
  </head>
  <body>
    <div id="game">
      <img id="logo" src="../../../images/meeple.png"><a id="title" href="{{ path }}">{{ title }}</a><span id="phase"></span>
      <img id="up" alt="It's your turn" title="It's your turn (when lit)" src="../../../images/pawn.svg">
      <div id="replay">
        <span class="touch">-</span> of <span class="touches">-</span>
        <img data-go="inception" title="Inception: Press Shift + Left Arrow" src="../../../images/inception.png">
        <img data-go="back" title="Back: Press Left Arrow" src="../../../images/back.png">
        <img data-go="forward" title="Forward: Press Right Arrow" src="../../../images/forward.png">
        <img data-go="present" title="Present: Press Shift + Right Arrow" src="../../../images/present.png">
      </div>
    </div>
    {{ content | safe }}
  </body>
  <script type="module" src="./index.js"></script>
</html>
