<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" type="image/x-icon" href="/images/meeple.svg">
  {% for href in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ href }}">
  {% endfor %}
  </head>
  <body{% if classes %} class="{{classes}}"{% endif %}>
      {{ content | safe }}
    <a id="you"></a><a class="signin" href="/signin">Sign In</a>
  </body>
  <script type="module" src="/lib/session.js"></script><!-- register user presence! -->
  {% for src in modules %}
    <script type="module" src="{{ src }}"></script>
  {% endfor %}
</html>
