---
  layout: layouts/main.njk
---
<a href="/" id="sitename">{{ site.title }}</a>
<article lang="{{ language }}">
  <header>
    <h1>{{ title }}</h1>
    {% if teaser %}<p>{{ teaser }}</p>{% endif %}
    {% if date %}<time>{{ date | date('DATE') }}</time>{% endif %}
    <ul class='tags'>
    {% for tag in tags %}
    <li>{{ tag }}</li>
    {% endfor %}
    </ul>
  </header>
  {{ content | safe }}
</article>
{% include "templates/whereabouts.njk" %}

