---
layout: layouts/main.njk
modules:
- ./index.js
stylesheets:
- ./index.css
- /games/game.css
---
<div class="banner">
  <img id="profile">
  <h1></h1>
  <div class="headline"></div>
</div>
<section class="about">
  <h2>About</h2>
  <p></p>
</section>
<section class="open">
  <h2>Tables (open or started)</h2>
  <p></p>
</section>
