---
title: Oh Hell (Blackout)
indicator_url: /images/games/ohhell.jpg
min_players: 2
max_players: 7
publisher: Public Domain
designers: Uncredited
developers: Mario T. Lanza
layout: layouts/game.njk
classes: meeple
stylesheets:
- /games/game.css
- ./index.css
modules:
- ./index.js
about: |
  Oh Hell is a trick-taking game with an arbitrary trump suit each round.

  Before each round players assess their hands and blindly bid how many tricks they'll take.  When a round concludes they compare their trick counts against their bids.  Those who matched their bids exactly score their bids plus 10.  Those who were under or over, score 0.

  The first card lead to a trick designates the suit others are compelled to follow.  Players who lack this suit, however, may play any card.  Once each player has thrown, the trick is awarded to the one who threw the highest card in the lead suit, unless trumped, in which case it goes to the one who threw the highest card in the trump suit.  The player who wins this trick leads the next.  Players may not lead with trump unless they've been previously "broken" by someone who couldn't follow the lead suit.

  Each game lasts 13 rounds.  Players are dealt 1 card in the first round, 2 in the second, and so on up to 7 in the seventh and then back down to 1.  In the down-and-up variant players are dealt 7 cards in the first round, 6 in the second, and so on down to 1 in the seventh and then back up to 7.

  After the final round, the player with the best score wins!
---
