---
title: Oh Hell
subject_url: /images/games/ohhell.jpg
headline: Trick-taking card game for 2 to 7 players
publisher: Public Domain
designers: Uncredited
developers: Mario T. Lanza
layout: layouts/game.njk
stylesheets:
- /index.css
- ./index.css
modules:
- ./index.js

about: |
  Oh Hell is a traditional, trick-taking game which evolved to include a variety of rules permutations.  This implementation, sometimes called "Up and Down The River," is as follows.

  There is an arbitrary trump suit each round determined by a card flipped from the top of the deck after hands are dealt.

  Before each round players assess their hands and blindly bid the number of tricks they'll take.  When a round concludes they compare their tricks against their bids.  Those who matched their bids exactly score their bids plus 10.  Those who are under or over score 0.

  The first card lead to a trick designates the suit others are compelled to follow.  Players who lack this suit, however, may play any card.  Once each player has thrown, the trick is awarded to the one who threw the highest card in the lead suit, unless trumped, in which case it goes to the one who threw the highest card in the trump suit.  The player who wins this trick leads the next.

  Players may not lead trumps until they've been previously "broken."  This happens when someone is unable to follow the lead suit and chooses to play trump.

  Each game lasts 13 rounds.  Players are dealt 1 card in the first round, 2 in the second, and so on up to 7 in the seventh and then back down to 1.  In the "Down and Up" variant players are dealt 7 cards in the first round, 6 in the second, and so on down to 1 in the seventh and then back up to 7.

  After the final round, the player who accumulated the best total score wins!

implementation: |
  During bidding, since bids are blind, players may change their bids.  When the final bid is received, by whomever happens to bid last, all bids are revealed and playing into and taking tricks begins.

  Whenever players are down to a single card, play is automatic due to the lack of choice.
---
