body.meeple h1 {
  width: 10em;
}
body {
  padding-bottom: 5em;
}
.game {
  display: inline;
}
.table {
  position: relative;
  border: solid 1px black;
  border-radius: 30px;
  margin: 1em;
  padding: .5em;
  display: block;
  color: white;
  background-color: #3E505C;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  height: auto;
  background: url(/images/backgrounds/denim.webp);
  transition: height .5s;
  margin: 1em auto;
  width: 26em;
}
.unscored {
  vertical-align: top;
  margin-left: -5px;
}
.table img {
  height: 5em;
  border-radius: 1em;
  border: solid 3px #AAA;
  display: inline;
  padding: 0;
  margin: 5px;
}
.table a {
  color: white;
}
.table .id {
  position: absolute;
  left: 110px;
  top: 5px;
  font-size: .5em;
}
.table[data-table-status="open"] .controls button {
  display: inline;
}
.table[data-table-status="open"] .controls a.enter {
  display: none;
}
.table[data-table-status="started"] .controls button {
  display: none;
}
.controls {
  margin-left: 8em;
  font-size: .8em;
  margin-bottom: 5px;
}
.controls > * {
  margin-left: 5px;
}
.seats img {
  height: 4em;
}
.table img + img {
  margin-left: 3px;
}
.seats {
  display: block;
  width: 20em;
  margin-left: 6.1em;
  margin-top: -5.8em;
}
.seats img {
  border: dashed 3px white;
}
[data-table-status="started"] .seats img {
  border: solid 3px white;
}
#creates {
  width: 27em;
  padding: 0;
  margin: -1em auto 2em;
  font-size: 1.2em;
}
#creates input[type="submit"] {
  padding: 5px;
  margin-left: 7.2em;
}
#creates span {
  display: inline-block;
  width: 5em;
  clear: left;
  color: #3E505C;
}
#creates span::after {
  content: ": "
}
#creates label {
  margin-right: 5px;
}
#creates label label {
  margin-right: .8em;
}
#creates > * {
  display: block;
  margin-bottom: 2px;
}
#creates input[type="text"] {
  width: 30em;
}
