---
title: Backgammon
path: /games/backgammon/
layout: layouts/table.njk
---
<div id="board" class="board"></div>
<div class="moves">
  <button data-type="roll">Roll</button>
  <button data-type="propose-double">Propose Double</button>
  <button data-type="accept" data-answer="accept">Accept</button>
  <button data-type="concede" data-answer="conceded">Concede</button>
  <button data-type="commit">I'm done</button>
</div>
