---
title: Backgammon
path: /games/backgammon/
layout: layouts/table.njk
---
<div id="board" class="board"></div>
<div id="dice">
  <ol>
    <li><img src="./images/1.svg" alt="1"></li>
    <li><img src="./images/2.svg" alt="2"></li>
    <li><img src="./images/3.svg" alt="3"></li>
    <li><img src="./images/4.svg" alt="4"></li>
    <li><img src="./images/5.svg" alt="5"></li>
    <li><img src="./images/6.svg" alt="6"></li>
  </ol>
</div>
<div class="moves">
  <button data-type="roll">Roll</button>
  <button data-type="propose-double">Propose Double</button>
  <button data-type="accept" data-answer="accept">Accept</button>
  <button data-type="concede" data-answer="conceded">Concede</button>
  <button data-type="commit">I'm done</button>
</div>
