.cross-checker {
  --checker-fill: #d2cbb8;
  --checker-stroke: #1f2022;
  --accent: #ffffff;
  --accent-opacity: 0.7;
  pointer-events: none;
}
.crown-checker {
  --checker-fill: #333538;
  --checker-stroke: #ffffff;
  --accent: #ffffff;
  --accent-opacity: 0.3;
  pointer-events: none;
}
.ring {
  fill:none;
  stroke:var(--accent);
  stroke-opacity:1;
  stroke-width:1px;
}
.cross-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.cross-checker #cross path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
.crown-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.crown-checker #crown path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
.checker-edge {
  fill: var(--checker-fill);
  stroke: #1f2022;
  stroke-opacity: 1;
}
.cross-checker .checker-edge {
  stroke-width: 1px;
}
.crown-checker .checker-edge {
  stroke-width: 1px;
  stroke: white;
}
#point-numbers .top text {
  transform: translateY(33px);
}
#point-numbers .bottom text {
  transform: translateY(956px);
}
#point-numbers {
  font-family: Tahoma;
  font-size: 25px;
  font-weight: bold;
  fill: black;
  stroke: white;
  stroke-width: .750;
  text-anchor: middle;
}
.players {
  width: 20em;
  height: auto;
  z-index: 99;
  float: right;
  margin-top: .5em;
  position: relative;
}
#event p {
  line-height: 1.75em;
}
#table[data-event-type="finished"] #event {
  min-height: 8em;
}
ol.scored, table.rankings {
  display: none;
}
.message p {
  max-width: 18em;
}
.message {
  min-width: 25em;
  left: calc(50% - 13.5em)
}
#table .area {
  min-height: 2em;
  height: 2.75em;
  width: 10em;
  margin: 2px auto 0;
}
#table .zone {
  min-height: 5em;
  margin-bottom: .5em;
}
#table div.player {
  width: 22em;
  max-width: 22em;
}
.brown {
  fill: #b29069
}
.beige {
  fill: #d2cbb8;
}
.point:hover, .off-board:hover, .bar:hover {
  cursor: pointer;
}
.point:hover .beige {
  fill: #e5e0cf;
}
.point:hover .brown {
  fill: #c5ab8e;
}
#point-numbers {
  opacity: 0;
  transition: .5s;
}
svg#board:hover #point-numbers {
  opacity: 1;
}
#table #board {
  width: 500px;
  margin-top: -2px;
}
#table #board #frame {
  --filter: drop-shadow(-12px 12px 10px rgba(0, 0, 0, 0.4)) drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.2));
}
#table div.player > div {
  width: 12em;
}
#table #board {
  height: 600px;
  width: 750px;
  margin-left: .75em;
  vertical-align: top;
}
.off-board,
.bar {
  pointer-events: bounding-box !important;
  fill: rgba(51, 53, 56, 1);
  fill-opacity: 0;
  stroke: transparent;                 /* stroke color */
  stroke-width: 2px;             /* stroke thickness */
  stroke-dasharray: 6, 3;
  rx: 15px;
  ry: 15px;
}
.player img.checker {
  height: 2em;
  padding-top: 5px;
}
[data-point]{
  transform-box: fill-box;           /* safer transforms on SVG */
  transform-origin: center;
  pointer-events: none;
  transition: transform .5s ease-in-out;
}
[data-point="bar-white"] {
  transform: translate(560.44px, 856.61px);
}
[data-point="bar-white"][data-pos="2"] {
  transform: translate(560.44px, 779.61px);
}
[data-point="bar-white"][data-pos="3"] {
  transform: translate(560.44px, 702.61px);
}
[data-point="bar-white"][data-pos="4"] {
  transform: translate(560.44px, 625.61px);
}
[data-point="bar-white"][data-pos="5"] {
  transform: translate(560.44px, 548.61px);
}
[data-point="off-board-white"] {
  transform: translate(1200px, 38px);
}
[data-point="off-board-white"][data-pos="2"] {
  transform: translate(1200px, 115px);
}
[data-point="off-board-white"][data-pos="3"] {
  transform: translate(1200px, 192px);
}
[data-point="off-board-white"][data-pos="4"] {
  transform: translate(1200px, 269px);
}
[data-point="off-board-white"][data-pos="5"] {
  transform: translate(1200px, 346px);
}

[data-point="0"] {
  transform: translate(1079.44px, 856.61px);
}
[data-point="0"][data-pos="2"] {
  transform: translate(1079.44px, 779.61px);
}
[data-point="0"][data-pos="3"] {
  transform: translate(1079.44px, 702.61px);
}
[data-point="0"][data-pos="4"] {
  transform: translate(1079.44px, 625.61px);
}
[data-point="0"][data-pos="5"] {
  transform: translate(1079.44px, 548.61px);
}
[data-point="1"] {
  transform: translate(991.44px, 856.61px);
}
[data-point="1"][data-pos="2"] {
  transform: translate(991.44px, 779.61px);
}
[data-point="1"][data-pos="3"] {
  transform: translate(991.44px, 702.61px);
}
[data-point="1"][data-pos="4"] {
  transform: translate(991.44px, 625.61px);
}
[data-point="1"][data-pos="5"] {
  transform: translate(991.44px, 548.61px);
}
[data-point="2"] {
  transform: translate(903.44px, 856.61px);
}
[data-point="2"][data-pos="2"] {
  transform: translate(903.44px, 779.61px);
}
[data-point="2"][data-pos="3"] {
  transform: translate(903.44px, 702.61px);
}
[data-point="2"][data-pos="4"] {
  transform: translate(903.44px, 625.61px);
}
[data-point="2"][data-pos="5"] {
  transform: translate(903.44px, 548.61px);
}
[data-point="3"] {
  transform: translate(815.44px, 856.61px);
}
[data-point="3"][data-pos="2"] {
  transform: translate(815.44px, 779.61px);
}
[data-point="3"][data-pos="3"] {
  transform: translate(815.44px, 702.61px);
}
[data-point="3"][data-pos="4"] {
  transform: translate(815.44px, 625.61px);
}
[data-point="3"][data-pos="5"] {
  transform: translate(815.44px, 548.61px);
}
[data-point="4"] {
  transform: translate(727.44px, 856.61px);
}
[data-point="4"][data-pos="2"] {
  transform: translate(727.44px, 779.61px);
}
[data-point="4"][data-pos="3"] {
  transform: translate(727.44px, 702.61px);
}
[data-point="4"][data-pos="4"] {
  transform: translate(727.44px, 625.61px);
}
[data-point="4"][data-pos="5"] {
  transform: translate(727.44px, 548.61px);
}
[data-point="5"] {
  transform: translate(639.44px, 856.61px);
}
[data-point="5"][data-pos="2"] {
  transform: translate(639.44px, 779.61px);
}
[data-point="5"][data-pos="3"] {
  transform: translate(639.44px, 702.61px);
}
[data-point="5"][data-pos="4"] {
  transform: translate(639.44px, 625.61px);
}
[data-point="5"][data-pos="5"] {
  transform: translate(639.44px, 548.61px);
}
[data-point="6"] {
  transform: translate(482.44px, 856.61px);
}
[data-point="6"][data-pos="2"] {
  transform: translate(482.44px, 779.61px);
}
[data-point="6"][data-pos="3"] {
  transform: translate(482.44px, 702.61px);
}
[data-point="6"][data-pos="4"] {
  transform: translate(482.44px, 625.61px);
}
[data-point="6"][data-pos="5"] {
  transform: translate(482.44px, 548.61px);
}
[data-point="7"] {
  transform: translate(394.44px, 856.61px);
}
[data-point="7"][data-pos="2"] {
  transform: translate(394.44px, 779.61px);
}
[data-point="7"][data-pos="3"] {
  transform: translate(394.44px, 702.61px);
}
[data-point="7"][data-pos="4"] {
  transform: translate(394.44px, 625.61px);
}
[data-point="7"][data-pos="5"] {
  transform: translate(394.44px, 548.61px);
}
[data-point="8"] {
  transform: translate(306.44px, 856.61px);
}
[data-point="8"][data-pos="2"] {
  transform: translate(306.44px, 779.61px);
}
[data-point="8"][data-pos="3"] {
  transform: translate(306.44px, 702.61px);
}
[data-point="8"][data-pos="4"] {
  transform: translate(306.44px, 625.61px);
}
[data-point="8"][data-pos="5"] {
  transform: translate(306.44px, 548.61px);
}
[data-point="9"] {
  transform: translate(218.44px, 856.61px);
}
[data-point="9"][data-pos="2"] {
  transform: translate(218.44px, 779.61px);
}
[data-point="9"][data-pos="3"] {
  transform: translate(218.44px, 702.61px);
}
[data-point="9"][data-pos="4"] {
  transform: translate(218.44px, 625.61px);
}
[data-point="9"][data-pos="5"] {
  transform: translate(218.44px, 548.61px);
}
[data-point="10"] {
  transform: translate(130.44px, 856.61px);
}
[data-point="10"][data-pos="2"] {
  transform: translate(130.44px, 779.61px);
}
[data-point="10"][data-pos="3"] {
  transform: translate(130.44px, 702.61px);
}
[data-point="10"][data-pos="4"] {
  transform: translate(130.44px, 625.61px);
}
[data-point="10"][data-pos="5"] {
  transform: translate(130.44px, 548.61px);
}
[data-point="11"] {
  transform: translate(42.44px, 856.61px);
}
[data-point="11"][data-pos="2"] {
  transform: translate(42.44px, 779.61px);
}
[data-point="11"][data-pos="3"] {
  transform: translate(42.44px, 702.61px);
}
[data-point="11"][data-pos="4"] {
  transform: translate(42.44px, 625.61px);
}
[data-point="11"][data-pos="5"] {
  transform: translate(42.44px, 548.61px);
}
[data-point="12"] {
  transform: translate(42.44px, 38px);
}
[data-point="12"][data-pos="2"] {
  transform: translate(42.44px, 115px);
}
[data-point="12"][data-pos="3"] {
  transform: translate(42.44px, 192px);
}
[data-point="12"][data-pos="4"] {
  transform: translate(42.44px, 269px);
}
[data-point="12"][data-pos="5"] {
  transform: translate(42.44px, 346px);
}
[data-point="13"] {
  transform: translate(130.44px, 38px);
}
[data-point="13"][data-pos="2"] {
  transform: translate(130.44px, 115px);
}
[data-point="13"][data-pos="3"] {
  transform: translate(130.44px, 192px);
}
[data-point="13"][data-pos="4"] {
  transform: translate(130.44px, 269px);
}
[data-point="13"][data-pos="5"] {
  transform: translate(130.44px, 346px);
}
[data-point="14"] {
  transform: translate(218.44px, 38px);
}
[data-point="14"][data-pos="2"] {
  transform: translate(218.44px, 115px);
}
[data-point="14"][data-pos="3"] {
  transform: translate(218.44px, 192px);
}
[data-point="14"][data-pos="4"] {
  transform: translate(218.44px, 269px);
}
[data-point="14"][data-pos="5"] {
  transform: translate(218.44px, 346px);
}
[data-point="15"] {
  transform: translate(306.44px, 38px);
}
[data-point="15"][data-pos="2"] {
  transform: translate(306.44px, 115px);
}
[data-point="15"][data-pos="3"] {
  transform: translate(306.44px, 192px);
}
[data-point="15"][data-pos="4"] {
  transform: translate(306.44px, 269px);
}
[data-point="15"][data-pos="5"] {
  transform: translate(306.44px, 346px);
}
[data-point="16"] {
  transform: translate(394.44px, 38px);
}
[data-point="16"][data-pos="2"] {
  transform: translate(394.44px, 115px);
}
[data-point="16"][data-pos="3"] {
  transform: translate(394.44px, 192px);
}
[data-point="16"][data-pos="4"] {
  transform: translate(394.44px, 269px);
}
[data-point="16"][data-pos="5"] {
  transform: translate(394.44px, 346px);
}
[data-point="17"] {
  transform: translate(482.44px, 38px);
}
[data-point="17"][data-pos="2"] {
  transform: translate(482.44px, 115px);
}
[data-point="17"][data-pos="3"] {
  transform: translate(482.44px, 192px);
}
[data-point="17"][data-pos="4"] {
  transform: translate(482.44px, 269px);
}
[data-point="17"][data-pos="5"] {
  transform: translate(482.44px, 346px);
}
[data-point="18"] {
  transform: translate(639.44px, 38px);
}
[data-point="18"][data-pos="2"] {
  transform: translate(639.44px, 115px);
}
[data-point="18"][data-pos="3"] {
  transform: translate(639.44px, 192px);
}
[data-point="18"][data-pos="4"] {
  transform: translate(639.44px, 269px);
}
[data-point="18"][data-pos="5"] {
  transform: translate(639.44px, 346px);
}
[data-point="19"] {
  transform: translate(727.44px, 38px);
}
[data-point="19"][data-pos="2"] {
  transform: translate(727.44px, 115px);
}
[data-point="19"][data-pos="3"] {
  transform: translate(727.44px, 192px);
}
[data-point="19"][data-pos="4"] {
  transform: translate(727.44px, 269px);
}
[data-point="19"][data-pos="5"] {
  transform: translate(727.44px, 346px);
}
[data-point="20"] {
  transform: translate(815.44px, 38px);
}
[data-point="20"][data-pos="2"] {
  transform: translate(815.44px, 115px);
}
[data-point="20"][data-pos="3"] {
  transform: translate(815.44px, 192px);
}
[data-point="20"][data-pos="4"] {
  transform: translate(815.44px, 269px);
}
[data-point="20"][data-pos="5"] {
  transform: translate(815.44px, 346px);
}
[data-point="21"] {
  transform: translate(903.44px, 38px);
}
[data-point="21"][data-pos="2"] {
  transform: translate(903.44px, 115px);
}
[data-point="21"][data-pos="3"] {
  transform: translate(903.44px, 192px);
}
[data-point="21"][data-pos="4"] {
  transform: translate(903.44px, 269px);
}
[data-point="21"][data-pos="5"] {
  transform: translate(903.44px, 346px);
}
[data-point="22"] {
  transform: translate(991.44px, 38px);
}
[data-point="22"][data-pos="2"] {
  transform: translate(991.44px, 115px);
}
[data-point="22"][data-pos="3"] {
  transform: translate(991.44px, 192px);
}
[data-point="22"][data-pos="4"] {
  transform: translate(991.44px, 269px);
}
[data-point="22"][data-pos="5"] {
  transform: translate(991.44px, 346px);
}
[data-point="23"] {
  transform: translate(1079.44px, 38px);
}
[data-point="23"][data-pos="2"] {
  transform: translate(1079.44px, 115px);
}
[data-point="23"][data-pos="3"] {
  transform: translate(1079.44px, 192px);
}
[data-point="23"][data-pos="4"] {
  transform: translate(1079.44px, 269px);
}
[data-point="23"][data-pos="5"] {
  transform: translate(1079.44px, 346px);
}
[data-point="bar-black"] {
  transform: translate(560.44px, 38px);
}
[data-point="bar-black"][data-pos="2"] {
  transform: translate(560.44px, 115px);
}
[data-point="bar-black"][data-pos="3"] {
  transform: translate(560.44px, 192px);
}
[data-point="bar-black"][data-pos="4"] {
  transform: translate(560.44px, 269px);
}
[data-point="bar-black"][data-pos="5"] {
  transform: translate(560.44px, 346px);
}
[data-point="off-board-black"] {
  transform: translate(1200px, 856.61px);
}
[data-point="off-board-black"][data-pos="2"] {
  transform: translate(1200px, 779.61px);
}
[data-point="off-board-black"][data-pos="3"] {
  transform: translate(1200px, 702.61px);
}
[data-point="off-board-black"][data-pos="4"] {
  transform: translate(1200px, 625.61px);
}
[data-point="off-board-black"][data-pos="5"] {
  transform: translate(1200px, 548.61px);
}
.act[data-allow-commands*=commit] .moves button[data-type="commit"],
.act[data-allow-commands*=roll] .moves button[data-type="roll"],
.act[data-allow-commands*=propose-double] .moves button[data-type="propose-double"],
.act[data-allow-commands*=accept] .moves button[data-type="accept"],
.act[data-allow-commands*=concede] .moves button[data-type="concede"]{
  display: inline !important;
}
p img.die {
  height: 2em;
  vertical-align: top;
  margin-top: -3px;
}
#dice ol {
  list-style: none;
  padding: 0;
  margin-left: 2em;
}
#dice li {
  float: left;
  padding: 0;
  margin:0;
}
[data-dice] li {
  display: none;
}
:is([data-dice="1"],[data-dice="1 1"],[data-dice="1 2"],[data-dice="1 3"],[data-dice="1 4"],[data-dice="1 5"],[data-dice="1 6"],[data-dice="1 1 1"],[data-dice="1 1 1 1"]) #die-1 li[alt="1"],
:is([data-dice="2"],[data-dice="2 1"],[data-dice="2 2"],[data-dice="2 3"],[data-dice="2 4"],[data-dice="2 5"],[data-dice="2 6"],[data-dice="2 2 2"],[data-dice="2 2 2 2"]) #die-1 li[alt="2"],
:is([data-dice="3"],[data-dice="3 1"],[data-dice="3 2"],[data-dice="3 3"],[data-dice="3 4"],[data-dice="3 5"],[data-dice="3 6"],[data-dice="3 3 3"],[data-dice="3 3 3 3"]) #die-1 li[alt="3"],
:is([data-dice="4"],[data-dice="4 1"],[data-dice="4 2"],[data-dice="4 3"],[data-dice="4 4"],[data-dice="4 5"],[data-dice="4 6"],[data-dice="4 4 4"],[data-dice="4 4 4 4"]) #die-1 li[alt="4"],
:is([data-dice="5"],[data-dice="5 1"],[data-dice="5 2"],[data-dice="5 3"],[data-dice="5 4"],[data-dice="5 5"],[data-dice="5 6"],[data-dice="5 5 5"],[data-dice="5 5 5 5"]) #die-1 li[alt="5"],
:is([data-dice="6"],[data-dice="6 1"],[data-dice="6 2"],[data-dice="6 3"],[data-dice="6 4"],[data-dice="6 5"],[data-dice="6 6"],[data-dice="6 6 6"],[data-dice="6 6 6 6"]) #die-1 li[alt="6"],
:is([data-dice="1 1"],[data-dice="2 1"],[data-dice="3 1"],[data-dice="4 1"],[data-dice="5 1"],[data-dice="6 1"],[data-dice="1 1 1"],[data-dice="1 1 1 1"]) #die-2 li[alt="1"],
:is([data-dice="1 2"],[data-dice="2 2"],[data-dice="3 2"],[data-dice="4 2"],[data-dice="5 2"],[data-dice="6 2"],[data-dice="2 2 2"],[data-dice="2 2 2 2"]) #die-2 li[alt="2"],
:is([data-dice="1 3"],[data-dice="2 3"],[data-dice="3 3"],[data-dice="4 3"],[data-dice="5 3"],[data-dice="6 3"],[data-dice="3 3 3"],[data-dice="3 3 3 3"]) #die-2 li[alt="3"],
:is([data-dice="1 4"],[data-dice="2 4"],[data-dice="3 4"],[data-dice="4 4"],[data-dice="5 4"],[data-dice="6 4"],[data-dice="4 4 4"],[data-dice="4 4 4 4"]) #die-2 li[alt="4"],
:is([data-dice="1 5"],[data-dice="2 5"],[data-dice="3 5"],[data-dice="4 5"],[data-dice="5 5"],[data-dice="6 5"],[data-dice="5 5 5"],[data-dice="5 5 5 5"]) #die-2 li[alt="5"],
:is([data-dice="1 6"],[data-dice="2 6"],[data-dice="3 6"],[data-dice="4 6"],[data-dice="5 6"],[data-dice="6 6"],[data-dice="6 6 6"],[data-dice="6 6 6 6"]) #die-2 li[alt="6"],
:is([data-dice="1 1 1"],[data-dice="1 1 1 1"]) #die-3 li[alt="1"],
:is([data-dice="2 2 2"],[data-dice="2 2 2 2"]) #die-3 li[alt="2"],
:is([data-dice="3 3 3"],[data-dice="3 3 3 3"]) #die-3 li[alt="3"],
:is([data-dice="4 4 4"],[data-dice="4 4 4 4"]) #die-3 li[alt="4"],
:is([data-dice="5 5 5"],[data-dice="5 5 5 5"]) #die-3 li[alt="5"],
:is([data-dice="6 6 6"],[data-dice="6 6 6 6"]) #die-3 li[alt="6"],
[data-dice="1 1 1 1"] #die-4 li[alt="1"],
[data-dice="2 2 2 2"] #die-4 li[alt="2"],
[data-dice="3 3 3 3"] #die-4 li[alt="3"],
[data-dice="4 4 4 4"] #die-4 li[alt="4"],
[data-dice="5 5 5 5"] #die-4 li[alt="5"],
[data-dice="6 6 6 6"] #die-4 li[alt="6"] {
  display: block;
  animation: bump .25s ease-in;
}
#dice li img {
  max-width: 4em;
}
.act #bar-white,
.act #point-0 path:first-child,
.act #point-1 path:first-child,
.act #point-2 path:first-child,
.act #point-3 path:first-child,
.act #point-4 path:first-child,
.act #point-5 path:first-child,
.act #point-6 path:first-child,
.act #point-7 path:first-child,
.act #point-8 path:first-child,
.act #point-9 path:first-child,
.act #point-10 path:first-child,
.act #point-11 path:first-child,
.act #point-12 path:first-child,
.act #point-13 path:first-child,
.act #point-14 path:first-child,
.act #point-15 path:first-child,
.act #point-16 path:first-child,
.act #point-17 path:first-child,
.act #point-18 path:first-child,
.act #point-19 path:first-child,
.act #point-20 path:first-child,
.act #point-21 path:first-child,
.act #point-22 path:first-child,
.act #point-23 path:first-child,
.act #bar-black {
  transition: fill .2s ease-in-out, stroke .2s ease-in-out, opacity .2s ease-in-out;
}

.act[data-perspective='0'] #off-board-white,
.act[data-perspective='1'] #off-board-black {
  stroke: black;
  stroke-opacity: .5;
  fill: black;
  fill-opacity: .2;
}

.act[data-froms~="-1"]:not([data-from],[data-dice='']) #bar-white,
.act[data-froms~="0"]:not([data-from],[data-dice='']) #point-0 path:first-child,
.act[data-froms~="1"]:not([data-from],[data-dice='']) #point-1 path:first-child,
.act[data-froms~="2"]:not([data-from],[data-dice='']) #point-2 path:first-child,
.act[data-froms~="3"]:not([data-from],[data-dice='']) #point-3 path:first-child,
.act[data-froms~="4"]:not([data-from],[data-dice='']) #point-4 path:first-child,
.act[data-froms~="5"]:not([data-from],[data-dice='']) #point-5 path:first-child,
.act[data-froms~="6"]:not([data-from],[data-dice='']) #point-6 path:first-child,
.act[data-froms~="7"]:not([data-from],[data-dice='']) #point-7 path:first-child,
.act[data-froms~="8"]:not([data-from],[data-dice='']) #point-8 path:first-child,
.act[data-froms~="9"]:not([data-from],[data-dice='']) #point-9 path:first-child,
.act[data-froms~="10"]:not([data-from],[data-dice='']) #point-10 path:first-child,
.act[data-froms~="11"]:not([data-from],[data-dice='']) #point-11 path:first-child,
.act[data-froms~="12"]:not([data-from],[data-dice='']) #point-12 path:first-child,
.act[data-froms~="13"]:not([data-from],[data-dice='']) #point-13 path:first-child,
.act[data-froms~="14"]:not([data-from],[data-dice='']) #point-14 path:first-child,
.act[data-froms~="15"]:not([data-from],[data-dice='']) #point-15 path:first-child,
.act[data-froms~="16"]:not([data-from],[data-dice='']) #point-16 path:first-child,
.act[data-froms~="17"]:not([data-from],[data-dice='']) #point-17 path:first-child,
.act[data-froms~="18"]:not([data-from],[data-dice='']) #point-18 path:first-child,
.act[data-froms~="19"]:not([data-from],[data-dice='']) #point-19 path:first-child,
.act[data-froms~="20"]:not([data-from],[data-dice='']) #point-20 path:first-child,
.act[data-froms~="21"]:not([data-from],[data-dice='']) #point-21 path:first-child,
.act[data-froms~="22"]:not([data-from],[data-dice='']) #point-22 path:first-child,
.act[data-froms~="23"]:not([data-from],[data-dice='']) #point-23 path:first-child,
.act[data-froms~="24"]:not([data-from],[data-dice='']) #bar-black {
  fill-opacity: .8;
  fill: #CCCC00;
}
.act[data-froms~="-1"]:not([data-from],[data-dice='']) #bar-white:hover,
.act[data-froms~="0"]:not([data-from],[data-dice='']) #point-0:hover path:first-child,
.act[data-froms~="1"]:not([data-from],[data-dice='']) #point-1:hover path:first-child,
.act[data-froms~="2"]:not([data-from],[data-dice='']) #point-2:hover path:first-child,
.act[data-froms~="3"]:not([data-from],[data-dice='']) #point-3:hover path:first-child,
.act[data-froms~="4"]:not([data-from],[data-dice='']) #point-4:hover path:first-child,
.act[data-froms~="5"]:not([data-from],[data-dice='']) #point-5:hover path:first-child,
.act[data-froms~="6"]:not([data-from],[data-dice='']) #point-6:hover path:first-child,
.act[data-froms~="7"]:not([data-from],[data-dice='']) #point-7:hover path:first-child,
.act[data-froms~="8"]:not([data-from],[data-dice='']) #point-8:hover path:first-child,
.act[data-froms~="9"]:not([data-from],[data-dice='']) #point-9:hover path:first-child,
.act[data-froms~="10"]:not([data-from],[data-dice='']) #point-10:hover path:first-child,
.act[data-froms~="11"]:not([data-from],[data-dice='']) #point-11:hover path:first-child,
.act[data-froms~="12"]:not([data-from],[data-dice='']) #point-12:hover path:first-child,
.act[data-froms~="13"]:not([data-from],[data-dice='']) #point-13:hover path:first-child,
.act[data-froms~="14"]:not([data-from],[data-dice='']) #point-14:hover path:first-child,
.act[data-froms~="15"]:not([data-from],[data-dice='']) #point-15:hover path:first-child,
.act[data-froms~="16"]:not([data-from],[data-dice='']) #point-16:hover path:first-child,
.act[data-froms~="17"]:not([data-from],[data-dice='']) #point-17:hover path:first-child,
.act[data-froms~="18"]:not([data-from],[data-dice='']) #point-18:hover path:first-child,
.act[data-froms~="19"]:not([data-from],[data-dice='']) #point-19:hover path:first-child,
.act[data-froms~="20"]:not([data-from],[data-dice='']) #point-20:hover path:first-child,
.act[data-froms~="21"]:not([data-from],[data-dice='']) #point-21:hover path:first-child,
.act[data-froms~="22"]:not([data-from],[data-dice='']) #point-22:hover path:first-child,
.act[data-froms~="23"]:not([data-from],[data-dice='']) #point-23:hover path:first-child,
.act[data-froms~="24"]:not([data-from],[data-dice='']) #bar-black:hover {
  fill-opacity: 1;
}
.act[data-froms~="-1"]:not([data-from],[data-dice='']) #bar-white,
.act[data-froms~="24"]:not([data-from],[data-dice='']) #bar-black {
  fill: white;
  fill-opacity: .2;
  stroke-opacity: 1;
  stroke: black;
  stroke-opacity: .5;
}
.act[data-froms~="-1"]:not([data-from],[data-dice='']) #bar-white:hover,
.act[data-froms~="24"]:not([data-from],[data-dice='']) #bar-black:hover {
  fill-opacity: .4;
}
.act[data-from] .point path.beige {
  fill: #e5e0cf;
}
.act[data-from] .point path.brown {
  fill: #c5ab8e;
}
.act[data-from="-1"]:not([data-dice='']) #bar-white,
.act[data-from="0"]:not([data-dice='']) #point-0 path:first-child,
.act[data-from="1"]:not([data-dice='']) #point-1 path:first-child,
.act[data-from="2"]:not([data-dice='']) #point-2 path:first-child,
.act[data-from="3"]:not([data-dice='']) #point-3 path:first-child,
.act[data-from="4"]:not([data-dice='']) #point-4 path:first-child,
.act[data-from="5"]:not([data-dice='']) #point-5 path:first-child,
.act[data-from="6"]:not([data-dice='']) #point-6 path:first-child,
.act[data-from="7"]:not([data-dice='']) #point-7 path:first-child,
.act[data-from="8"]:not([data-dice='']) #point-8 path:first-child,
.act[data-from="9"]:not([data-dice='']) #point-9 path:first-child,
.act[data-from="10"]:not([data-dice='']) #point-10 path:first-child,
.act[data-from="11"]:not([data-dice='']) #point-11 path:first-child,
.act[data-from="12"]:not([data-dice='']) #point-12 path:first-child,
.act[data-from="13"]:not([data-dice='']) #point-13 path:first-child,
.act[data-from="14"]:not([data-dice='']) #point-14 path:first-child,
.act[data-from="15"]:not([data-dice='']) #point-15 path:first-child,
.act[data-from="16"]:not([data-dice='']) #point-16 path:first-child,
.act[data-from="17"]:not([data-dice='']) #point-17 path:first-child,
.act[data-from="18"]:not([data-dice='']) #point-18 path:first-child,
.act[data-from="19"]:not([data-dice='']) #point-19 path:first-child,
.act[data-from="20"]:not([data-dice='']) #point-20 path:first-child,
.act[data-from="21"]:not([data-dice='']) #point-21 path:first-child,
.act[data-from="22"]:not([data-dice='']) #point-22 path:first-child,
.act[data-from="23"]:not([data-dice='']) #point-23 path:first-child,
.act[data-from="24"]:not([data-dice='']) #bar-black {
  fill-opacity: 1;
  fill: #CCCC00;
}
.act[data-from="-1"]:not([data-dice='']) #bar-white,
.act[data-from="24"]:not([data-dice='']) #bar-black {
  fill-opacity: .5;
  fill: yellow;
}
.act[data-tos~="-1"][data-perspective='0']:not([data-to],[data-dice='']) #off-board-white,
.act[data-tos~="0"]:not([data-to],[data-dice='']) #point-0 path:first-child,
.act[data-tos~="1"]:not([data-to],[data-dice='']) #point-1 path:first-child,
.act[data-tos~="2"]:not([data-to],[data-dice='']) #point-2 path:first-child,
.act[data-tos~="3"]:not([data-to],[data-dice='']) #point-3 path:first-child,
.act[data-tos~="4"]:not([data-to],[data-dice='']) #point-4 path:first-child,
.act[data-tos~="5"]:not([data-to],[data-dice='']) #point-5 path:first-child,
.act[data-tos~="6"]:not([data-to],[data-dice='']) #point-6 path:first-child,
.act[data-tos~="7"]:not([data-to],[data-dice='']) #point-7 path:first-child,
.act[data-tos~="8"]:not([data-to],[data-dice='']) #point-8 path:first-child,
.act[data-tos~="9"]:not([data-to],[data-dice='']) #point-9 path:first-child,
.act[data-tos~="10"]:not([data-to],[data-dice='']) #point-10 path:first-child,
.act[data-tos~="11"]:not([data-to],[data-dice='']) #point-11 path:first-child,
.act[data-tos~="12"]:not([data-to],[data-dice='']) #point-12 path:first-child,
.act[data-tos~="13"]:not([data-to],[data-dice='']) #point-13 path:first-child,
.act[data-tos~="14"]:not([data-to],[data-dice='']) #point-14 path:first-child,
.act[data-tos~="15"]:not([data-to],[data-dice='']) #point-15 path:first-child,
.act[data-tos~="16"]:not([data-to],[data-dice='']) #point-16 path:first-child,
.act[data-tos~="17"]:not([data-to],[data-dice='']) #point-17 path:first-child,
.act[data-tos~="18"]:not([data-to],[data-dice='']) #point-18 path:first-child,
.act[data-tos~="19"]:not([data-to],[data-dice='']) #point-19 path:first-child,
.act[data-tos~="20"]:not([data-to],[data-dice='']) #point-20 path:first-child,
.act[data-tos~="21"]:not([data-to],[data-dice='']) #point-21 path:first-child,
.act[data-tos~="22"]:not([data-to],[data-dice='']) #point-22 path:first-child,
.act[data-tos~="23"]:not([data-to],[data-dice='']) #point-23 path:first-child,
.act[data-tos~="24"][data-perspective='1']:not([data-to],[data-dice='']) #off-board-black {
  fill: olive;
  fill-opacity: .7;
}
.act[data-tos~="-1"][data-perspective='0']:not([data-to],[data-dice='']) #off-board-white,
.act[data-tos~="24"][data-perspective='1']:not([data-to],[data-dice='']) #off-board-black {
  fill-opacity: .3;
}
.act[data-tos~="0"]:not([data-to],[data-dice='']) #point-0:hover path:first-child,
.act[data-tos~="1"]:not([data-to],[data-dice='']) #point-1:hover path:first-child,
.act[data-tos~="2"]:not([data-to],[data-dice='']) #point-2:hover path:first-child,
.act[data-tos~="3"]:not([data-to],[data-dice='']) #point-3:hover path:first-child,
.act[data-tos~="4"]:not([data-to],[data-dice='']) #point-4:hover path:first-child,
.act[data-tos~="5"]:not([data-to],[data-dice='']) #point-5:hover path:first-child,
.act[data-tos~="6"]:not([data-to],[data-dice='']) #point-6:hover path:first-child,
.act[data-tos~="7"]:not([data-to],[data-dice='']) #point-7:hover path:first-child,
.act[data-tos~="8"]:not([data-to],[data-dice='']) #point-8:hover path:first-child,
.act[data-tos~="9"]:not([data-to],[data-dice='']) #point-9:hover path:first-child,
.act[data-tos~="10"]:not([data-to],[data-dice='']) #point-10:hover path:first-child,
.act[data-tos~="11"]:not([data-to],[data-dice='']) #point-11:hover path:first-child,
.act[data-tos~="12"]:not([data-to],[data-dice='']) #point-12:hover path:first-child,
.act[data-tos~="13"]:not([data-to],[data-dice='']) #point-13:hover path:first-child,
.act[data-tos~="14"]:not([data-to],[data-dice='']) #point-14:hover path:first-child,
.act[data-tos~="15"]:not([data-to],[data-dice='']) #point-15:hover path:first-child,
.act[data-tos~="16"]:not([data-to],[data-dice='']) #point-16:hover path:first-child,
.act[data-tos~="17"]:not([data-to],[data-dice='']) #point-17:hover path:first-child,
.act[data-tos~="18"]:not([data-to],[data-dice='']) #point-18:hover path:first-child,
.act[data-tos~="19"]:not([data-to],[data-dice='']) #point-19:hover path:first-child,
.act[data-tos~="20"]:not([data-to],[data-dice='']) #point-20:hover path:first-child,
.act[data-tos~="21"]:not([data-to],[data-dice='']) #point-21:hover path:first-child,
.act[data-tos~="22"]:not([data-to],[data-dice='']) #point-22:hover path:first-child,
.act[data-tos~="23"]:not([data-to],[data-dice='']) #point-23:hover path:first-child {
  fill-opacity: 1;
}
.act[data-tos~="-1"][data-perspective='0']:not([data-to],[data-dice='']) #off-board-white:hover,
.act[data-tos~="24"][data-perspective='1']:not([data-to],[data-dice='']) #off-board-black:hover {
  fill-opacity: .5;
}

@media (prefers-color-scheme: dark) {
  .act[data-perspective='0'] #off-board-white,
  .act[data-perspective='1'] #off-board-black {
    stroke: white;
    stroke-opacity: .5;
    fill: white;
    fill-opacity: .2;
  }
}

.act[data-from][data-tos~="-1"] #off-board-white,
.act[data-from][data-tos~="24"] #off-board-black {
  stroke: olive;
  stroke-opacity: .5;
  fill: olive;
  fill-opacity: .2;
}
.act[data-from][data-tos~="-1"] #off-board-white:hover,
.act[data-from][data-tos~="24"] #off-board-black:hover {
  stroke-opacity: 1;
  fill-opacity: .9;
}
#event img.checker {
  width: 1.5em;
  margin-bottom: -0.25em;
}

:is([data-from="-1"]):not([data-dice='']) #bar-white,
:is([data-from="24"]):not([data-dice='']) #bar-black {
  stroke: yellow;
  stroke-opacity: 1;
  fill-opacity: .2;
}

#overstack-counts {
  font-family: Tahoma;
  font-size: 30px;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: 2;
  text-anchor: middle;
  pointer-events: none; /* So it doesn't interfere with hover/click on points */
}

#overstack-counts > text {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out; /* No delay on fade-out */
}

[data-overstacked~="-1"] #overstack-counts > text[data-point="bar-white"],
[data-overstacked~="0"] #overstack-counts > text[data-point="0"],
[data-overstacked~="1"] #overstack-counts > text[data-point="1"],
[data-overstacked~="2"] #overstack-counts > text[data-point="2"],
[data-overstacked~="3"] #overstack-counts > text[data-point="3"],
[data-overstacked~="4"] #overstack-counts > text[data-point="4"],
[data-overstacked~="5"] #overstack-counts > text[data-point="5"],
[data-overstacked~="6"] #overstack-counts > text[data-point="6"],
[data-overstacked~="7"] #overstack-counts > text[data-point="7"],
[data-overstacked~="8"] #overstack-counts > text[data-point="8"],
[data-overstacked~="9"] #overstack-counts > text[data-point="9"],
[data-overstacked~="10"] #overstack-counts > text[data-point="10"],
[data-overstacked~="11"] #overstack-counts > text[data-point="11"],
[data-overstacked~="12"] #overstack-counts > text[data-point="12"],
[data-overstacked~="13"] #overstack-counts > text[data-point="13"],
[data-overstacked~="14"] #overstack-counts > text[data-point="14"],
[data-overstacked~="15"] #overstack-counts > text[data-point="15"],
[data-overstacked~="16"] #overstack-counts > text[data-point="16"],
[data-overstacked~="17"] #overstack-counts > text[data-point="17"],
[data-overstacked~="18"] #overstack-counts > text[data-point="18"],
[data-overstacked~="19"] #overstack-counts > text[data-point="19"],
[data-overstacked~="20"] #overstack-counts > text[data-point="20"],
[data-overstacked~="21"] #overstack-counts > text[data-point="21"],
[data-overstacked~="22"] #overstack-counts > text[data-point="22"],
[data-overstacked~="23"] #overstack-counts > text[data-point="23"],
[data-overstacked~="24"] #overstack-counts > text[data-point="bar-white"],
[data-overstacked~="off-board-white"] #overstack-counts > text[data-point="off-board-white"],
[data-overstacked~="off-board-black"] #overstack-counts > text[data-point="off-board-black"] {
  opacity: 1;
  visibility: visible;
  transition-delay: .7s; /* Delay only on fade-in */
}

#overstack-counts text[data-point="0"][data-pos="5"] { transform: translate(1118px, 599px); }
#overstack-counts text[data-point="1"][data-pos="5"] { transform: translate(1030px, 599px); }
#overstack-counts text[data-point="2"][data-pos="5"] { transform: translate(942px, 599px); }
#overstack-counts text[data-point="3"][data-pos="5"] { transform: translate(854px, 599px); }
#overstack-counts text[data-point="4"][data-pos="5"] { transform: translate(766px, 599px); }
#overstack-counts text[data-point="5"][data-pos="5"] { transform: translate(678px, 599px); }
#overstack-counts text[data-point="6"][data-pos="5"] { transform: translate(521px, 599px); }
#overstack-counts text[data-point="7"][data-pos="5"] { transform: translate(433px, 599px); }
#overstack-counts text[data-point="8"][data-pos="5"] { transform: translate(345px, 599px); }
#overstack-counts text[data-point="9"][data-pos="5"] { transform: translate(257px, 599px); }
#overstack-counts text[data-point="10"][data-pos="5"] { transform: translate(169px, 599px); }
#overstack-counts text[data-point="11"][data-pos="5"] { transform: translate(81px, 599px); }
#overstack-counts text[data-point="12"][data-pos="5"] { transform: translate(81px, 397px); }
#overstack-counts text[data-point="13"][data-pos="5"] { transform: translate(169px, 397px); }
#overstack-counts text[data-point="14"][data-pos="5"] { transform: translate(257px, 397px); }
#overstack-counts text[data-point="15"][data-pos="5"] { transform: translate(345px, 397px); }
#overstack-counts text[data-point="16"][data-pos="5"] { transform: translate(433px, 397px); }
#overstack-counts text[data-point="17"][data-pos="5"] { transform: translate(521px, 397px); }
#overstack-counts text[data-point="18"][data-pos="5"] { transform: translate(678px, 397px); }
#overstack-counts text[data-point="19"][data-pos="5"] { transform: translate(766px, 397px); }
#overstack-counts text[data-point="20"][data-pos="5"] { transform: translate(854px, 397px); }
#overstack-counts text[data-point="21"][data-pos="5"] { transform: translate(942px, 397px); }
#overstack-counts text[data-point="22"][data-pos="5"] { transform: translate(1030px, 397px); }
#overstack-counts text[data-point="23"][data-pos="5"] { transform: translate(1118px, 397px); }
#overstack-counts text[data-point="bar-white"][data-pos="5"] { transform: translate(599px, 599px); }
#overstack-counts text[data-point="bar-black"][data-pos="5"] { transform: translate(599px, 397px); }
#overstack-counts text[data-point="off-board-white"][data-pos="5"] { transform: translate(1239px, 397px); }
#overstack-counts text[data-point="off-board-black"][data-pos="5"] { transform: translate(1239px, 599px); }
