.cross-checker {
  --checker-fill: #d2cbb8;
  --checker-stroke: #1f2022;
  --accent: #ffffff;
  --accent-opacity: 0.7;
}
.crown-checker {
  --checker-fill: #333538;
  --checker-stroke: #ffffff;
  --accent: #ffffff;
  --accent-opacity: 0.3;
}
.ring {
  fill:none;
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:1px;
}
.cross-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.cross-checker #cross path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
.crown-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.crown-checker #crown path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
#table #board {
  width: 500px;
}
#table #board svg,
#table #board {
  height: 600px;
  width: 750px;
  margin-left:0;
  vertical-align: top;
}
.off-board,
.bar {
  pointer-events: bounding-box !important;
  fill: rgba(51, 53, 56, 1);
  fill-opacity: 0;
  stroke: black;                 /* stroke color */
  stroke-width: 2px;             /* stroke thickness */
  stroke-dasharray: 6, 3;
}
.off-board:hover,
.bar:hover {
  fill-opacity: 1;
  stroke: black;                 /* stroke color */
  stroke-width: 2px;             /* stroke thickness */
  stroke-dasharray: 6, 3;
}
[data-point]{
  transform-box: fill-box;           /* safer transforms on SVG */
  transform-origin: center;
}
[data-point="bw"] {
  transform: translate(560.44px, 856.61px);
}
[data-point="bw"][data-pos="2"] {
  transform: translate(560.44px, 779.61px);
}
[data-point="bw"][data-pos="3"] {
  transform: translate(560.44px, 702.61px);
}
[data-point="bw"][data-pos="4"] {
  transform: translate(560.44px, 625.61px);
}
[data-point="bw"][data-pos="5"] {
  transform: translate(560.44px, 548.61px);
}
[data-point="hw"] {
  transform: translate(1200px, 856.61px);
}
[data-point="hw"][data-pos="2"] {
  transform: translate(1200px, 779.61px);
}
[data-point="hw"][data-pos="3"] {
  transform: translate(1200px, 702.61px);
}
[data-point="hw"][data-pos="4"] {
  transform: translate(1200px, 625.61px);
}
[data-point="hw"][data-pos="5"] {
  transform: translate(1200px, 548.61px);
}
[data-point="24"] {
  transform: translate(1079.44px, 856.61px);
}
[data-point="24"][data-pos="2"] {
  transform: translate(1079.44px, 779.61px);
}
[data-point="24"][data-pos="3"] {
  transform: translate(1079.44px, 702.61px);
}
[data-point="24"][data-pos="4"] {
  transform: translate(1079.44px, 625.61px);
}
[data-point="24"][data-pos="5"] {
  transform: translate(1079.44px, 548.61px);
}
[data-point="23"] {
  transform: translate(991.44px, 856.61px);
}
[data-point="23"][data-pos="2"] {
  transform: translate(991.44px, 779.61px);
}
[data-point="23"][data-pos="3"] {
  transform: translate(991.44px, 702.61px);
}
[data-point="23"][data-pos="4"] {
  transform: translate(991.44px, 625.61px);
}
[data-point="23"][data-pos="5"] {
  transform: translate(991.44px, 548.61px);
}
[data-point="22"] {
  transform: translate(903.44px, 856.61px);
}
[data-point="22"][data-pos="2"] {
  transform: translate(903.44px, 779.61px);
}
[data-point="22"][data-pos="3"] {
  transform: translate(903.44px, 702.61px);
}
[data-point="22"][data-pos="4"] {
  transform: translate(903.44px, 625.61px);
}
[data-point="22"][data-pos="5"] {
  transform: translate(903.44px, 548.61px);
}
[data-point="21"] {
  transform: translate(815.44px, 856.61px);
}
[data-point="21"][data-pos="2"] {
  transform: translate(815.44px, 779.61px);
}
[data-point="21"][data-pos="3"] {
  transform: translate(815.44px, 702.61px);
}
[data-point="21"][data-pos="4"] {
  transform: translate(815.44px, 625.61px);
}
[data-point="21"][data-pos="5"] {
  transform: translate(815.44px, 548.61px);
}
[data-point="20"] {
  transform: translate(727.44px, 856.61px);
}
[data-point="20"][data-pos="2"] {
  transform: translate(727.44px, 779.61px);
}
[data-point="20"][data-pos="3"] {
  transform: translate(727.44px, 702.61px);
}
[data-point="20"][data-pos="4"] {
  transform: translate(727.44px, 625.61px);
}
[data-point="20"][data-pos="5"] {
  transform: translate(727.44px, 548.61px);
}
[data-point="19"] {
  transform: translate(639.44px, 856.61px);
}
[data-point="19"][data-pos="2"] {
  transform: translate(639.44px, 779.61px);
}
[data-point="19"][data-pos="3"] {
  transform: translate(639.44px, 702.61px);
}
[data-point="19"][data-pos="4"] {
  transform: translate(639.44px, 625.61px);
}
[data-point="19"][data-pos="5"] {
  transform: translate(639.44px, 548.61px);
}
[data-point="18"] {
  transform: translate(482.44px, 856.61px);
}
[data-point="18"][data-pos="2"] {
  transform: translate(482.44px, 779.61px);
}
[data-point="18"][data-pos="3"] {
  transform: translate(482.44px, 702.61px);
}
[data-point="18"][data-pos="4"] {
  transform: translate(482.44px, 625.61px);
}
[data-point="18"][data-pos="5"] {
  transform: translate(482.44px, 548.61px);
}
[data-point="17"] {
  transform: translate(394.44px, 856.61px);
}
[data-point="17"][data-pos="2"] {
  transform: translate(394.44px, 779.61px);
}
[data-point="17"][data-pos="3"] {
  transform: translate(394.44px, 702.61px);
}
[data-point="17"][data-pos="4"] {
  transform: translate(394.44px, 625.61px);
}
[data-point="17"][data-pos="5"] {
  transform: translate(394.44px, 548.61px);
}
[data-point="16"] {
  transform: translate(306.44px, 856.61px);
}
[data-point="16"][data-pos="2"] {
  transform: translate(306.44px, 779.61px);
}
[data-point="16"][data-pos="3"] {
  transform: translate(306.44px, 702.61px);
}
[data-point="16"][data-pos="4"] {
  transform: translate(306.44px, 625.61px);
}
[data-point="16"][data-pos="5"] {
  transform: translate(306.44px, 548.61px);
}
[data-point="15"] {
  transform: translate(218.44px, 856.61px);
}
[data-point="15"][data-pos="2"] {
  transform: translate(218.44px, 779.61px);
}
[data-point="15"][data-pos="3"] {
  transform: translate(218.44px, 702.61px);
}
[data-point="15"][data-pos="4"] {
  transform: translate(218.44px, 625.61px);
}
[data-point="15"][data-pos="5"] {
  transform: translate(218.44px, 548.61px);
}
[data-point="14"] {
  transform: translate(130.44px, 856.61px);
}
[data-point="14"][data-pos="2"] {
  transform: translate(130.44px, 779.61px);
}
[data-point="14"][data-pos="3"] {
  transform: translate(130.44px, 702.61px);
}
[data-point="14"][data-pos="4"] {
  transform: translate(130.44px, 625.61px);
}
[data-point="14"][data-pos="5"] {
  transform: translate(130.44px, 548.61px);
}
[data-point="13"] {
  transform: translate(42.44px, 856.61px);
}
[data-point="13"][data-pos="2"] {
  transform: translate(42.44px, 779.61px);
}
[data-point="13"][data-pos="3"] {
  transform: translate(42.44px, 702.61px);
}
[data-point="13"][data-pos="4"] {
  transform: translate(42.44px, 625.61px);
}
[data-point="13"][data-pos="5"] {
  transform: translate(42.44px, 548.61px);
}
