.cross-checker {
  --checker-fill: #d2cbb8;
  --checker-stroke: #1f2022;
  --accent: #ffffff;
  --accent-opacity: 0.7;
  pointer-events: none;
}
.crown-checker {
  --checker-fill: #333538;
  --checker-stroke: #ffffff;
  --accent: #ffffff;
  --accent-opacity: 0.3;
  pointer-events: none;
}
.ring {
  fill:none;
  stroke:var(--accent);
  stroke-opacity:1;
  stroke-width:1px;
}
.cross-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.cross-checker #cross path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
.crown-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.crown-checker #crown path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
.checker-edge {
  fill: var(--checker-fill);
  stroke: #1f2022;
  stroke-opacity: 1;
}
.cross-checker .checker-edge {
  stroke-width: 1px;
}
.crown-checker .checker-edge {
  stroke-width: 1px;
  stroke: white;
}
#point-numbers .top text {
  transform: translateY(33px);
}
#point-numbers .bottom text {
  transform: translateY(956px);
}
#point-numbers {
  font-family: Tahoma;
  font-size: 25px;
  font-weight: bold;
  fill: black;
  stroke: white;
  stroke-width: .750;
  text-anchor: middle;
}
.players {
  width: 20em;
  height: auto;
  z-index: 99;
  float: right;
  margin-top: .5em;
  position: relative;
}
#table .area {
  min-height: 2em;
  height: 2.75em;
  width: 10em;
  margin: 2px auto 0;
}
#table .zone {
  min-height: 5em;
  margin-bottom: .5em;
}
#table div.player {
  width: 22em;
  max-width: 22em;
}
.brown {
  fill: #b29069
}
.beige {
  fill: #d2cbb8;
}
.point:hover, .off-board:hover, .bar:hover {
  cursor: pointer;
}
.point:hover .beige {
  fill: #e5e0cf;
}
.point:hover .brown {
  fill: #c5ab8e;
}
#point-numbers {
  opacity: 0;
  transition: .5s;
}
svg#board:hover #point-numbers {
  opacity: 1;
}
#table #board {
  width: 500px;
  margin-top: -2px;
}
#table #board #frame {
  --filter: drop-shadow(-12px 12px 10px rgba(0, 0, 0, 0.4)) drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.2));
}
#table div.player > div {
  width: 12em;
}
#table #board {
  height: 600px;
  width: 750px;
  margin-left: .75em;
  vertical-align: top;
}
.off-board,
.bar {
  pointer-events: bounding-box !important;
  fill: rgba(51, 53, 56, 1);
  fill-opacity: 0;
  stroke: transparent;                 /* stroke color */
  stroke-width: 2px;             /* stroke thickness */
  stroke-dasharray: 6, 3;
}

[data-point]{
  transform-box: fill-box;           /* safer transforms on SVG */
  transform-origin: center;
  pointer-events: none;
}
[data-point="bar-white"] {
  transform: translate(560.44px, 856.61px);
}
[data-point="bar-white"][data-pos="2"] {
  transform: translate(560.44px, 779.61px);
}
[data-point="bar-white"][data-pos="3"] {
  transform: translate(560.44px, 702.61px);
}
[data-point="bar-white"][data-pos="4"] {
  transform: translate(560.44px, 625.61px);
}
[data-point="bar-white"][data-pos="5"] {
  transform: translate(560.44px, 548.61px);
}
[data-point="home-white"] {
  transform: translate(1200px, 38px);
}
[data-point="home-white"][data-pos="2"] {
  transform: translate(1200px, 115px);
}
[data-point="home-white"][data-pos="3"] {
  transform: translate(1200px, 192px);
}
[data-point="home-white"][data-pos="4"] {
  transform: translate(1200px, 269px);
}
[data-point="home-white"][data-pos="5"] {
  transform: translate(1200px, 346px);
}

[data-point="1"] {
  transform: translate(1079.44px, 856.61px);
}
[data-point="1"][data-pos="2"] {
  transform: translate(1079.44px, 779.61px);
}
[data-point="1"][data-pos="3"] {
  transform: translate(1079.44px, 702.61px);
}
[data-point="1"][data-pos="4"] {
  transform: translate(1079.44px, 625.61px);
}
[data-point="1"][data-pos="5"] {
  transform: translate(1079.44px, 548.61px);
}
[data-point="2"] {
  transform: translate(991.44px, 856.61px);
}
[data-point="2"][data-pos="2"] {
  transform: translate(991.44px, 779.61px);
}
[data-point="2"][data-pos="3"] {
  transform: translate(991.44px, 702.61px);
}
[data-point="2"][data-pos="4"] {
  transform: translate(991.44px, 625.61px);
}
[data-point="2"][data-pos="5"] {
  transform: translate(991.44px, 548.61px);
}
[data-point="3"] {
  transform: translate(903.44px, 856.61px);
}
[data-point="3"][data-pos="2"] {
  transform: translate(903.44px, 779.61px);
}
[data-point="3"][data-pos="3"] {
  transform: translate(903.44px, 702.61px);
}
[data-point="3"][data-pos="4"] {
  transform: translate(903.44px, 625.61px);
}
[data-point="3"][data-pos="5"] {
  transform: translate(903.44px, 548.61px);
}
[data-point="4"] {
  transform: translate(815.44px, 856.61px);
}
[data-point="4"][data-pos="2"] {
  transform: translate(815.44px, 779.61px);
}
[data-point="4"][data-pos="3"] {
  transform: translate(815.44px, 702.61px);
}
[data-point="4"][data-pos="4"] {
  transform: translate(815.44px, 625.61px);
}
[data-point="4"][data-pos="5"] {
  transform: translate(815.44px, 548.61px);
}
[data-point="5"] {
  transform: translate(727.44px, 856.61px);
}
[data-point="5"][data-pos="2"] {
  transform: translate(727.44px, 779.61px);
}
[data-point="5"][data-pos="3"] {
  transform: translate(727.44px, 702.61px);
}
[data-point="5"][data-pos="4"] {
  transform: translate(727.44px, 625.61px);
}
[data-point="5"][data-pos="5"] {
  transform: translate(727.44px, 548.61px);
}
[data-point="6"] {
  transform: translate(639.44px, 856.61px);
}
[data-point="6"][data-pos="2"] {
  transform: translate(639.44px, 779.61px);
}
[data-point="6"][data-pos="3"] {
  transform: translate(639.44px, 702.61px);
}
[data-point="6"][data-pos="4"] {
  transform: translate(639.44px, 625.61px);
}
[data-point="6"][data-pos="5"] {
  transform: translate(639.44px, 548.61px);
}
[data-point="7"] {
  transform: translate(482.44px, 856.61px);
}
[data-point="7"][data-pos="2"] {
  transform: translate(482.44px, 779.61px);
}
[data-point="7"][data-pos="3"] {
  transform: translate(482.44px, 702.61px);
}
[data-point="7"][data-pos="4"] {
  transform: translate(482.44px, 625.61px);
}
[data-point="7"][data-pos="5"] {
  transform: translate(482.44px, 548.61px);
}
[data-point="8"] {
  transform: translate(394.44px, 856.61px);
}
[data-point="8"][data-pos="2"] {
  transform: translate(394.44px, 779.61px);
}
[data-point="8"][data-pos="3"] {
  transform: translate(394.44px, 702.61px);
}
[data-point="8"][data-pos="4"] {
  transform: translate(394.44px, 625.61px);
}
[data-point="8"][data-pos="5"] {
  transform: translate(394.44px, 548.61px);
}
[data-point="9"] {
  transform: translate(306.44px, 856.61px);
}
[data-point="9"][data-pos="2"] {
  transform: translate(306.44px, 779.61px);
}
[data-point="9"][data-pos="3"] {
  transform: translate(306.44px, 702.61px);
}
[data-point="9"][data-pos="4"] {
  transform: translate(306.44px, 625.61px);
}
[data-point="9"][data-pos="5"] {
  transform: translate(306.44px, 548.61px);
}
[data-point="10"] {
  transform: translate(218.44px, 856.61px);
}
[data-point="10"][data-pos="2"] {
  transform: translate(218.44px, 779.61px);
}
[data-point="10"][data-pos="3"] {
  transform: translate(218.44px, 702.61px);
}
[data-point="10"][data-pos="4"] {
  transform: translate(218.44px, 625.61px);
}
[data-point="10"][data-pos="5"] {
  transform: translate(218.44px, 548.61px);
}
[data-point="11"] {
  transform: translate(130.44px, 856.61px);
}
[data-point="11"][data-pos="2"] {
  transform: translate(130.44px, 779.61px);
}
[data-point="11"][data-pos="3"] {
  transform: translate(130.44px, 702.61px);
}
[data-point="11"][data-pos="4"] {
  transform: translate(130.44px, 625.61px);
}
[data-point="11"][data-pos="5"] {
  transform: translate(130.44px, 548.61px);
}
[data-point="12"] {
  transform: translate(42.44px, 856.61px);
}
[data-point="12"][data-pos="2"] {
  transform: translate(42.44px, 779.61px);
}
[data-point="12"][data-pos="3"] {
  transform: translate(42.44px, 702.61px);
}
[data-point="12"][data-pos="4"] {
  transform: translate(42.44px, 625.61px);
}
[data-point="12"][data-pos="5"] {
  transform: translate(42.44px, 548.61px);
}
[data-point="13"] {
  transform: translate(42.44px, 38px);
}
[data-point="13"][data-pos="2"] {
  transform: translate(42.44px, 115px);
}
[data-point="13"][data-pos="3"] {
  transform: translate(42.44px, 192px);
}
[data-point="13"][data-pos="4"] {
  transform: translate(42.44px, 269px);
}
[data-point="13"][data-pos="5"] {
  transform: translate(42.44px, 346px);
}
[data-point="14"] {
  transform: translate(130.44px, 38px);
}
[data-point="14"][data-pos="2"] {
  transform: translate(130.44px, 115px);
}
[data-point="14"][data-pos="3"] {
  transform: translate(130.44px, 192px);
}
[data-point="14"][data-pos="4"] {
  transform: translate(130.44px, 269px);
}
[data-point="14"][data-pos="5"] {
  transform: translate(130.44px, 346px);
}
[data-point="15"] {
  transform: translate(218.44px, 38px);
}
[data-point="15"][data-pos="2"] {
  transform: translate(218.44px, 115px);
}
[data-point="15"][data-pos="3"] {
  transform: translate(218.44px, 192px);
}
[data-point="15"][data-pos="4"] {
  transform: translate(218.44px, 269px);
}
[data-point="15"][data-pos="5"] {
  transform: translate(218.44px, 346px);
}
[data-point="16"] {
  transform: translate(306.44px, 38px);
}
[data-point="16"][data-pos="2"] {
  transform: translate(306.44px, 115px);
}
[data-point="16"][data-pos="3"] {
  transform: translate(306.44px, 192px);
}
[data-point="16"][data-pos="4"] {
  transform: translate(306.44px, 269px);
}
[data-point="16"][data-pos="5"] {
  transform: translate(306.44px, 346px);
}
[data-point="17"] {
  transform: translate(394.44px, 38px);
}
[data-point="17"][data-pos="2"] {
  transform: translate(394.44px, 115px);
}
[data-point="17"][data-pos="3"] {
  transform: translate(394.44px, 192px);
}
[data-point="17"][data-pos="4"] {
  transform: translate(394.44px, 269px);
}
[data-point="17"][data-pos="5"] {
  transform: translate(394.44px, 346px);
}
[data-point="18"] {
  transform: translate(482.44px, 38px);
}
[data-point="18"][data-pos="2"] {
  transform: translate(482.44px, 115px);
}
[data-point="18"][data-pos="3"] {
  transform: translate(482.44px, 192px);
}
[data-point="18"][data-pos="4"] {
  transform: translate(482.44px, 269px);
}
[data-point="18"][data-pos="5"] {
  transform: translate(482.44px, 346px);
}
[data-point="19"] {
  transform: translate(639.44px, 38px);
}
[data-point="19"][data-pos="2"] {
  transform: translate(639.44px, 115px);
}
[data-point="19"][data-pos="3"] {
  transform: translate(639.44px, 192px);
}
[data-point="19"][data-pos="4"] {
  transform: translate(639.44px, 269px);
}
[data-point="19"][data-pos="5"] {
  transform: translate(639.44px, 346px);
}
[data-point="20"] {
  transform: translate(727.44px, 38px);
}
[data-point="20"][data-pos="2"] {
  transform: translate(727.44px, 115px);
}
[data-point="20"][data-pos="3"] {
  transform: translate(727.44px, 192px);
}
[data-point="20"][data-pos="4"] {
  transform: translate(727.44px, 269px);
}
[data-point="20"][data-pos="5"] {
  transform: translate(727.44px, 346px);
}
[data-point="21"] {
  transform: translate(815.44px, 38px);
}
[data-point="21"][data-pos="2"] {
  transform: translate(815.44px, 115px);
}
[data-point="21"][data-pos="3"] {
  transform: translate(815.44px, 192px);
}
[data-point="21"][data-pos="4"] {
  transform: translate(815.44px, 269px);
}
[data-point="21"][data-pos="5"] {
  transform: translate(815.44px, 346px);
}
[data-point="22"] {
  transform: translate(903.44px, 38px);
}
[data-point="22"][data-pos="2"] {
  transform: translate(903.44px, 115px);
}
[data-point="22"][data-pos="3"] {
  transform: translate(903.44px, 192px);
}
[data-point="22"][data-pos="4"] {
  transform: translate(903.44px, 269px);
}
[data-point="22"][data-pos="5"] {
  transform: translate(903.44px, 346px);
}
[data-point="23"] {
  transform: translate(991.44px, 38px);
}
[data-point="23"][data-pos="2"] {
  transform: translate(991.44px, 115px);
}
[data-point="23"][data-pos="3"] {
  transform: translate(991.44px, 192px);
}
[data-point="23"][data-pos="4"] {
  transform: translate(991.44px, 269px);
}
[data-point="23"][data-pos="5"] {
  transform: translate(991.44px, 346px);
}
[data-point="24"] {
  transform: translate(1079.44px, 38px);
}
[data-point="24"][data-pos="2"] {
  transform: translate(1079.44px, 115px);
}
[data-point="24"][data-pos="3"] {
  transform: translate(1079.44px, 192px);
}
[data-point="24"][data-pos="4"] {
  transform: translate(1079.44px, 269px);
}
[data-point="24"][data-pos="5"] {
  transform: translate(1079.44px, 346px);
}
[data-point="bar-black"] {
  transform: translate(560.44px, 38px);
}
[data-point="bar-black"][data-pos="2"] {
  transform: translate(560.44px, 115px);
}
[data-point="bar-black"][data-pos="3"] {
  transform: translate(560.44px, 192px);
}
[data-point="bar-black"][data-pos="4"] {
  transform: translate(560.44px, 269px);
}
[data-point="bar-black"][data-pos="5"] {
  transform: translate(560.44px, 346px);
}
[data-point="home-black"] {
  transform: translate(1200px, 856.61px);
}
[data-point="home-black"][data-pos="2"] {
  transform: translate(1200px, 779.61px);
}
[data-point="home-black"][data-pos="3"] {
  transform: translate(1200px, 702.61px);
}
[data-point="home-black"][data-pos="4"] {
  transform: translate(1200px, 625.61px);
}
[data-point="home-black"][data-pos="5"] {
  transform: translate(1200px, 548.61px);
}
[data-allow-commands*=roll] .moves button[data-type="roll"],
[data-allow-commands*=propose-double] .moves button[data-type="propose-double"],
[data-allow-commands*=accept] .moves button[data-type="accept"],
[data-allow-commands*=concede] .moves button[data-type="concede"]{
  display: inline !important;
}
#dice ol {
  list-style: none;
  padding: 0;
  margin-left: 2em;
}
#dice li {
  float: left;
  padding: 0;
  margin:0;
}
[data-dice] li {
  display: none;
}
:is([data-dice="1"],[data-dice="1 1"],[data-dice="1 2"],[data-dice="1 3"],[data-dice="1 4"],[data-dice="1 5"],[data-dice="1 6"]) #die-1 li[alt="1"] {
  display: block;
}
:is([data-dice="2"],[data-dice="2 1"],[data-dice="2 2"],[data-dice="2 3"],[data-dice="2 4"],[data-dice="2 5"],[data-dice="2 6"]) #die-1 li[alt="2"] {
  display: block;
}
:is([data-dice="3"],[data-dice="3 1"],[data-dice="3 2"],[data-dice="3 3"],[data-dice="3 4"],[data-dice="3 5"],[data-dice="3 6"]) #die-1 li[alt="3"] {
  display: block;
}
:is([data-dice="4"],[data-dice="4 1"],[data-dice="4 2"],[data-dice="4 3"],[data-dice="4 4"],[data-dice="4 5"],[data-dice="4 6"]) #die-1 li[alt="4"] {
  display: block;
}
:is([data-dice="5"],[data-dice="5 1"],[data-dice="5 2"],[data-dice="5 3"],[data-dice="5 4"],[data-dice="5 5"],[data-dice="5 6"]) #die-1 li[alt="5"] {
  display: block;
}
:is([data-dice="6"],[data-dice="6 1"],[data-dice="6 2"],[data-dice="6 3"],[data-dice="6 4"],[data-dice="6 5"],[data-dice="6 6"]) #die-1 li[alt="6"] {
  display: block;
}
:is([data-dice="1 1"],[data-dice="2 1"],[data-dice="3 1"],[data-dice="4 1"],[data-dice="5 1"],[data-dice="6 1"]) #die-2 li[alt="1"] {
  display: block;
}
:is([data-dice="1 2"],[data-dice="2 2"],[data-dice="3 2"],[data-dice="4 2"],[data-dice="5 2"],[data-dice="6 2"]) #die-2 li[alt="2"] {
  display: block;
}
:is([data-dice="1 3"],[data-dice="2 3"],[data-dice="3 3"],[data-dice="4 3"],[data-dice="5 3"],[data-dice="6 3"]) #die-2 li[alt="3"] {
  display: block;
}
:is([data-dice="1 4"],[data-dice="2 4"],[data-dice="3 4"],[data-dice="4 4"],[data-dice="5 4"],[data-dice="6 4"]) #die-2 li[alt="4"] {
  display: block;
}
:is([data-dice="1 5"],[data-dice="2 5"],[data-dice="3 5"],[data-dice="4 5"],[data-dice="5 5"],[data-dice="6 5"]) #die-2 li[alt="5"] {
  display: block;
}
:is([data-dice="1 6"],[data-dice="2 6"],[data-dice="3 6"],[data-dice="4 6"],[data-dice="5 6"],[data-dice="6 6"]) #die-2 li[alt="6"] {
  display: block;
}
#dice li img {
  max-width: 4em;
}
#die-3, #die-4 {
  visibility: hidden;
}
