.cross-checker {
  --checker-fill: #d2cbb8;
  --checker-stroke: #1f2022;
  --accent: #ffffff;
  --accent-opacity: 0.7;
}
.crown-checker {
  --checker-fill: #333538;
  --checker-stroke: #ffffff;
  --accent: #ffffff;
  --accent-opacity: 0.3;
}
.ring {
  fill:none;
  stroke:var(--accent);
  stroke-opacity:1;
  stroke-width:1px;
}
.cross-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.cross-checker #cross path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
.crown-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.crown-checker #crown path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
.checker-edge {
  fill: var(--checker-fill);
  stroke: #1f2022;
  stroke-opacity: 1;
}
.cross-checker .checker-edge {
  stroke-width: 1px;
}
.crown-checker .checker-edge {
  stroke-width: 1px;
  stroke: white;
}
#point-numbers {
  font-family: Tahoma;
  font-size: 25px;
  font-weight: bold;
  fill: black;
  stroke: white;
  stroke-width: .750;
}
.players {
  display: none;
}
#point-numbers {
  opacity: 0;
  transition: .5s;
}
svg#board:hover #point-numbers {
  opacity: 1;
}
#table #board {
  width: 500px;
}
#table #board svg,
#table #board {
  height: 600px;
  width: 750px;
  margin-left:0;
  vertical-align: top;
}
.off-board,
.bar {
  pointer-events: bounding-box !important;
  fill: rgba(51, 53, 56, 1);
  fill-opacity: 0;
  stroke: black;                 /* stroke color */
  stroke-width: 2px;             /* stroke thickness */
  stroke-dasharray: 6, 3;
}
.off-board:hover,
.bar:hover {
  fill-opacity: 1;
  stroke: black;                 /* stroke color */
  stroke-width: 2px;             /* stroke thickness */
  stroke-dasharray: 6, 3;
}

svg #bar-white:hover  {
  fill: rgba(255, 255, 255, 1);
  fill-opacity: 1;
  cursor: pointer;
}
svg #off-board-white:hover  {
  fill: rgba(255, 255, 255, 1);
  fill-opacity: 1;
  cursor: pointer;
}

[data-point]{
  transform-box: fill-box;           /* safer transforms on SVG */
  transform-origin: center;
  pointer-events: none;
}
[data-point="bar-white"] {
  transform: translate(560.44px, 856.61px);
}
[data-point="bar-white"][data-pos="2"] {
  transform: translate(560.44px, 779.61px);
}
[data-point="bar-white"][data-pos="3"] {
  transform: translate(560.44px, 702.61px);
}
[data-point="bar-white"][data-pos="4"] {
  transform: translate(560.44px, 625.61px);
}
[data-point="bar-white"][data-pos="5"] {
  transform: translate(560.44px, 548.61px);
}
[data-point="home-white"] {
  transform: translate(1200px, 38px);
}
[data-point="home-white"][data-pos="2"] {
  transform: translate(1200px, 115px);
}
[data-point="home-white"][data-pos="3"] {
  transform: translate(1200px, 192px);
}
[data-point="home-white"][data-pos="4"] {
  transform: translate(1200px, 269px);
}
[data-point="home-white"][data-pos="5"] {
  transform: translate(1200px, 346px);
}

[data-point="1"] {
  transform: translate(1079.44px, 856.61px);
}
[data-point="1"][data-pos="2"] {
  transform: translate(1079.44px, 779.61px);
}
[data-point="1"][data-pos="3"] {
  transform: translate(1079.44px, 702.61px);
}
[data-point="1"][data-pos="4"] {
  transform: translate(1079.44px, 625.61px);
}
[data-point="1"][data-pos="5"] {
  transform: translate(1079.44px, 548.61px);
}
[data-point="2"] {
  transform: translate(991.44px, 856.61px);
}
[data-point="2"][data-pos="2"] {
  transform: translate(991.44px, 779.61px);
}
[data-point="2"][data-pos="3"] {
  transform: translate(991.44px, 702.61px);
}
[data-point="2"][data-pos="4"] {
  transform: translate(991.44px, 625.61px);
}
[data-point="2"][data-pos="5"] {
  transform: translate(991.44px, 548.61px);
}
[data-point="3"] {
  transform: translate(903.44px, 856.61px);
}
[data-point="3"][data-pos="2"] {
  transform: translate(903.44px, 779.61px);
}
[data-point="3"][data-pos="3"] {
  transform: translate(903.44px, 702.61px);
}
[data-point="3"][data-pos="4"] {
  transform: translate(903.44px, 625.61px);
}
[data-point="3"][data-pos="5"] {
  transform: translate(903.44px, 548.61px);
}
[data-point="4"] {
  transform: translate(815.44px, 856.61px);
}
[data-point="4"][data-pos="2"] {
  transform: translate(815.44px, 779.61px);
}
[data-point="4"][data-pos="3"] {
  transform: translate(815.44px, 702.61px);
}
[data-point="4"][data-pos="4"] {
  transform: translate(815.44px, 625.61px);
}
[data-point="4"][data-pos="5"] {
  transform: translate(815.44px, 548.61px);
}
[data-point="5"] {
  transform: translate(727.44px, 856.61px);
}
[data-point="5"][data-pos="2"] {
  transform: translate(727.44px, 779.61px);
}
[data-point="5"][data-pos="3"] {
  transform: translate(727.44px, 702.61px);
}
[data-point="5"][data-pos="4"] {
  transform: translate(727.44px, 625.61px);
}
[data-point="5"][data-pos="5"] {
  transform: translate(727.44px, 548.61px);
}
[data-point="6"] {
  transform: translate(639.44px, 856.61px);
}
[data-point="6"][data-pos="2"] {
  transform: translate(639.44px, 779.61px);
}
[data-point="6"][data-pos="3"] {
  transform: translate(639.44px, 702.61px);
}
[data-point="6"][data-pos="4"] {
  transform: translate(639.44px, 625.61px);
}
[data-point="6"][data-pos="5"] {
  transform: translate(639.44px, 548.61px);
}
[data-point="7"] {
  transform: translate(482.44px, 856.61px);
}
[data-point="7"][data-pos="2"] {
  transform: translate(482.44px, 779.61px);
}
[data-point="7"][data-pos="3"] {
  transform: translate(482.44px, 702.61px);
}
[data-point="7"][data-pos="4"] {
  transform: translate(482.44px, 625.61px);
}
[data-point="7"][data-pos="5"] {
  transform: translate(482.44px, 548.61px);
}
[data-point="8"] {
  transform: translate(394.44px, 856.61px);
}
[data-point="8"][data-pos="2"] {
  transform: translate(394.44px, 779.61px);
}
[data-point="8"][data-pos="3"] {
  transform: translate(394.44px, 702.61px);
}
[data-point="8"][data-pos="4"] {
  transform: translate(394.44px, 625.61px);
}
[data-point="8"][data-pos="5"] {
  transform: translate(394.44px, 548.61px);
}
[data-point="9"] {
  transform: translate(306.44px, 856.61px);
}
[data-point="9"][data-pos="2"] {
  transform: translate(306.44px, 779.61px);
}
[data-point="9"][data-pos="3"] {
  transform: translate(306.44px, 702.61px);
}
[data-point="9"][data-pos="4"] {
  transform: translate(306.44px, 625.61px);
}
[data-point="9"][data-pos="5"] {
  transform: translate(306.44px, 548.61px);
}
[data-point="10"] {
  transform: translate(218.44px, 856.61px);
}
[data-point="10"][data-pos="2"] {
  transform: translate(218.44px, 779.61px);
}
[data-point="10"][data-pos="3"] {
  transform: translate(218.44px, 702.61px);
}
[data-point="10"][data-pos="4"] {
  transform: translate(218.44px, 625.61px);
}
[data-point="10"][data-pos="5"] {
  transform: translate(218.44px, 548.61px);
}
[data-point="11"] {
  transform: translate(130.44px, 856.61px);
}
[data-point="11"][data-pos="2"] {
  transform: translate(130.44px, 779.61px);
}
[data-point="11"][data-pos="3"] {
  transform: translate(130.44px, 702.61px);
}
[data-point="11"][data-pos="4"] {
  transform: translate(130.44px, 625.61px);
}
[data-point="11"][data-pos="5"] {
  transform: translate(130.44px, 548.61px);
}
[data-point="12"] {
  transform: translate(42.44px, 856.61px);
}
[data-point="12"][data-pos="2"] {
  transform: translate(42.44px, 779.61px);
}
[data-point="12"][data-pos="3"] {
  transform: translate(42.44px, 702.61px);
}
[data-point="12"][data-pos="4"] {
  transform: translate(42.44px, 625.61px);
}
[data-point="12"][data-pos="5"] {
  transform: translate(42.44px, 548.61px);
}
[data-point="13"] {
  transform: translate(42.44px, 38px);
}
[data-point="13"][data-pos="2"] {
  transform: translate(42.44px, 115px);
}
[data-point="13"][data-pos="3"] {
  transform: translate(42.44px, 192px);
}
[data-point="13"][data-pos="4"] {
  transform: translate(42.44px, 269px);
}
[data-point="13"][data-pos="5"] {
  transform: translate(42.44px, 346px);
}
[data-point="14"] {
  transform: translate(130.44px, 38px);
}
[data-point="14"][data-pos="2"] {
  transform: translate(130.44px, 115px);
}
[data-point="14"][data-pos="3"] {
  transform: translate(130.44px, 192px);
}
[data-point="14"][data-pos="4"] {
  transform: translate(130.44px, 269px);
}
[data-point="14"][data-pos="5"] {
  transform: translate(130.44px, 346px);
}
[data-point="15"] {
  transform: translate(218.44px, 38px);
}
[data-point="15"][data-pos="2"] {
  transform: translate(218.44px, 115px);
}
[data-point="15"][data-pos="3"] {
  transform: translate(218.44px, 192px);
}
[data-point="15"][data-pos="4"] {
  transform: translate(218.44px, 269px);
}
[data-point="15"][data-pos="5"] {
  transform: translate(218.44px, 346px);
}
[data-point="16"] {
  transform: translate(306.44px, 38px);
}
[data-point="16"][data-pos="2"] {
  transform: translate(306.44px, 115px);
}
[data-point="16"][data-pos="3"] {
  transform: translate(306.44px, 192px);
}
[data-point="16"][data-pos="4"] {
  transform: translate(306.44px, 269px);
}
[data-point="16"][data-pos="5"] {
  transform: translate(306.44px, 346px);
}
[data-point="17"] {
  transform: translate(394.44px, 38px);
}
[data-point="17"][data-pos="2"] {
  transform: translate(394.44px, 115px);
}
[data-point="17"][data-pos="3"] {
  transform: translate(394.44px, 192px);
}
[data-point="17"][data-pos="4"] {
  transform: translate(394.44px, 269px);
}
[data-point="17"][data-pos="5"] {
  transform: translate(394.44px, 346px);
}
[data-point="18"] {
  transform: translate(482.44px, 38px);
}
[data-point="18"][data-pos="2"] {
  transform: translate(482.44px, 115px);
}
[data-point="18"][data-pos="3"] {
  transform: translate(482.44px, 192px);
}
[data-point="18"][data-pos="4"] {
  transform: translate(482.44px, 269px);
}
[data-point="18"][data-pos="5"] {
  transform: translate(482.44px, 346px);
}
[data-point="19"] {
  transform: translate(639.44px, 38px);
}
[data-point="19"][data-pos="2"] {
  transform: translate(639.44px, 115px);
}
[data-point="19"][data-pos="3"] {
  transform: translate(639.44px, 192px);
}
[data-point="19"][data-pos="4"] {
  transform: translate(639.44px, 269px);
}
[data-point="19"][data-pos="5"] {
  transform: translate(639.44px, 346px);
}
[data-point="20"] {
  transform: translate(727.44px, 38px);
}
[data-point="20"][data-pos="2"] {
  transform: translate(727.44px, 115px);
}
[data-point="20"][data-pos="3"] {
  transform: translate(727.44px, 192px);
}
[data-point="20"][data-pos="4"] {
  transform: translate(727.44px, 269px);
}
[data-point="20"][data-pos="5"] {
  transform: translate(727.44px, 346px);
}
[data-point="21"] {
  transform: translate(815.44px, 38px);
}
[data-point="21"][data-pos="2"] {
  transform: translate(815.44px, 115px);
}
[data-point="21"][data-pos="3"] {
  transform: translate(815.44px, 192px);
}
[data-point="21"][data-pos="4"] {
  transform: translate(815.44px, 269px);
}
[data-point="21"][data-pos="5"] {
  transform: translate(815.44px, 346px);
}
[data-point="22"] {
  transform: translate(903.44px, 38px);
}
[data-point="22"][data-pos="2"] {
  transform: translate(903.44px, 115px);
}
[data-point="22"][data-pos="3"] {
  transform: translate(903.44px, 192px);
}
[data-point="22"][data-pos="4"] {
  transform: translate(903.44px, 269px);
}
[data-point="22"][data-pos="5"] {
  transform: translate(903.44px, 346px);
}
[data-point="23"] {
  transform: translate(991.44px, 38px);
}
[data-point="23"][data-pos="2"] {
  transform: translate(991.44px, 115px);
}
[data-point="23"][data-pos="3"] {
  transform: translate(991.44px, 192px);
}
[data-point="23"][data-pos="4"] {
  transform: translate(991.44px, 269px);
}
[data-point="23"][data-pos="5"] {
  transform: translate(991.44px, 346px);
}
[data-point="24"] {
  transform: translate(1079.44px, 38px);
}
[data-point="24"][data-pos="2"] {
  transform: translate(1079.44px, 115px);
}
[data-point="24"][data-pos="3"] {
  transform: translate(1079.44px, 192px);
}
[data-point="24"][data-pos="4"] {
  transform: translate(1079.44px, 269px);
}
[data-point="24"][data-pos="5"] {
  transform: translate(1079.44px, 346px);
}
[data-point="bar-black"] {
  transform: translate(560.44px, 38px);
}
[data-point="bar-black"][data-pos="2"] {
  transform: translate(560.44px, 115px);
}
[data-point="bar-black"][data-pos="3"] {
  transform: translate(560.44px, 192px);
}
[data-point="bar-black"][data-pos="4"] {
  transform: translate(560.44px, 269px);
}
[data-point="bar-black"][data-pos="5"] {
  transform: translate(560.44px, 346px);
}
[data-point="home-black"] {
  transform: translate(1200px, 856.61px);
}
[data-point="home-black"][data-pos="2"] {
  transform: translate(1200px, 779.61px);
}
[data-point="home-black"][data-pos="3"] {
  transform: translate(1200px, 702.61px);
}
[data-point="home-black"][data-pos="4"] {
  transform: translate(1200px, 625.61px);
}
[data-point="home-black"][data-pos="5"] {
  transform: translate(1200px, 548.61px);
}
