.cross-checker {
  --checker-fill: #d2cbb8;
  --checker-stroke: #1f2022;
  --accent: #ffffff;
  --accent-opacity: 0.7;
}
.crown-checker {
  --checker-fill: #333538;
  --checker-stroke: #ffffff;
  --accent: #ffffff;
  --accent-opacity: 0.3;
}
.ring {
  fill:none;
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:1px;
}
.cross-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.cross-checker #cross path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
.crown-checker .disc {
  fill:var(--checker-fill);
  stroke:var(--checker-stroke);
  stroke-width:1px;
}
.crown-checker #crown path {
  stroke:var(--accent);
  stroke-opacity:var(--accent-opacity);
  stroke-width:0;
  fill:var(--accent);
  fill-opacity:var(--accent-opacity);
}
#table #board {
  width: 500px;
}
#table #board svg,
#table #board {
  height: 600px;
  width: 750px;
  margin-left:0;
  vertical-align: top;
}
.off-board,
.bar {
  pointer-events: bounding-box !important;
  fill: rgba(51, 53, 56, 1);
  fill-opacity: 0;
  stroke: black;                 /* stroke color */
  stroke-width: 2px;             /* stroke thickness */
  stroke-dasharray: 6, 3;
}
.off-board:hover,
.bar:hover {
  fill-opacity: 1;
  stroke: black;                 /* stroke color */
  stroke-width: 2px;             /* stroke thickness */
  stroke-dasharray: 6, 3;
}
