#table #board {
  background-image: url(./images/backgammon-board.svg);
  background-size: 700px 500px;
  background-repeat: no-repeat;
  position: relative;
  margin: 1em 1em 1em 1.5em;
  height: 494px;

}
