.players {
  width: 20em;
  height: auto;
  z-index: 99;
  float: right;
  margin-top: .5em;
  position: relative;
}
.area {
  width: auto;
  height: auto;
  max-width: 20em;
  min-height: 2em;
  margin: 5px auto 0;
  border-radius: 1em;
  padding: 5px;
}
.zone {
  min-height: auto;
  margin-bottom: .5em;
}
#board {
  background-image: url(./images/mexicab.png);
  background-size: 700px 500px;
  background-repeat: no-repeat;
  position: relative;
  margin: 1em 1em 1em 1.5em;
  height: 494px;
  width: 702px;
  padding-top: 6px;
  padding-left: .5px;
  box-shadow: -3px 8px 8px -3px rgba(0, 0, 0, 0.6);
  z-index: 0;
  overflow-x: visible;
  float: left;
}
#supplies {
  height: 310px;
  width: auto;
  padding: 5px;
  padding-top: 1em;
  min-width: 5.7em;
  max-width: 11.25em;
  float: left;
  margin-top: 1em;
}
#supplies ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#supplies li {
  margin: 0;
  padding: 0;
}
#supplies .canals[data-size="2"] {
  height: 285px;
  z-index: 15;
}
#supplies .canals[data-size="1"] {
  height: 90px;
}
#supplies .bridges {
  height: 125px;
}
#supplies .canals[data-size="2"] li {
  margin-bottom: -58px;
}
#supplies .tokens li,
#supplies .bridges li,
#supplies .canals[data-size="1"] li {
  margin-bottom: -26px;
}
#supplies li [data-size="2"] {
  height: 61px;
  width: 30.5px;
  transform: rotate(5deg);
}
[data-piece] {
  height: 30.5px;
  width: 30.5px;
}
#supplies li [data-piece="bridge"],
#supplies li [data-size="1"] {
  transform: rotate(5deg);
}
[data-piece="token"] {
  border-radius: 50%;
  border: solid 1px white;
}
#supplies svg,
#supplies img {
  cursor: pointer;
}
#supplies div[data-remaining] {
  margin: 0 5px 5px 5px;
  text-align: center;
  width: 35px;
  font-size: 12px;
  float: left;
}
div[data-spot] {
  position: absolute;
  border: solid 2px transparent;
  height: 26.55px;
  width: 26.5px;
  z-index: 10;
  float: left;
  overflow: visible;
}
div[data-spot] .contents, div[data-spot] .propose {
  height: 30.5px;
  width: 30.5px;
  z-index: 11;
  overflow: visible;
}
div[data-spot] > * {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 30.5px;
  height: 30.5px;
  border: solid 2px transparent;
  z-index: 40;
}
div.temples, div.tokens {
  padding: 0;
  margin: 0 2px 0 0;
  float: left;
}
.area div.temples div, .area div.tokens div {
  float: right;
}
div.temples ol, div.tokens ol {
  margin: 0;
  margin-bottom: -5px;
  padding: 0;
  list-style: none;
  float: left;
  cursor: pointer;
}
div.player {
  max-width: 22em;
  width: 22em;
}
.area div.temples li, .area div.tokens li {
  padding: 0;
  margin: 0;
  float: left;
  vertical-align: sub;
  margin-right: -25px;
}
.area div.tokens li {
  margin-right: -28px;
}
div.tokens {
  margin-left: .5em;
  margin-bottom: -.5em;
}
div[data-remaining="0"] li:nth-child(1) {
  opacity: .3;
}
div[data-remaining] div {
  margin-bottom: 2px;
}
div[data-remaining] div span {
  display: none;
}
div[data-remaining="0"] div span:nth-child(1),
div[data-remaining="1"] div span:nth-child(2),
div[data-remaining="2"] div span:nth-child(3),
div[data-remaining="3"] div span:nth-child(4),
div[data-remaining="4"] div span:nth-child(5),
div[data-remaining="5"] div span:nth-child(6),
div[data-remaining="6"] div span:nth-child(7),
div[data-remaining="7"] div span:nth-child(8),
div[data-remaining="8"] div span:nth-child(9),
div[data-remaining="9"] div span:nth-child(10),
div[data-remaining="10"] div span:nth-child(11),
div[data-remaining="11"] div span:nth-child(12),
div[data-remaining="12"] div span:nth-child(13),
div[data-remaining="13"] div span:nth-child(14),
div[data-remaining="14"] div span:nth-child(15),
div[data-remaining="15"] div span:nth-child(16),
div[data-remaining="16"] div span:nth-child(17),
div[data-remaining="17"] div span:nth-child(18),
div[data-remaining="18"] div span:nth-child(19),
div[data-remaining="19"] div span:nth-child(20),
div[data-remaining="20"] div span:nth-child(21),
div[data-remaining="21"] div span:nth-child(22),
div[data-remaining="22"] div span:nth-child(23),
div[data-remaining="23"] div span:nth-child(24),
div[data-remaining="24"] div span:nth-child(25),
div[data-remaining="25"] div span:nth-child(26),
div[data-remaining="26"] div span:nth-child(27),
div[data-remaining="27"] div span:nth-child(28),
div[data-remaining="28"] div span:nth-child(29),
div[data-remaining="29"] div span:nth-child(30),
div[data-remaining="30"] div span:nth-child(31),
div[data-remaining="31"] div span:nth-child(32),
div[data-remaining="32"] div span:nth-child(33),
div[data-remaining="33"] div span:nth-child(34),
div[data-remaining="34"] div span:nth-child(35),
div[data-remaining="35"] div span:nth-child(36) {
  display: inline;
}
div[data-remaining="0"] li:nth-child(n+2),
div[data-remaining="1"] li:nth-child(n+2),
div[data-remaining="2"] li:nth-child(n+3),
div[data-remaining="3"] li:nth-child(n+4),
div[data-remaining="4"] li:nth-child(n+5),
div[data-remaining="5"] li:nth-child(n+6),
div[data-remaining="6"] li:nth-child(n+7),
div[data-remaining="7"] li:nth-child(n+8),
div[data-remaining="8"] li:nth-child(n+9),
div[data-remaining="9"] li:nth-child(n+10),
div[data-remaining="10"] li:nth-child(n+11),
div[data-remaining="11"] li:nth-child(n+12),
div[data-remaining="12"] li:nth-child(n+13),
div[data-remaining="13"] li:nth-child(n+14),
div[data-remaining="14"] li:nth-child(n+15),
div[data-remaining="15"] li:nth-child(n+16),
div[data-remaining="16"] li:nth-child(n+17),
div[data-remaining="17"] li:nth-child(n+18),
div[data-remaining="18"] li:nth-child(n+19),
div[data-remaining="19"] li:nth-child(n+20),
div[data-remaining="20"] li:nth-child(n+21),
div[data-remaining="21"] li:nth-child(n+22),
div[data-remaining="22"] li:nth-child(n+23),
div[data-remaining="23"] li:nth-child(n+24),
div[data-remaining="24"] li:nth-child(n+25),
div[data-remaining="25"] li:nth-child(n+26),
div[data-remaining="26"] li:nth-child(n+27),
div[data-remaining="27"] li:nth-child(n+28),
div[data-remaining="28"] li:nth-child(n+29),
div[data-remaining="29"] li:nth-child(n+30),
div[data-remaining="30"] li:nth-child(n+31),
div[data-remaining="31"] li:nth-child(n+32),
div[data-remaining="32"] li:nth-child(n+33),
div[data-remaining="33"] li:nth-child(n+34),
div[data-remaining="34"] li:nth-child(n+35),
div[data-remaining="35"] li:nth-child(n+36) {
  display: none;
}
div[data-remaining] li:not([style*="display: none"]):last-child svg:hover,
div[data-remaining] li:last-child svg:hover {
  cursor: pointer;
  opacity: 1;
}
.area div.temples > div, .area div.tokens > div {
  margin-left: 24px;
  float: right;
  font-size: 12px;
  vertical-align: super;
}
.area [data-piece] {
  height: 30.5px;
  width: 30.5px;
}
#supplies [data-piece="token"],
.area [data-piece="token"] {
  height: 23px;
  width: 23px;
  margin: 4px;
}

svg[data-seat="0"][data-piece="temple"] rect,
svg[data-seat="0"][data-piece="pilli"] path {
  fill: orange;
}
svg[data-seat="1"][data-piece="temple"] rect,
svg[data-seat="1"][data-piece="pilli"] path {
  fill: olivedrab;
}
svg[data-seat="2"][data-piece="temple"] rect,
svg[data-seat="2"][data-piece="pilli"] path {
  fill: #CFBD8F;
}
svg[data-seat="3"][data-piece="temple"] rect,
svg[data-seat="3"][data-piece="pilli"] path {
  fill: #65647C;
}

div[data-spot] img[data-size="2"] {
  height: 61px;
  z-index: -45;
}

div[data-spot] img[data-piece="bridge"][data-orientation="vertical"] {
  transform: rotate(90deg);
}
[data-piece="canal"][data-orientation="horizontal"] {
  transform: rotate(90deg);
  transform-origin: 100% 50%;
}
ol#demands {
  position: absolute !important;
  bottom: 33px;
  right: 25px;
  width: 170px;
  height: 75px;
  border: solid 1px transparent;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
ol#demands li {
  border: solid 1px transparent;
  width: 31px;
  height: 31px;
  float: left;
  margin-right: 8.5px;
  margin-top: 5px;
}
div[data-spot]:hover {
  border-color: white;
  cursor: pointer;
}
div[data-spot]:hover div.propose {
  background-repeat: no-repeat;
  background-size: 30.5px 30.5px;
  background-position: 0 0;
}
[data-propose="canal"] div[data-spot]:hover div.propose {
  background-image: url(./images/spot.svg);
  opacity: .5;
}
div[data-spot^="W"]:hover {
  border-color: red;
  clear: right;
}




div[data-spot^="@"] {
  left: calc(30.5px * 0);
}
div[data-spot^="A"] {
  left: calc(30.5px * 1);
}
div[data-spot^="B"] {
  left: calc(30.5px * 2);
}
div[data-spot^="C"] {
  left: calc(30.5px * 3);
}
div[data-spot^="D"] {
  left: calc(30.5px * 4);
}
div[data-spot^="E"] {
  left: calc(30.5px * 5);
}
div[data-spot^="F"] {
  left: calc(30.5px * 6);
}
div[data-spot^="G"] {
  left: calc(30.5px * 7);
}
div[data-spot^="H"] {
  left: calc(30.5px * 8);
}
div[data-spot^="I"] {
  left: calc(30.5px * 9);
}
div[data-spot^="J"] {
  left: calc(30.5px * 10);
}
div[data-spot^="K"] {
  left: calc(30.5px * 11);
}
div[data-spot^="L"] {
  left: calc(30.5px * 12);
}
div[data-spot^="M"] {
  left: calc(30.5px * 13);
}
div[data-spot^="N"] {
  left: calc(30.5px * 14);
}
div[data-spot^="O"] {
  left: calc(30.5px * 15);
}
div[data-spot^="P"] {
  left: calc(30.5px * 16);
}
div[data-spot^="Q"] {
  left: calc(30.5px * 17);
}
div[data-spot^="R"] {
  left: calc(30.5px * 18);
}
div[data-spot^="S"] {
  left: calc(30.5px * 19);
}
div[data-spot^="T"] {
  left: calc(30.5px * 20);
}
div[data-spot^="U"] {
  left: calc(30.5px * 21);
}
div[data-spot^="V"] {
  left: calc(30.5px * 22);
}
div[data-spot$="0"] {
  top: calc(30.5px * 0 + 6px);
}
div[data-spot$="1"] {
  top: calc(30.5px * 1 + 6px);
}
div[data-spot$="2"] {
  top: calc(30.5px * 2 + 6px);
}
div[data-spot$="3"] {
  top: calc(30.5px * 3 + 6px);
}
div[data-spot$="4"] {
  top: calc(30.5px * 4 + 6px);
}
div[data-spot$="5"] {
  top: calc(30.5px * 5 + 6px);
}
div[data-spot$="6"] {
  top: calc(30.5px * 6 + 6px);
}
div[data-spot$="7"] {
  top: calc(30.5px * 7 + 6px);
}
div[data-spot$="8"] {
  top: calc(30.5px * 8 + 6px);
}
div[data-spot$="9"] {
  top: calc(30.5px * 9 + 6px);
}
div[data-spot$="10"] {
  top: calc(30.5px * 10 + 6px);
}
div[data-spot$="11"] {
  top: calc(30.5px * 11 + 6px);
}
div[data-spot$="12"] {
  top: calc(30.5px * 12 + 6px);
}
div[data-spot$="13"] {
  top: calc(30.5px * 13 + 6px);
}
div[data-spot$="14"] {
  top: calc(30.5px * 14 + 6px);
}
div[data-spot$="15"] {
  top: calc(30.5px * 15 + 6px);
}

div[data-terrain="-"],
div[data-spot^="@"],
div[data-spot="A0"],
div[data-spot="B0"],
div[data-spot="C0"],
div[data-spot="C1"],
div[data-spot="D0"],
div[data-spot="D1"],
div[data-spot="E0"],
div[data-spot="E1"],
div[data-spot="F0"],
div[data-spot="G0"],
div[data-spot="H0"],
div[data-spot="H7"],
div[data-spot="I0"],
div[data-spot="J0"],
div[data-spot="K0"],
div[data-spot="L0"],
div[data-spot="M0"],
div[data-spot="N0"],
div[data-spot="O0"],
div[data-spot="P0"],
div[data-spot="Q0"],
div[data-spot="R0"],
div[data-spot="S0"],
div[data-spot="T0"],
div[data-spot="U0"],
div[data-spot$="15"],
div[data-spot^="V"],
div[data-spot="A1"],
div[data-spot="A2"],
div[data-spot="A5"],
div[data-spot="A6"],
div[data-spot="A7"],
div[data-spot="A8"],
div[data-spot="A9"],
div[data-spot="A10"],
div[data-spot="A14"],
div[data-spot="B9"],
div[data-spot="B14"],
div[data-spot="G14"],
div[data-spot="H14"],
div[data-spot="K1"],
div[data-spot="K14"],
div[data-spot="L1"],
div[data-spot="L13"],
div[data-spot="L14"],
div[data-spot="M2"],
div[data-spot="M3"],
div[data-spot="M13"],
div[data-spot="N3"],
div[data-spot="N12"],
div[data-spot="N13"],
div[data-spot="O3"],
div[data-spot="O4"],
div[data-spot="O12"],
div[data-spot="P4"],
div[data-spot="P11"],
div[data-spot="P12"],
div[data-spot="Q4"],
div[data-spot="Q5"],
div[data-spot="Q11"],
div[data-spot="R5"],
div[data-spot="R10"],
div[data-spot="R11"],
div[data-spot="S5"],
div[data-spot="S6"],
div[data-spot="S10"],
div[data-spot="T5"],
div[data-spot="T10"],
div[data-spot="U5"],
div[data-spot="U9"],
div[data-spot="U10"] {
  pointer-events: none;
}
div[data-spot]:hover {
  z-index: 11 !important;
}
div[data-spot] > *:hover {
  border-color: purple;
}
[data-anonymous="true"] img[data-nav="last-move"] {
  display: none;
}
.zone, #supplies {
  border-radius: 1.6em;
}

[data-piece] {
  animation: fade-in 0.25s ease-out;
}
[data-piece].gone {
  animation: fade-out .25s ease-out forwards;
}
@media (prefers-color-scheme: light) {
  .area, #supplies {
    background-color: rgba(135, 125, 138, .1);
  }
  .yours .area {
    background-color: transparent;
  }
}
