:root {
  --square-size: 30.5px;
  --board-top-buffer: 6px;
  --board-left-buffer: .5px;
}
.players {
  width: 20em;
  height: auto;
  z-index: 99;
  float: right;
  margin-top: .5em;
  position: relative;
}
.area {
  width: auto;
  height: auto;
  max-width: 20em;
  min-height: 2em;
  margin: 5px auto 0;
  border-radius: 1em;
  padding: 5px;
}
.zone {
  min-height: auto;
  margin-bottom: .5em;
}
#board {
  background-image: url(./images/mexicab.png);
  background-size: 700px 500px;
  background-repeat: no-repeat;
  position: relative;
  margin: 1em 1em 1em 1.5em;
  height: 494px;
  width: 702px;
  padding-top: 6px;
  padding-left: .5px;
  box-shadow: -3px 8px 8px -3px rgba(0, 0, 0, 0.6);
  z-index: 0;
  overflow-x: visible;
  float: left;
}
#supplies {
  height: 310px;
  width: auto;
  padding: 5px;
  padding-top: 1em;
  min-width: 5.7em;
  max-width: 11.25em;
  float: left;
  margin-top: 1em;
  display: contents;
}
#supplies ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#supplies li {
  margin: 0;
  padding: 0;
}
#supplies .canals[data-size="2"] {
  height: 285px;
  z-index: 15;
}
#supplies .canals[data-size="1"] {
  height: 90px;
}
#supplies .bridges {
  height: 125px;
}
#supplies .canals[data-size="2"] li {
  margin-bottom: -58px;
}
#supplies .tokens li,
#supplies .bridges li,
#supplies .canals[data-size="1"] li {
  margin-bottom: -26px;
}
#supplies li [data-size="2"] {
  height: 61px;
  width: var(--square-size);
  transform: rotate(5deg);
}
[data-piece] {
  height: var(--square-size);
  width: var(--square-size);
}
[data-piece="canal"] {
  pointer-events: none;
}
#supplies li [data-piece="bridge"],
#supplies li [data-size="1"] {
  transform: rotate(5deg);
}
[data-piece="token"] {
  border-radius: 50%;
  border: solid 1px white;
}
#supplies svg,
#supplies img {
  cursor: pointer;
}
#supplies div[data-remaining] {
  margin: 0 5px 5px 5px;
  text-align: center;
  width: 35px;
  font-size: 12px;
  float: left;
}
div[data-spot] {
  position: absolute;
  border: solid 2px transparent;
  height: 26.55px;
  width: 26.5px;
  z-index: 10;
  float: left;
  overflow: visible;
}
div[data-spot] .contents {
  position: relative;
}

div[data-spot] .contents > * {
  position: absolute;
  top: 0;
  left: 0;
}
div[data-spot] .contents, div[data-spot] .propose {
  height: var(--square-size);
  width: var(--square-size);
  z-index: 11;
  overflow: visible;
}
div[data-spot] > * {
  position: absolute;
  top: -4px;
  left: -4px;
  width: var(--square-size);
  height: var(--square-size);
  border: solid 2px transparent;
  z-index: 40;
}
div.temples, div.tokens {
  padding: 0;
  margin: 0 2px 0 0;
  float: left;
}
.area div.temples div, .area div.tokens div {
  float: right;
}
div.temples ol, div.tokens ol {
  margin: 0;
  margin-bottom: -5px;
  padding: 0;
  list-style: none;
  float: left;
  cursor: pointer;
}
div.player {
  max-width: 22em;
  width: 22em;
}
.area div.temples li, .area div.tokens li {
  padding: 0;
  margin: 0;
  float: left;
  vertical-align: sub;
  margin-right: -25px;
}
.area div.tokens li {
  margin-right: -28px;
}
div.tokens {
  margin-left: .5em;
  margin-bottom: -.5em;
}
div[data-remaining="0"] li:nth-child(1) {
  opacity: .3;
}
div[data-remaining] div {
  margin-bottom: 2px;
}
div[data-remaining] div span {
  display: none;
}
div[data-remaining="0"] div span:nth-child(1),
div[data-remaining="1"] div span:nth-child(2),
div[data-remaining="2"] div span:nth-child(3),
div[data-remaining="3"] div span:nth-child(4),
div[data-remaining="4"] div span:nth-child(5),
div[data-remaining="5"] div span:nth-child(6),
div[data-remaining="6"] div span:nth-child(7),
div[data-remaining="7"] div span:nth-child(8),
div[data-remaining="8"] div span:nth-child(9),
div[data-remaining="9"] div span:nth-child(10),
div[data-remaining="10"] div span:nth-child(11),
div[data-remaining="11"] div span:nth-child(12),
div[data-remaining="12"] div span:nth-child(13),
div[data-remaining="13"] div span:nth-child(14),
div[data-remaining="14"] div span:nth-child(15),
div[data-remaining="15"] div span:nth-child(16),
div[data-remaining="16"] div span:nth-child(17),
div[data-remaining="17"] div span:nth-child(18),
div[data-remaining="18"] div span:nth-child(19),
div[data-remaining="19"] div span:nth-child(20),
div[data-remaining="20"] div span:nth-child(21),
div[data-remaining="21"] div span:nth-child(22),
div[data-remaining="22"] div span:nth-child(23),
div[data-remaining="23"] div span:nth-child(24),
div[data-remaining="24"] div span:nth-child(25),
div[data-remaining="25"] div span:nth-child(26),
div[data-remaining="26"] div span:nth-child(27),
div[data-remaining="27"] div span:nth-child(28),
div[data-remaining="28"] div span:nth-child(29),
div[data-remaining="29"] div span:nth-child(30),
div[data-remaining="30"] div span:nth-child(31),
div[data-remaining="31"] div span:nth-child(32),
div[data-remaining="32"] div span:nth-child(33),
div[data-remaining="33"] div span:nth-child(34),
div[data-remaining="34"] div span:nth-child(35),
div[data-remaining="35"] div span:nth-child(36) {
  display: inline;
}
div[data-remaining="0"] li:nth-child(n+2),
div[data-remaining="1"] li:nth-child(n+2),
div[data-remaining="2"] li:nth-child(n+3),
div[data-remaining="3"] li:nth-child(n+4),
div[data-remaining="4"] li:nth-child(n+5),
div[data-remaining="5"] li:nth-child(n+6),
div[data-remaining="6"] li:nth-child(n+7),
div[data-remaining="7"] li:nth-child(n+8),
div[data-remaining="8"] li:nth-child(n+9),
div[data-remaining="9"] li:nth-child(n+10),
div[data-remaining="10"] li:nth-child(n+11),
div[data-remaining="11"] li:nth-child(n+12),
div[data-remaining="12"] li:nth-child(n+13),
div[data-remaining="13"] li:nth-child(n+14),
div[data-remaining="14"] li:nth-child(n+15),
div[data-remaining="15"] li:nth-child(n+16),
div[data-remaining="16"] li:nth-child(n+17),
div[data-remaining="17"] li:nth-child(n+18),
div[data-remaining="18"] li:nth-child(n+19),
div[data-remaining="19"] li:nth-child(n+20),
div[data-remaining="20"] li:nth-child(n+21),
div[data-remaining="21"] li:nth-child(n+22),
div[data-remaining="22"] li:nth-child(n+23),
div[data-remaining="23"] li:nth-child(n+24),
div[data-remaining="24"] li:nth-child(n+25),
div[data-remaining="25"] li:nth-child(n+26),
div[data-remaining="26"] li:nth-child(n+27),
div[data-remaining="27"] li:nth-child(n+28),
div[data-remaining="28"] li:nth-child(n+29),
div[data-remaining="29"] li:nth-child(n+30),
div[data-remaining="30"] li:nth-child(n+31),
div[data-remaining="31"] li:nth-child(n+32),
div[data-remaining="32"] li:nth-child(n+33),
div[data-remaining="33"] li:nth-child(n+34),
div[data-remaining="34"] li:nth-child(n+35),
div[data-remaining="35"] li:nth-child(n+36) {
  display: none;
}
div[data-remaining] li:not([style*="display: none"]):last-child svg:hover,
div[data-remaining] li:last-child svg:hover {
  cursor: pointer;
  opacity: 1;
}
.area div.temples > div, .area div.tokens > div {
  margin-left: 24px;
  float: right;
  font-size: 12px;
  vertical-align: super;
}
.area [data-piece] {
  height: var(--square-size);
  width: var(--square-size);
}
#supplies [data-piece="token"],
.area [data-piece="token"] {
  height: 23px;
  width: 23px;
  margin: 4px;
}

svg[data-seat="0"][data-piece="temple"] rect,
svg[data-seat="0"][data-piece="pilli"] path {
  fill: orange;
}
svg[data-seat="1"][data-piece="temple"] rect,
svg[data-seat="1"][data-piece="pilli"] path {
  fill: olivedrab;
}
svg[data-seat="2"][data-piece="temple"] rect,
svg[data-seat="2"][data-piece="pilli"] path {
  fill: #CFBD8F;
}
svg[data-seat="3"][data-piece="temple"] rect,
svg[data-seat="3"][data-piece="pilli"] path {
  fill: #65647C;
}

div[data-spot] img[data-size="2"] {
  height: 61px;
  z-index: -45;
}

div[data-spot] img[data-piece="bridge"][data-orientation="vertical"] {
  transform: rotate(90deg);
}
[data-piece="canal"][data-orientation="horizontal"] {
  transform: rotate(90deg);
  transform-origin: 100% 50%;
}
ol#demands {
  position: absolute !important;
  bottom: 33px;
  right: 25px;
  width: 170px;
  height: 75px;
  border: solid 1px transparent;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
ol#demands li {
  border: solid 1px transparent;
  width: 31px;
  height: 31px;
  float: left;
  margin-right: 8.5px;
  margin-top: 5px;
}
div[data-spot]:hover {
  border-color: white;
  cursor: pointer;
}
div[data-spot]:hover div.propose {
  background-repeat: no-repeat;
  background-size: var(--square-size) var(--square-size);
  background-position: 0 0;
}
#demands .foundable {
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
#demands .foundable:hover {
  animation-iteration-count: 2;
}
#actions {
  position: absolute;
  top: 565px;
  left: 25px;
  width: 698px;
  text-align: center;
}
#actions img {
  opacity: 1;
  transition: opacity .1s ease-in;
  box-shadow: -3px 8px 8px -3px rgba(0, 0, 0, 0.6);
}
#actions[data-remaining="5"] img:nth-child(6),
#actions[data-remaining="4"] img:nth-child(6),
#actions[data-remaining="3"] img:nth-child(6),
#actions[data-remaining="2"] img:nth-child(6),
#actions[data-remaining="1"] img:nth-child(6),
#actions[data-remaining="0"] img:nth-child(6),
#actions[data-remaining="4"] img:nth-child(5),
#actions[data-remaining="3"] img:nth-child(5),
#actions[data-remaining="2"] img:nth-child(5),
#actions[data-remaining="1"] img:nth-child(5),
#actions[data-remaining="0"] img:nth-child(5),
#actions[data-remaining="3"] img:nth-child(4),
#actions[data-remaining="2"] img:nth-child(4),
#actions[data-remaining="1"] img:nth-child(4),
#actions[data-remaining="0"] img:nth-child(4),
#actions[data-remaining="2"] img:nth-child(3),
#actions[data-remaining="1"] img:nth-child(3),
#actions[data-remaining="0"] img:nth-child(3),
#actions[data-remaining="1"] img:nth-child(2),
#actions[data-remaining="0"] img:nth-child(2),
#actions[data-remaining="0"] img:nth-child(1) {
  opacity: 0;
  transition: opacity .25s ease-out;
}
[data-column],
[data-row] {
  position: absolute;
  z-index: 99;
  color: white;
  font-weight: 500;
  font-size: .8em;
  text-shadow: 1px 1px 1px black;
}
#board [data-column],
#board [data-row] {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#board:hover [data-column],
#board:hover [data-row] {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
[data-column] {
  top: 5px;
  height: 1em;
  width: var(--square-size);
  text-align: center;
}
[data-column="@"] {
  left: calc(var(--square-size) * 0);
  visibility: hidden;
}
[data-column="A"] {
  left: calc(var(--square-size) * 1);
}
[data-column="B"] {
  left: calc(var(--square-size) * 2);
}
[data-column="C"] {
  left: calc(var(--square-size) * 3);
}
[data-column="D"] {
  left: calc(var(--square-size) * 4);
}
[data-column="E"] {
  left: calc(var(--square-size) * 5);
}
[data-column="F"] {
  left: calc(var(--square-size) * 6);
}
[data-column="G"] {
  left: calc(var(--square-size) * 7);
}
[data-column="H"] {
  left: calc(var(--square-size) * 8);
}
[data-column="I"] {
  left: calc(var(--square-size) * 9);
}
[data-column="J"] {
  left: calc(var(--square-size) * 10);
}
[data-column="K"] {
  left: calc(var(--square-size) * 11);
}
[data-column="L"] {
  left: calc(var(--square-size) * 12);
}
[data-column="M"] {
  left: calc(var(--square-size) * 13);
}
[data-column="N"] {
  left: calc(var(--square-size) * 14);
}
[data-column="O"] {
  left: calc(var(--square-size) * 15);
}
[data-column="P"] {
  left: calc(var(--square-size) * 16);
}
[data-column="Q"] {
  left: calc(var(--square-size) * 17);
}
[data-column="R"] {
  left: calc(var(--square-size) * 18);
}
[data-column="S"] {
  left: calc(var(--square-size) * 19);
}
[data-column="T"] {
  left: calc(var(--square-size) * 20);
}
[data-column="U"] {
  left: calc(var(--square-size) * 21);
}
[data-column="V"] {
  left: calc(var(--square-size) * 22);
  visibility: hidden;
}
[data-row] {
  left: 0;
  height: var(--square-size);
  line-height: var(--square-size);
  width: 1.5em;
  text-align: right;
  vertical-align: middle;
}
[data-row="1"] {
  top: calc(var(--square-size) * 1 + var(--board-top-buffer));
}
[data-row="2"] {
  top: calc(var(--square-size) * 2 + var(--board-top-buffer));
}
[data-row="3"] {
  top: calc(var(--square-size) * 3 + var(--board-top-buffer));
}
[data-row="4"] {
  top: calc(var(--square-size) * 4 + var(--board-top-buffer));
}
[data-row="5"] {
  top: calc(var(--square-size) * 5 + var(--board-top-buffer));
}
[data-row="6"] {
  top: calc(var(--square-size) * 6 + var(--board-top-buffer));
}
[data-row="7"] {
  top: calc(var(--square-size) * 7 + var(--board-top-buffer));
}
[data-row="8"] {
  top: calc(var(--square-size) * 8 + var(--board-top-buffer));
}
[data-row="9"] {
  top: calc(var(--square-size) * 9 + var(--board-top-buffer));
}
[data-row="10"] {
  top: calc(var(--square-size) * 10 + var(--board-top-buffer));
}
[data-row="11"] {
  top: calc(var(--square-size) * 11 + var(--board-top-buffer));
}
[data-row="12"] {
  top: calc(var(--square-size) * 12 + var(--board-top-buffer));
}
[data-row="13"] {
  top: calc(var(--square-size) * 13 + var(--board-top-buffer));
}
[data-row="14"] {
  top: calc(var(--square-size) * 14 + var(--board-top-buffer));
}
[data-row="15"] {
  top: calc(var(--square-size) * 15 + var(--board-top-buffer));
}
[data-propose="canal"] div[data-spot]:hover div.propose {
  background-image: url(./images/spot.svg);
  opacity: .5;
}
div[data-spot^="W"]:hover {
  border-color: red;
  clear: right;
}
div[data-spot^="@"] {
  left: calc(var(--square-size) * 0 + var(--board-left-buffer));
}
div[data-spot^="A"] {
  left: calc(var(--square-size) * 1 + var(--board-left-buffer));
}
div[data-spot^="B"] {
  left: calc(var(--square-size) * 2 + var(--board-left-buffer));
}
div[data-spot^="C"] {
  left: calc(var(--square-size) * 3 + var(--board-left-buffer));
}
div[data-spot^="D"] {
  left: calc(var(--square-size) * 4 + var(--board-left-buffer));
}
div[data-spot^="E"] {
  left: calc(var(--square-size) * 5 + var(--board-left-buffer));
}
div[data-spot^="F"] {
  left: calc(var(--square-size) * 6 + var(--board-left-buffer));
}
div[data-spot^="G"] {
  left: calc(var(--square-size) * 7 + var(--board-left-buffer));
}
div[data-spot^="H"] {
  left: calc(var(--square-size) * 8 + var(--board-left-buffer));
}
div[data-spot^="I"] {
  left: calc(var(--square-size) * 9 + var(--board-left-buffer));
}
div[data-spot^="J"] {
  left: calc(var(--square-size) * 10 + var(--board-left-buffer));
}
div[data-spot^="K"] {
  left: calc(var(--square-size) * 11 + var(--board-left-buffer));
}
div[data-spot^="L"] {
  left: calc(var(--square-size) * 12 + var(--board-left-buffer));
}
div[data-spot^="M"] {
  left: calc(var(--square-size) * 13 + var(--board-left-buffer));
}
div[data-spot^="N"] {
  left: calc(var(--square-size) * 14 + var(--board-left-buffer));
}
div[data-spot^="O"] {
  left: calc(var(--square-size) * 15 + var(--board-left-buffer));
}
div[data-spot^="P"] {
  left: calc(var(--square-size) * 16 + var(--board-left-buffer));
}
div[data-spot^="Q"] {
  left: calc(var(--square-size) * 17 + var(--board-left-buffer));
}
div[data-spot^="R"] {
  left: calc(var(--square-size) * 18 + var(--board-left-buffer));
}
div[data-spot^="S"] {
  left: calc(var(--square-size) * 19 + var(--board-left-buffer));
}
div[data-spot^="T"] {
  left: calc(var(--square-size) * 20 + var(--board-left-buffer));
}
div[data-spot^="U"] {
  left: calc(var(--square-size) * 21 + var(--board-left-buffer));
}
div[data-spot^="V"] {
  left: calc(var(--square-size) * 22 + var(--board-left-buffer));
}
div[data-spot$="0"] {
  top: calc(var(--square-size) * 0 + var(--board-top-buffer));
}
div[data-spot$="1"] {
  top: calc(var(--square-size) * 1 + var(--board-top-buffer));
}
div[data-spot$="2"] {
  top: calc(var(--square-size) * 2 + var(--board-top-buffer));
}
div[data-spot$="3"] {
  top: calc(var(--square-size) * 3 + var(--board-top-buffer));
}
div[data-spot$="4"] {
  top: calc(var(--square-size) * 4 + var(--board-top-buffer));
}
div[data-spot$="5"] {
  top: calc(var(--square-size) * 5 + var(--board-top-buffer));
}
div[data-spot$="6"] {
  top: calc(var(--square-size) * 6 + var(--board-top-buffer));
}
div[data-spot$="7"] {
  top: calc(var(--square-size) * 7 + var(--board-top-buffer));
}
div[data-spot$="8"] {
  top: calc(var(--square-size) * 8 + var(--board-top-buffer));
}
div[data-spot$="9"] {
  top: calc(var(--square-size) * 9 + var(--board-top-buffer));
}
div[data-spot$="10"] {
  top: calc(var(--square-size) * 10 + var(--board-top-buffer));
}
div[data-spot$="11"] {
  top: calc(var(--square-size) * 11 + var(--board-top-buffer));
}
div[data-spot$="12"] {
  top: calc(var(--square-size) * 12 + var(--board-top-buffer));
}
div[data-spot$="13"] {
  top: calc(var(--square-size) * 13 + var(--board-top-buffer));
}
div[data-spot$="14"] {
  top: calc(var(--square-size) * 14 + var(--board-top-buffer));
}
div[data-spot$="15"] {
  top: calc(var(--square-size) * 15 + var(--board-top-buffer));
}

div[data-terrain="-"],
div[data-spot^="@"],
div[data-spot="A0"],
div[data-spot="B0"],
div[data-spot="C0"],
div[data-spot="C1"],
div[data-spot="D0"],
div[data-spot="D1"],
div[data-spot="E0"],
div[data-spot="E1"],
div[data-spot="F0"],
div[data-spot="G0"],
div[data-spot="H0"],
div[data-spot="H7"],
div[data-spot="I0"],
div[data-spot="J0"],
div[data-spot="K0"],
div[data-spot="L0"],
div[data-spot="M0"],
div[data-spot="N0"],
div[data-spot="O0"],
div[data-spot="P0"],
div[data-spot="Q0"],
div[data-spot="R0"],
div[data-spot="S0"],
div[data-spot="T0"],
div[data-spot="U0"],
div[data-spot$="15"],
div[data-spot^="V"],
div[data-spot="A1"],
div[data-spot="A2"],
div[data-spot="A5"],
div[data-spot="A6"],
div[data-spot="A7"],
div[data-spot="A8"],
div[data-spot="A9"],
div[data-spot="A10"],
div[data-spot="A14"],
div[data-spot="B9"],
div[data-spot="B14"],
div[data-spot="G14"],
div[data-spot="H14"],
div[data-spot="K1"],
div[data-spot="K14"],
div[data-spot="L1"],
div[data-spot="L13"],
div[data-spot="L14"],
div[data-spot="M2"],
div[data-spot="M3"],
div[data-spot="M13"],
div[data-spot="N3"],
div[data-spot="N12"],
div[data-spot="N13"],
div[data-spot="O3"],
div[data-spot="O4"],
div[data-spot="O12"],
div[data-spot="P4"],
div[data-spot="P11"],
div[data-spot="P12"],
div[data-spot="Q4"],
div[data-spot="Q5"],
div[data-spot="Q11"],
div[data-spot="R5"],
div[data-spot="R10"],
div[data-spot="R11"],
div[data-spot="S5"],
div[data-spot="S6"],
div[data-spot="S10"],
div[data-spot="T5"],
div[data-spot="T10"],
div[data-spot="U5"],
div[data-spot="U9"],
div[data-spot="U10"] {
  visibility: hidden;
  pointer-events: none;
}
div[data-spot]:hover {
  z-index: 11 !important;
}
div[data-spot] > *:hover {
  border-color: purple;
}
[data-anonymous="true"] img[data-nav="last-move"] {
  display: none;
}
.zone, #supplies {
  border-radius: 1.6em;
}

[data-piece] {
  animation: fade-in 0.25s ease-out;
}
[data-piece].gone {
  animation: fade-out .25s ease-out forwards;
}
@media (prefers-color-scheme: light) {
  .area, #supplies {
    background-color: rgba(135, 125, 138, .1);
  }
  .yours .area {
    background-color: transparent;
  }
}
