---
title: Mexica
path: /games/mexica/
layout: layouts/table.njk
---
<div id="board">
  <img src="./images/mexicab.png" style="height: 500px; position: absolute; top: 0; left: 0;">
  <img src="./images/canal2.png" style="height: 61px; position: absolute; top: 189px; left: 458px; z-index: 10;">
  <img src="./images/canal2.png" style="height: 61px; position: absolute; top: 250px; left: 458px; z-index: 10;">
  <img src="./images/canal1.png" style="height: 30.5px; position: absolute; top: 189px; left: 488.5px; z-index: 3;">
  <ol id="capullis">
  </ol>
</div>
