---
title: Mexica
path: /games/mexica/
layout: layouts/table.njk
---
<div id="board" style="position: relative; margin: 10em 2em; height: 500px;">
  <img src="./images/mexicab.png" style="height: 500px; position: absolute; top: 0; left: 0;">
  <img src="./images/canal2.png" style="height: 61px; position: absolute; top: 189px; left: 458px; z-index: 10;">
  <img src="./images/canal2.png" style="height: 61px; position: absolute; top: 250px; left: 458px; z-index: 10;">
  <img src="./images/canal1.png" style="height: 30.5px; position: absolute; top: 189px; left: 488.5px; z-index: 3;">
  <img src="./images/bridge.svg" style="height: 30.5px; position: absolute; top: 189px; left: 488.5px; z-index: 4; transform: rotate(90deg);">
  <img src="./images/meeple.svg" style="height: 30.5px; position: absolute; top: 189px; left: 488.5px; z-index: 5;">
  <img src="./images/1.svg" style="height: 30px; position: absolute; top: 219.5px; left: 488.5px; z-index: 10;">
  <img src="./images/2.svg" style="height: 30px; position: absolute; top: 219.5px; left: 519px; z-index: 10;">
  <img src="./images/3.svg" style="height: 30px; position: absolute; top: 250px; left: 519px; z-index: 10;">
  <img src="./images/4.svg" style="height: 30px; position: absolute; top: 280.5px; left: 519px; z-index: 10;">
</div>
