---
title: Mexica
path: /games/mexica/
layout: layouts/table.njk
---
<div id="board">
  <ol id="demands"></ol>
</div>
<div id="actions" data-remaining="0">
  <img src="./images/token.png" data-piece="token">
  <img src="./images/token.png" data-piece="token">
  <img src="./images/token.png" data-piece="token">
  <img src="./images/token.png" data-piece="token">
  <img src="./images/token.png" data-piece="token">
  <img src="./images/token.png" data-piece="token">
</div>
<div id="supplies">
</div>
<ul id="guidance">
  <li data-command-type="place-pilli">Place Mexica Pilli on which space the emperor's palace?</li>
  <li data-command-type="construct-canal" data-command-size="2">Construct first square of double canal on which land square?</li>
  <li data-command-type="construct-canal" data-command-size="1">Construct single canal on which land square?</li>
</ul>
<div class="moves">
  <button data-type="pass">Pass</button>
  <button data-type="commit">I'm done</button>
</div>
