---
title: About
headline: The inception story
layout: layouts/article.njk
class: borderless-img
---
I discovered play-by-web games many years after I discovered modern strategy board games.  Initially, I was reluctant to play them.  I had several concerns which—once I [gave it](https://www.yucata.de/en/) [a chance](https://boardgamearena.com)—proved unfounded.  In fact, given my limited time, energy and opportunity, it is in many ways ideal.

Being a web developer, I contemplated some of the design decisions I was encountering in the games I was playing online.  Namely, I was bothered by how, failing to understand either a rule or the user interface, I sometimes initiated a bad move I was obligated to complete.  “Why can't I back out of this mistake?”, I puzzled.

I began toying with the idea of implementing a game.  I investigated how games were implemented on the sites which invited developer participation and their process looked more involved than what I thought it should be.

The problem with chewing on an idea for a while is you become invested.  One day I began writing the core of the first game and Your Move was born a couple months later.  It's a hobby project which unites my love of board games with my love of the craft of programming.

It was made for my enjoyment and yours.

Your feedback is valued and appreciated.

<a href="mailto:capnemo@yourmove.cc">capnemo</a>
