---
title: About
headline: The Inception Story
layout: layouts/page.njk
class: borderless-img
post: |
  I discovered play-by-web games many years after I discovered modern strategy board games.  Initially, I was reluctant to play them.  I had several concerns which—once I [gave it](https://www.yucata.de/en/) [a chance](https://boardgamearena.com)—proved unfounded.  In fact, given my limited time, energy and opportunity, it is in many ways ideal.

  Being a programmer, I contemplated some of the design decisions I experienced firsthand in the games I was playing online.  Namely, I was bothered by how, failing to understand either a rule or the user interface, I sometimes initiated a bad move I was obligated to complete.  “Why can't I back out of this mistake?”, I puzzled.

  I looked at how a prominent online board game site proposed developers implement games since I was giving some thought to it.  But, their process looked more involved than the one I envisioned.

  After chewing on this for a while I started thinking about implementation.  And once I had mentally worked out the core details, I was invested.  I began writing the core of the first game.

  Your Move was born online a few months later.  It's a hobby project which unites my love of board games with my love of the craft of programming.

  It was made for my enjoyment and yours.
---
