---
title: About Your Move
headline: Created to teach programming via online board games
subject_url: /images/meeple.png
layout: layouts/page.njk
class: borderless-img
stylesheets:
- /index.css
- ./index.css
modules:
- ./index.js
post: |
  Various factors influenced Your Move's inception.

  As the creator, I was initially skeptical of playing turn-based board games online.  I had several concerns, none of which actually bothered me once I gave it a chance.  In fact, given my limited opportunity to find available players, I consider the online, turn-based mode of play ideal.

  Initialy I enjoyed games on [Yucata](https://www.yucata.de/en/) and [Board Game Area](https://boardgamearena.com), but I've since tried smaller indie sites too.  As a programmer I had some thoughts about how games were being implemented.

  The more I contemplated it, and especially when I started thinking about games I'd like to implement, the more I began looking to the means.  While BGA provides a program to onboard developers, its platform and process seemed more daunting than the one I had in mind.

  Additionally, I wanted to share my thoughts on programming.  I figured why not combine my passing for programming with my passing for board games.  I'll provide programming guidance in the future, but the current priority is implementing games.
---
