@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}
@keyframes flare {
  0% { box-shadow: none; }
  60% {
    box-shadow:
      0 0 5px 5px #fff, /* inner white */
      0 0 5px 5px #f0f, /* middle magenta */
      0 0 5px 5px #0ff; /* outer cyan */
    }
  0% { box-shadow: none; }
}
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    height: initial;
    display: block;
  }
  99% {
    opacity: 0;
    height: initial;
    display: block;
  }
  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}
