@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url(/you.css);
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  background: url(/images/backgrounds/white_carbon.webp);
  color: #36454F;
}
h1 {
  white-space: nowrap;
}
.banner {
  position: relative;
  background: url(/images/backgrounds/carbon_fibre.webp);
  padding: .5em;
  margin: 0;
  width: 100%;
  height: 3.2em;
  color: white;
  margin-bottom: 4em;
  float: left;
  clear: both;
}
.banner img {
  border: solid 2px #3E505C;
  border-radius: 1em;
  width: 7em;
  float: left;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  margin-bottom: 1em;
}
.banner h1 {
  position: absolute;
  left: 4.5em;
  top: -12px;
  font-size: 1.8em;
  padding: 5px;
  padding: 0;
  display: block;
}
.banner h1 + * {
  position: absolute;
  left: 8.25em;
  top: 2.5em;
  padding: 0;
  margin: 0;
}
.banner .byline {
  color: #3E505C;
  position: absolute;
  top: 4.5em;
  left: 3.8em;
  scale: .8;
}
.banner .byline span {
  opacity: .6;
}
