---
title: Games
headline: Meet the diversions
class: borderless-img
layout: layouts/banner.njk
stylesheets:
- /index.css
- ./index.css
modules:
- ./index.js
---
<section class="games">
  <ul><img class="spinner" src="/images/spinner.gif"></ul>
</section>
