---
title: Games
headline: Play board and card games by web
class: borderless-img
layout: layouts/banner.njk
stylesheets:
- /index.css
- ./index.css
modules:
- ./index.js
---
<section class="games">
  <h1>All</h1>
  <ul><img class="spinner" src="/images/spinner.gif"></ul>
  <p></p>
  <div><a href="/games/?">All</a> | <a href="/games/?c=open_tables">With Open Tables</a> | <a href="/games/?c=started_tables">With Started Tables</a></div>
</section>
