---
title: Games
headline: Play board and card games by web
class: borderless-img
layout: layouts/banner.njk
stylesheets:
- /index.css
- ./index.css
modules:
- ./index.js
---
<div class="open">
  <p></p>
</div>
