.game {
  display: inline-block;
  margin: 1em;
}
.game h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.game .stats {
  text-align: center;
}
.game .stats div.slash {
  font-size: 2em;
}
.game .stats div.count {
  font-size: 1em;
  max-width: 3em;
  text-align: center;
}
.game .stats div.count span {
  font-weight: bold;
}
.game .stats div.count,
.game .stats div.slash {
  display: inline-block;
}
.game img {
  border: solid 3px dimgray;
  border-radius: 1em;
  height: 9em;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
}
section.games ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section.games li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

