@import url(/common.css);
@import url(/fonts.css);
@import url(/you.css);
@import url(/games/effects.css);

@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}
@keyframes arise {
  0% { transform: translateY(4em)}
  100% { transform: translateY(0)}
}
@keyframes play {
  0% { transform: translateY(-21em); }
  40% { transform: translateY(0); }
}
@keyframes award {
  0% { transform: translateY(0); }
  60% { transform: translateY(-21em); }
}
@keyframes updown {
  0% { transform: translateY(0); }
  25% { transform: translateY(-1em); }
  100% { transform: translateY(0); }
}
@keyframes down {
  25% { transform: translateY(-1em); }
  0% { transform: translateY(0); }
}
@keyframes fadeout {
  0% { opacity: 1; }
  95% { opacity: .8; }
  100% { opacity: 0; }
}

:root, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(/images/backgrounds/round.webp);
}
/*
eliminates bounce effect on overscroll
html {
  overflow: hidden;
}
*/
body {
  overflow: auto;
}
#table {
  opacity: 0;
  margin: 0;
  padding: 0;
  padding-top: 2.5em;
  height: calc(100% - 2.5em);
  width: 100%;
  color: #3E505C;
  background-image: url(/images/backgrounds/round.webp);
  transition: background-image .3s ease-in-out;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
}
#table.init {
  opacity: 1;
  transition: opacity .25s;
}
#table.wait {
  cursor: wait;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
#title * {
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: inline;
}
#table #game progress {
  margin-right: .5em;
  vertical-align: text-top;
}
.signin,
.signout {
  display: none;
}
#table:not(.present),
#table[data-event-type="finished"] {
  background-image: url(/images/backgrounds/pixel_weave.webp);
  transition: background-image .3s ease-in-out;
}
#table .moves {
  position: fixed;
  left: 1em;
  bottom: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: .7em;
  z-index: 99;
  padding: 1px;
}
#table button {
  font-size: 1em;
  min-width: 4em;
  padding: 5px;
  border-radius: .5em;
  margin: 2px;
  min-width: 2em;
  text-align: center;
  transition: background-color .5s, color .5s;
  display: none;
}
#table.present button {
  cursor: default;
}
#table.present button:hover {
  cursor: pointer;
}
#table[data-table-status="finished"] #replay .touches::after {
  content: "!";
}
body.anon img[data-nav="last-move"] {
  display: none;
}
.message {
  animation: updown 3s ease-out infinite;
  position: relative;
  max-height: 30em;
}
.message .icon {
  font-size: 3em;
  position: absolute;
  right: .25em;
  top: .25em;
}
#error .icon {
  transform: scaleX(-1);
}
.message:hover {
  animation-play-state: paused;
}
#table.ack .message {
  animation: .5s ease 0s normal forwards 1 fadeout;
  pointer-events: none;
}
.hidden {
  display: none;
  visibility: hidden;
}
.victor img {
  border-radius: 1em;
  border: solid 2px white;
  margin: 5px auto;
  clear: both;
  display: block;
  animation: arise .6s forwards;
  height: 150px;
}
.victor {
  font-size: 1.3em;
  margin: -100px 0 .5em;
}
.message {
  position: fixed;
  vertical-align: middle;
  bottom: 1em;
  left: calc(50% - 15em - 40px);
  border: solid 2px white;
  min-width: 23em;
  min-height: 5em;
  display: inline-block;
  text-align: left;
  margin: auto 0;
  z-index: 999;
  color: white;
  padding: 0 1em;
  background: rgba(62, 80, 92, .95);
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  border-radius: 1.1em;
  transition: height .5s, width .5s;
}
.message p {
  margin-top: 15px;
  margin-bottom: 15px;
}
#error,
#event:not([data-type]) {
  visibility: hidden;
}
#table.error #error {
  visibility: visible;
}
#table.error :is(#event, #guidance) {
  visibility: hidden;
}
#event:is([data-type="scored"], [data-type="finished"]) {
  text-align: center;
  vertical-align: middle;
}
.message:hover {
  background: rgba(62, 80, 92, 1);
  transition: background .25s ease-out;
  cursor: default;
}
#event[data-type="scored"] > *,
#event[data-type="finished"] > * {
  display: inline-block;
}
#event .subject {
  border-radius: 5px;
  border: solid 1px dimgray;
  margin-bottom: -25px;
}
#event[data-type="scored"] span,
#event[data-type="finished"] span {
  font-size: 1.2em;
  margin: 0 7px 0 2px;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: top;
}
#event p.who {
  font-size: .8em;
  text-align: right;
  color: white;
  padding: 0;
  margin-bottom: -3px;
  position: absolute;
  bottom: 5px;
  right: 0;
  margin-right: 85px;
  opacity: .6;
}
#event > figure {
  position: absolute;
  right: -1px;
  bottom: -1px;
  border-radius: 0 1em 1em 0;
  border: solid 1px transparent;
  height: 80px;
  width: 80px;
}
#event .subject {
  height: 50px;
  width: 50px;
}
.message p {
  display: block;
  font-size: 1.2em;
  max-width: 16em;
}
.message.automatic p {
  max-width: initial;
}
.message.automatic .who {
  visibility: hidden;
}
#table .scored {
  padding: 0;
  margin: 0;
  list-style: none;
}
#table .scored {
  width: auto;
}
#table .scored li {
  width: 52px;
  height: 4.4em;
  padding: 0;
  margin: .4em;
  display: inline-block;
  position: relative;
}
#table .scored li span:not(.avatar) {
  display: inline-block;
  width: 50px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#table[data-event-type="scoring"] #event {
  height: 7.5em;
  transition: height .5s;
}
#table[data-event-type="finished"] #event {
  height: 14.5em;
  transition: height .5s;
}
#table[data-event-type="finished"] #game {
  background-color: rgba(116, 53, 59, .6);
}
#table #replay {
  float: right;
  font-size: .9em;
  position: absolute;
  right: 2em;
  top: 3px;
}
#title {
  color: white;
}
img#up {
  position: absolute;
  right: 0;
  float: right;
  top: 4px;
  width: 25px !important;
  padding: 0;
  margin: -2px -5px .5em 0;
  opacity: .2;
  transition: opacity 1s;
  cursor: default;
}
#table.up img#up {
  opacity: 1;
}
#table #replay img {
  margin: 4px 2px 0;
  cursor: default;
}
#table #replay img[data-nav="do-over"] {
  margin-right: 7px;
  visibility: hidden;
}
#table.undoable #replay img[data-nav="do-over"] {
  visibility: visible;
}
#table #replay span {
  width: 2em;
  display: inline-block;
  text-align: right;
}
#table #replay span.touches {
  text-align: left;
}
#table #game {
  position: fixed;
  top: 0;
  background-color: #3E505C;
  color: snow;
  font-weight: 1.2em;
  width: calc(100% - 10px);
  padding: 5px;
  text-align: left;
  z-index: 999;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: background-color .5s;
}
a#logo {
  display: none;
}
#table #game span {
  line-height: 1.1em;
}
#table #game :is(img, .logo) {
  width: 18px;
  margin-right: 0;
  margin-bottom: -3px;
}
#table #game #phase:not(:empty)::before {
  content: ": ";
}
#table:not(.present) #game {
  background-color: #74353b;
}
#table:not(.present) *,
#table[data-event-type="finished"] * {
  cursor: not-allowed;
}
#table #game {
  cursor: default;
}
img[data-action] {
  width: 3em;
  position: absolute;
  right: .25em;
  top: 3.5em;
  transition: opacity .5s;
  visibility: hidden;
}
img[data-action="may"],
img[data-action="must"] {
  visibility: visible;
}
img[data-action="must"] {
  opacity: 1;
  animation-name: wobble;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
img[data-action="may"] {
  opacity: .25;
}
.players {
  width: calc(100% - 12.3em);
  height: calc(100% - 5em);
  position: absolute;
  left: 0;
  margin: 0;
  margin-left: 1em;
}
#table .zone {
  overflow: hidden;
}
#table .zone div span.tip {
  opacity: 0;
  transition: opacity ease-in .25s;
}
#table .zone:hover div span.tip {
  opacity: 1;
  transition: opacity ease-in .5s;
}
#table .area {
  height: 14em;
  width: 10em;
  margin: 2px auto 0;
}
#table .area img {
  width: 10em;
  margin: 0 auto;
}
#table .zone {
  margin: 0;
  display: block;
  width: auto;
  min-height: 14.5em;
  text-align: left;
  float: left;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  font-size: 1em;
  padding: 9px;
  border-radius: 1.75em;
}
#table .zone:hover {
  z-index: 99;
}
#table div.player {
  font-size: .8em;
  border: solid 1px black;
  height: 6.5em;
  max-width: 18.5em;
  overflow: hidden;
  border-radius: 1.65em;
  background-color: #36454F;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity .5s, box-shadow 1s;
  margin: 0 0 5px 0;
  position: relative;
  z-index: 99;
}
#table div.player.scored {
  animation: bump .3s ease-out !important;
}
#table .yours {
  background-color: rgba(135, 125, 138, .1);
}
#table .zone[data-presence] {
  transition: box-shadow 0.3s ease-in-out;
}
#table .zone[data-presence="offline"] div.player {
  opacity: .7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0);
}
#table .zone[data-presence="online"] div.player {
  animation: flare 1s ease-out;
}
#table .zone[data-presence="online"].yours div.player {
  animation: flare 1s ease-out 2;
}
#table div.player:hover {
  opacity: 1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.avatar {
  position: relative;
  opacity: 1;
}
#table div.player img {
  margin: 0;
}
#table div.player .avatar {
  margin: -1px;
  float: left;
  width: 6em;
  height: 6em;
}
#table div.player div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#table div.player > div {
  font-size: 1.1em;
  margin: 3px;
  margin-left: 6.5em;
  color: white;
  width: 10em;
  transition: width .5s;
}
#title {
  cursor: pointer;
}
#table div.player .username {
  font-size: 1.2em;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  cursor: pointer;
}
#table div.player .username * {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 1em;
}
#table #game .logo {
  max-height: 18px;
  max-width: 18px;
  margin-right: -2px;
}
#table #game .logo > path {
  fill: #FF5733;
}
kbd {
  align-items: center;
  font-family: Montserrat;
  font-size: .7em;
  background: linear-gradient(-225deg, rgb(213, 219, 228) 0%, rgb(248, 248, 248) 100%);
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 0 rgb(205, 205, 230), inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
  display: inline-flex;
  height: 18px;
  justify-content: center;
  vertical-align: middle;
  padding: 0 0 1px;
  margin: -4px 2px 0;
  color: rgb(150, 159, 175);
  border: 0;
  width: 20px
}
kbd.symbol {
  font-family: Viga;
}
kbd.named {
  font-size: .5em;
}
kbd.wide {
  width: 40px;
}
@media (prefers-color-scheme: dark) {
  html {
    background-image: url(/images/backgrounds/carbon_fibre.webp);
  }
  #table {
    background-image: url(/images/backgrounds/carbon_fibre.webp);
    color: snow;
  }
  #table:not(.present),
  #table[data-event-type="finished"] {
    background-image: url(/images/backgrounds/denim.webp);
  }
  kbd {
    background: linear-gradient(-26.5deg, rgb(86, 88, 114) 0%, rgb(49, 53, 91) 100%);
    box-shadow: inset 0 -2px 0 0 rgb(40, 45, 85), inset 0 0 1px 1px rgb(81, 87, 125), 0 2px 2px 0 rgba(3, 4, 9, 0.3);
    color: rgb(127, 132, 151);
  }
  #table .moves {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
