@import url(/fonts.css);
@import url(/you.css);
@import url(/games/effects.css);
body {
  margin: 0;
  padding: 0;
  padding-top: 2.5em;
  color: #3E505C;
  background-image: url(/images/backgrounds/round.webp);
  transition: background-image .3s ease-in-out;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
#title * {
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: inline;
}
#game progress {
  margin-right: .5em;
}
.signin,
.signout {
  display: none;
}
body[data-tense="past"],
body[data-event-type="finish"] {
  background-image: url(/images/backgrounds/pixel_weave.webp);
  transition: background-image .3s ease-in-out;
}
body.initialized {
  opacity: 1;
  transition: opacity .25s;
}
body {
  opacity: 0;
}
body[data-ready=""],
body[data-ready="false"] {
  cursor: wait;
}
[data-played="0"] [data-seat="0"] .area img,
[data-played="1"] [data-seat="1"] .area img,
[data-played="2"] [data-seat="2"] .area img,
[data-played="3"] [data-seat="3"] .area img,
[data-played="4"] [data-seat="4"] .area img,
[data-played="5"] [data-seat="5"] .area img,
[data-played="6"] [data-seat="6"] .area img {
  animation: play .8s;
}
[data-event-type="award"] .area img {
  transform: translateY(-30em);
  animation: award .8s !important;
}
[data-table-status="finished"] #replay .touches::after {
  content: "!";
}
#event {
  animation: updown 3s ease-out infinite;
}
#event:hover {
  animation-duration: 60s;
}
#event.acknowledged {
  animation: .5s ease 0s normal forwards 1 fadeout;
}
@keyframes arise {
  0% { transform: translateY(4em)}
  100% { transform: translateY(0)}
}
.hidden {
  visibility: hidden;
}
.victor img {
  border-radius: 1em;
  border: solid 2px white;
  margin: 5px auto;
  clear: both;
  display: block;
  animation: arise .6s forwards;
}
.victor {
  font-size: 1.3em;
  margin: -100px 0 .5em;
}
#event {
  position: fixed;
  vertical-align: middle;
  bottom: 1em;
  left: calc(50% - 15em - 40px);
  border: solid 2px white;
  min-width: 23em;
  height: 5em;
  display: inline-block;
  text-align: left;
  margin: auto 0;
  z-index: 999;
  color: white;
  padding: 0 1em;
  background: rgba(62, 80, 92, .95);
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  transition: height .5s, width .5s;
}
#event[data-type="scoring"],
#event[data-type="finish"] {
  text-align: center;
  vertical-align: middle;
}
#event:hover {
  background: rgba(62, 80, 92, 1);
  transition: background .25s ease-out;
  cursor: default;
}
#event[data-type="scoring"] > *,
#event[data-type="finish"] > * {
  display: inline-block;
}
#event img.subject {
  border-radius: 5px;
  border: solid 1px dimgray;
  margin-bottom: -25px;
}
#event[data-type="scoring"] span,
#event[data-type="finish"] span {
  font-size: 1.2em;
  margin: 0 7px 0 2px;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: top;
}
#event p.who {
  font-size: .8em;
  text-align: right;
  color: white;
  padding: 0;
  margin-bottom: -3px;
  position: absolute;
  bottom: 5px;
  right: 0;
  margin-right: 85px;
  opacity: .6;
}
#event img.who {
  position: absolute;
  right: -1px;
  bottom: -1px;
  border-radius: 0 1em 1em 0;
  border: solid 1px transparent;
}
#event p {
  display: block;
  font-size: 1.2em;
}
#event.automatic .who {
  visibility: hidden;
}
.scored {
  padding: 0;
  margin: 0;
  list-style: none;
}
.scored {
  width: auto;
}
.scored li {
  width: 52px;
  height: 4.4em;
  padding: 0;
  margin: .4em;
  display: inline-block;
  position: relative;
}
.scored li span {
  display: inline-block;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
}
[data-event-type="scoring"] #event {
  height: 7.5em;
  transition: height .5s;
}
[data-event-type="finish"] #event {
  height: 14.5em;
  transition: height .5s;
}
[data-event-type="finish"] #game {
  background-color: rgba(116, 53, 59, .6);
}
#replay {
  float: right;
  font-size: .9em;
  position: absolute;
  right: 2em;
  top: 3px;
}
#title {
  color: white;
}
img#up {
  position: absolute;
  right: 0;
  float: right;
  top: 4px;
  width: 25px !important;
  padding: 0;
  margin: -2px -5px .5em 0;
  opacity: .2;
  transition: opacity 1s;
  cursor: default;
}
[data-up="true"] img#up {
  opacity: 1;
}
#replay img {
  margin: 2px 2px 0;
  cursor: default;
}
#replay span {
  width: 2em;
  display: inline-block;
  text-align: right;
}
#replay span.touches {
  text-align: left;
}
#game {
  position: fixed;
  top: 0;
  background-color: #3E505C;
  color: snow;
  font-weight: 1.2em;
  width: calc(100% - 10px);
  padding: 5px;
  text-align: left;
  z-index: 999;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: background-color .5s;
}
a#logo {
  display: none;
}
#game span {
  line-height: 1.1em;
}
#game img, #game .logo {
  width: 18px;
  margin-right: 0;
  margin-bottom: -3px;
}
#game #phase:not(:empty)::before {
  content: ": ";
}
[data-tense="past"] #game {
  background-color: #74353b;
}
[data-tense="past"] *,
[data-event-type="finish"] * {
  cursor: not-allowed;
}
#game {
  cursor: default;
}
@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}
img[data-action] {
  width: 3em;
  position: absolute;
  right: .25em;
  top: 3.5em;
  transition: opacity .5s;
  visibility: hidden;
}
img[data-action="may"],
img[data-action="must"] {
  visibility: visible;
}
img[data-action="must"] {
  opacity: 1;
  animation-name: wobble;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
img[data-action="may"] {
  opacity: .25;
}
.players {
  width: calc(100% - 12.3em);
  height: calc(100% - 5em);
  position: absolute;
  left: 0;
  margin: 0;
  margin-left: 1em;
}
.zone {
  overflow: hidden;
}
.zone div span.tip {
  opacity: 0;
  transition: opacity ease-in .25s;
}
.zone:hover div span.tip {
  opacity: 1;
  transition: opacity ease-in .5s;
}
.area {
  height: 14em;
  width: 10em;
  margin: 2px auto 0;
}
.area img {
  width: 10em;
  margin: 0 auto;
}
.zone {
  margin: 0;
  display: block;
  width: auto;
  min-height: 14.5em;
  text-align: left;
  float: left;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  font-size: 1em;
  padding: 9px;
  border-radius: 1.75em;
}
.zone:hover {
  z-index: 99;
}
div.player {
  font-size: .8em;
  border: solid 1px black;
  height: 6.5em;
  max-width: 18.5em;
  overflow: hidden;
  border-radius: 1.65em;
  background-color: #36454F;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity .5s, box-shadow 1s;
  margin: 0 0 5px 0;
  position: relative;
  z-index: 99;
}
.yours .username {
  text-decoration: underline;
}
.yours {
  background-color: rgba(135, 125, 138, .1);
}
[data-presence] {
  transition: box-shadow 0.3s ease-in-out;
}
[data-presence="offline"] div.player {
  opacity: .7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0);
}
[data-presence="online"] div.player {
  animation: flare 1s ease-out;
}
[data-presence="online"].yours div.player {
  animation: flare 1s ease-out 2;
}
div.player:hover {
  opacity: 1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.avatar {
  position: relative;
  opacity: 1;
}
.avatar img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
}
div.player img {
  max-width: 6em;
  margin: 0;
  float: left;
}
div.player .avatar {
  margin: -1px;
  float: left;
  width: 6em;
  height: 6em;
}
div.player div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.player > div {
  font-size: 1.1em;
  margin: 3px;
  margin-left: 6.5em;
  color: white;
  width: 10em;
  transition: width .5s;
}
#title {
  cursor: pointer;
}
div.player .username {
  font-size: 1.2em;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  cursor: pointer;
}
div.player .username * {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 1em;
}
#game .logo {
  max-height: 18px;
  max-width: 18px;
  margin-right: -2px;
}
#game .logo > path {
  fill: #FF5733;
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: url(/images/backgrounds/carbon_fibre.webp);
    color: snow;
  }
  body[data-tense="past"],
  body[data-event-type="finish"] {
    background-image: url(/images/backgrounds/denim.webp);
  }
}
@keyframes play {
  0% { transform: translateY(-21em); }
  40% { transform: translateY(0); }
}
@keyframes award {
  0% { transform: translateY(0); }
  60% { transform: translateY(-21em); }
}
@keyframes updown {
  0% { transform: translateY(0); }
  25% { transform: translateY(-1em); }
  100% { transform: translateY(0); }
}
@keyframes down {
  25% { transform: translateY(-1em); }
  0% { transform: translateY(0); }
}
@keyframes fadeout {
  0% { opacity: 1; }
  95% { opacity: .8; }
  100% { opacity: 0; }
}
@keyframes heartbeat {
  0% { transform: scale(1); }
  5% { transform: scale(.9); }
  20% { transform: scale(1); }
}
