---
layout: layouts/banner.njk
stylesheets:
- /ui.css
- /signon.css
modules:
- ./ui.js
class: borderless-img centered
---
<div class="signon" id='signin-section'>
  <form id='signin'>
      <label>New Password</label><input autofocus type='password' name='password' minlength="8" /><br>
      <label>Confirm New Password</label><input type='password' name='confirm-password' minlength="8" /><br>
      <input type='submit' value="Save">
  </form>
</div>
