---
title: F.A.Q.
headline: A few things worth knowing
subject_url: /images/meeple.png
layout: layouts/page.njk
class: borderless-img
stylesheets:
- /index.css
- ./index.css
modules:
- ./index.js
post: |
  ## Is there a cost to use it?

  Presently, no.  But since there are costs run it, a *nominal fee* may be collected someday.

  ## How do I designate my avatar?

  When you sign up for an account you designate your username and email address.  The latter determines your avatar by virtue of your [Gravatar](https://en.gravatar.com) account.  You may need to create one.

  And rather than revealing your actual identity and photo, you may want to hide behind an alternate image and identity.  One easy way to do this is [to create a plus address](https://www.wikihow.com/Use-Plus-Addressing-in-Gmail).

  If your gmail account is `jrrtolkien@gmail.com`, for example, you can designate alternate identities using plus accounts such as `jrrtolkien+frodo@gmail.com` and `jrrtolkien+samwise@gmail.com`.  Doing so bypasses the need to create another email address in order to customize your avatar.  A single Gravatar account can be associated with several email addresses and/or plus addresses.  Choose your address accordingly and configure Gravatar with whatever image you like.

  Your avatar the cornerstone of your online presence and representation.  You must have one.  Your email address is kept private.  You're known only by your username and avatar.

  ## What must I know about the user interface (ui) for playing a game?

  The ui is minimalistic.  At the top of the screen is a header bar.  It has the title of the game you're playing, immediately followed by the current phase of the game.  This generally cues you about what you're to do. The pawn icon in the upper right corner lights up when it's your turn.

  Each player is represented by a placard with their username and few other details about their status in the game.  The placard fades out a bit for any who are offline.

  A lit up and wobbling pawn appears on the placards of those obligated to move.  A stationary and dim pawn appears on the placards of those who may revise their moves.  It's only possible to revise trival moves like blind bids.  Typical moves cannot be revised once committed.

  Job number one is to make timely moves and pass the pawn to the next player.

  Each played game is a story told in frames.  As the story progresses, you will be told what just happened.  This is described in floating messages at the bottom of the screen.  You can click these to dismiss them if they get in your way.

  These messages are written in active voice.  They tell you what happened, not what you must do.  You must interact with the interface to drive the story whenever it's your turn.

  The navigation buttons in the upper right (or, alternately, the left and right arrow keys and shift key on your keyboard) allow you to step forwards and backwards along the timeline.  Immediately before these buttons is a progress bar followed by the current frame number and the total number of frames.  Progress is always in reference to the story thus far and the known timeline.  It is not an indicator of how close a game is until the end.

  The ui provides visual cues as you navigate between the present and past.  There is a distinct look to the header bar and screen background when you're in the present moment of the game.  *You are only permitted to make moves from the present.*

  Hovering over the title of the game reveals a tooltip for you to review its configuration.  This is the same configuration which will have been in place when you joined the table.

  ## What sets it apart from other play-by-web sites?

  One of the biggest grievances I had playing games online is that while learning new games, I'd make a move only to discover—sometimes even after checking the rulebook—I'd misunderstood a rule, or the user interface.  What I had anticipated didn't unfold as expected.

  This left me in a precarious position and occasionally ruined my hard-wrought plans.  The worst part is these mistakes wouldn't have occurred in the real world because someone would've pointed out the discrepancy when I attempted to finish up the move by doing the wrong thing.

  What these games lacked was a way to rewind the move once I realized my misunderstanding.  Undo/redo was implemented at the whim of the developer to varying degree if at all.

  The core framework for Your Move was designed around the concept of retractibility, that rewinding a bad move should be a simple thing and not a costly feat of the developer.  It follows the same principle of reversibility as the real world.  You can rewind as long as it's your turn and you haven't gained new information (drawn a card, rolled dice, etc.).

  The `I'm Done` button exists as a means to confirming moves.  In many situations, this extra step adds nothing.  But in some, it allows the move to reveal its effects and the player to assess them and then commit or rewind.  Therefore, while having to make a play and confirm it may seem like a nuisance, you're less likely to be trapped by misteps.

  Futhermore, since every game is a series of recorded actions taken by players or the game itself, one can navigate the timeline backwards and forwards.  Reviewing the past to see what been done since your last move is within easy reach.

  It's great feat, however, is how little the back end requires to implement a game.  Each is implemented as a *single, mostly-pure, JavaScript function in a Postgres database.*  This function, which initializes and reduces over game state, is created long before there's a tangible user interface.

  Other than this function and a few facts about the game, the server requires nothing else.  Eventually, creating the user interface will necessitate front-end client logic and assets like images, but you'd have expected that!

---
