---
title: Oh Hell (Blackout)
indicator_url: /images/games/ohhell.jpg
min_players: 3
max_players: 7
publisher: Public Domain
designers: Uncredited
developers: Mario T. Lanza
layout: layouts/game.njk
classes: meeple
stylesheets:
- /games/game.css
- ./index.css
modules:
- ./index.js
---
