---
title: Table Interactive Shell
layout: layouts/plain.njk
stylesheets:
- /ui.css
modules:
- ./ui.js
---
<style>
  body {
    background-image: url(/images/backgrounds/greypx.webp);
  }
</style>
