---
title: Shell
layout: layouts/plain.njk
stylesheets:
- /ui.css
- ./ui.css
modules:
- ./ui.js
---
<ul id="events"></ul>
<div id="commands">
  <textarea tabindex="0" id="seat" placeholder="Seat" autofocus></textarea>
  <textarea tabindex="1" id="move" placeholder="Move"></textarea>
</div>
