body {
  background-image: url(/images/backgrounds/greypx.webp);
  padding: 3em 0 6em;
}
a#logo,
a#you {
  position: fixed !important;
}
pre {
  padding: 1em;
}
pre, ul {
  color: white;
  font-size: small;
}
summary pre {
  white-space: normal;
}
li {
  width: calc(100vw - 15em);
  padding: 5px;
}
#events {
  list-style-image: url(/images/checked.png);
}
#events li {
  border: solid 1px transparent;
}
#events li.present {
  border-color: white;
}
#events li.future {
  list-style-image: url(/images/unchecked.png);
}
#commands {
  position: fixed;
  bottom: 1em;
  left: 1em;
  width: calc(100vw - 2em);
}
#commands #seat {
  position: absolute;
  right: 42em;
  bottom: 1em;
  width: 2.5em;
  min-height: 3em;
  vertical-align: top;
  resize: none;
}
#commands #move {
  position: absolute;
  width: 40em;
  min-height: 3em;
  right: 1em;
  bottom: 1em;
  max-height: 15em;
  resize: vertical;
}
summary > pre {
  margin-top: -15px;
  margin-left: 10px;
  padding: 0;
}
details > pre {
  margin-left: 15px;
}
.facts {
  margin-left: 10px;
  padding: 0;
  color: greenyellow;
}
.state {
  margin-left: 10px;
  padding: 0;
  color: antiquewhite;
}
