body {
  background-image: url(/images/backgrounds/greypx.webp);
  padding: 3em 0 6em;
}
a#logo,
a#you {
  position: fixed !important;
}
pre {
  padding: 1em;
}
pre, ul {
  color: white;
  font-size: small;
}
summary pre {
  white-space: normal;
}
li {
  width: calc(100vw - 5em);
  padding: 5px;
}
#events {
  list-style-image: url(/images/checked.png);
}
#events li {
  border-left: solid 3px transparent;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  margin-top: 4px;
  border-bottom: dashed 1px transparent;
}
#events li.present {
  border-color: transparent;
  border-bottom-color: white;
}
#events li.future {
  border-left-color: lightsalmon;
  list-style-image: url(/images/unchecked.png);
}
.index {
  padding: 0;
  font-weight: bold;
  color: lightyellow;
}
#commands {
  position: fixed;
  bottom: .5em;
  right: .5em;
  width: calc(100vw - 2em);
  width: 60em;
  min-height: 5em;
  max-height: 15em;
  resize: vertical;
  padding: 5px;
  opacity: .25;
  vertical-align: bottom;
  transition: opacity .5s;
}
#commands:hover, #commands:focus {
  opacity: 1;
}
summary > pre {
  margin-top: -15px;
  margin-left: 10px;
  padding: 0;
}
details > pre {
  margin-left: 15px;
}
.facts {
  margin-left: 10px;
  padding: 0;
  color: yellowgreen;
}
.state {
  margin-left: 10px;
  padding: 0;
  color: lightgray;
  width: auto;
  overflow-x: auto;
}
