body {
  background-image: url(/images/backgrounds/greypx.webp);
  padding-top: 3em;
}
a#logo,
a#you {
  position: fixed !important;
}
pre {
  padding: 1em;
  white-space: normal;
}
pre, ul {
  color: white;
  font-size: small;
}
li {
  width: calc(100vw - 15em);
  padding: 5px;
}
#events {
  list-style-type: "☑️ ";
}
#events li.present {
  list-style-type: "🕙 ";
  border: solid 1px white;
}
#events li.future {
  list-style-type: "▫️ ";
}
summary > pre {
  margin-top: -15px;
  margin-left: 10px;
  padding: 0;
}
details > pre {
  margin-left: 15px;
}
.state {
  margin-left: 10px;
  padding: 0;
  color: antiquewhite;
}
