---
title: Avatars
headline: Your digital, online representation
subject_url: /images/meeple.png
layout: layouts/page.njk
class: borderless-img
stylesheets:
  - /index.css
  - ./index.css
post: |
  ## How do I change my avatar?

  An avatar is a picture or photo you choose to represent you.  It can be an actual photo of yourself or, more likely, an alternate image, one used to protect your privacy.  Your avatar and username are the cornerstone of your digital, online representation.

  <figure>
    <img alt="Samwise" src="/images/samwise.jpg">
  <figcaption>samwise</figcaption>
  </figure>

  When you sign up for a Your Move account you designate an email address.  This email address is not shared with anyone.  However, if it's associated with a [Gravatar](https://en.gravatar.com) account (yours, of course!) it will provide your avatar to this site.  If you don't have one, please create one.

  One easy way to do specify an alternate image without having to create a new email address is to [use a plus address](https://www.wikihow.com/Use-Plus-Addressing-in-Gmail).

  If your gmail account is `jrrtolkien@gmail.com`, for example, you can designate alternate identities using plus accounts such as `jrrtolkien+frodo@gmail.com` and `jrrtolkien+samwise@gmail.com`.  Doing so bypasses the need to create new email addresses to get new avatars.  A single Gravatar account can be associated with several email addresses and/or plus addresses, each displaying whatever image you assign.

  Once you've linked your email address to an image on Gravatar, [edit your profile here](/profiles/edit).  Make a small change and submit it.  Every time you update your profile, your avatar is updated from Gravatar.  If your email address was correctly linked to your Gravatar account, your avatar will appear.
---
