---
title: Avatars
headline: Your digital, online representation
layout: layouts/article.njk
class: borderless-img
stylesheets:
  - /ui.css
  - ./ui.css
---
## Change your avatar

An avatar is a picture or photo you choose to represent you.  It can be an actual photo of you or something which shields your identity.  Your avatar and username are the cornerstone of your digital, online representation.

<figure class="samwise">
  <img alt="Samwise" src="/images/samwise.jpg">
  <figcaption>Samwise</figcaption>
</figure>

<figure class="samwise">
  <img alt="Samwise" src="/images/gravatar.jpg">
  <figcaption>Samwise</figcaption>
</figure>

If the email address you associated with your account is linked to a [Gravatar](https://gravatar.com) account (yours, of course!) it permits you to provide an image of your choosing to this site lest you get the generic one.  It's clear which provides the better experience.

A convenient way to get a new avatar without a new email address is to [use a plus address](https://www.wikihow.com/Use-Plus-Addressing-in-Gmail).  If your gmail account is `jrrtolkien@gmail.com`, for example, you can designate alternate identities using plus accounts such as `jrrtolkien+frodo@gmail.com` and `jrrtolkien+samwise@gmail.com`.

Doing so bypasses the need to create new email addresses to get new avatars.  A single Gravatar account can be associated with several email addresses and/or plus addresses, each displaying whatever image you like.
