---
title: Mexica
identity: SopC
release: BETA
subject_url: /images/games/mexica.png
headline: Build the old Aztec city of Tenochtitlan with flowing canals and beautiful temples
publisher: Super Meeple
publisher_url: https://www.supermeeple.com
layout: layouts/game.njk
stylesheets:
- /ui.css
- /components/table/ui.css
modules:
- ./ui.js

about: |
  Mexica plots the development of the city of Tenochtitlan on an island in Lake Texcoco. Players attempt to partition it into districts, place buildings, and construct canals.

  Districts are formed by completely surrounding areas of the island with water and then placing a District marker. The player who founds a district scores points immediately.

  Canals and Lake Texcoco act as a quick method of moving throughout the city. Players erect bridges and move from one bridge to the next, which costs 1 action point regardless of the distance. They must also erect buildings. This costs action points, the exact number being dependent upon the building's size.

  In the scoring phases of the game, players score points (El Grande style) based upon their dominance in a District. In the 4 player game, players with the 1st, 2nd, and 3rd most buildings score decreasing numbers of points.

  Only districts are scored in the first scoring round.

  In the second scoring round at the end of the game, all land areas are scored, not just districts.

  The player with the most points wins.

  The official rules are [available here](./rules/Mexica-US-rules.pdf).
implementation: |
  Actions are initiated by clicking something, a piece in the supply, personal tableau, or on the board—or a button.

  To found a district your pilli must be in it and its size must match one of the available calpulli tiles.  You do not have to select it, only click the spot on which to place that tile.

  Captain Nemo in the early 2000s discovered Kramer & Kiesling, a duo with a legacy of creating exceptional strategy board games.  He has fond memories of competing in Mexica at [The World Boardgaming Championships](http://boardgamers.org/).  For this and more, he ranks it an all-time favorite.

credits: |
  * <label>Designers</label>: Michael Kiesling & Wolfgang Kramer
  * <label>Illustrators</label>: Paul Mafayon & Christophe Swal
  * <label>Implementer</label>: <a href="mailto:capnemo@meeplitis.com">Captain Nemo</a>

  Meeplitis is grateful to the designer(s), illustrator(s), and publisher whose permission and assets made the digital implementation possible.
---
