---
title: Mexica
subject_url: /images/games/mexica.png
headline: Develop districts in ancient times
publisher: Super Meeple
designers: Michael Kiesling & Wolfgang Kramer
developers: Mario T. Lanza
layout: layouts/game.njk
stylesheets:
- /index.css
- ./index.css
- /components/table/index.css
modules:
- ./index.js

about: |
  Mexica...
implementation: |
  Mexica.....
---
