---
title: Sustainability
headline: Keeping the lights on
layout: layouts/article.njk
class: borderless-img
---
Your Move is a single-developer hobby project which sees occasional stretches of work.  While I fancy developing the games, I don't want the time, energy and monetary costs to get the better of me.

In keeping with that goal, and since the effort for developing the games and infrastructure is already substantial, and since the site has no source of revenue, it's developed on mostly free-tier servers.  This was to alleviate ongoing out-of-pocket costs.

This does, however, mean there may be occasional “Out of memory” errors.  Fortunately, they dissipate in a short while and none of this causes a game to break.

Thank you for being patient with any inconvenience it may cause.

<a href="mailto:capnemo@yourmove.cc">capnemo</a>


