.avatar {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  margin: 0;
}
.avatar img {
  margin: auto;
}
.avatar img:not(.pawn, .won) {
  height: 100%;
  min-width: 100%;
}
