@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Racing+Sans+One&family=Viga&family=Anonymous+Pro&display=swap');
body {
  font-family: "Montserrat";
}
h1, h2, h3, h4, footer {
  font-family: "Viga";
}
code, pre {
  font-family: "Anonymous Pro";
  font-size: 1.1em;
}
#logo, body.home #identity {
  font-family: "Racing Sans One";
}
