@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Racing+Sans+One&display=swap');
@import url(/you.css);
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  background: url(/images/backgrounds/white_carbon.webp);
  color: #36454F;
}
a#logo {
  position: absolute;
  right: 1em;
  top: 10px;
  color: white;
  font-family: "Racing Sans One";
  font-size: 1.1em;
}
a#logo img {
  height: 1em;
  margin: -2px 3px 0;
}
.banner {
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
}
body.borderless-img .banner h1 {
  font-family: "Racing Sans One";
  font-size: 2.5em;
}
body.borderless-img .banner img {
  border: none;
  box-shadow: none;
}
body.home a#logo {
  display: none;
}
.banner {
  background: url(/images/backgrounds/carbon_fibre.webp);
  padding: 1em;
  height: 3.2em;
  color: white;
  margin-bottom: 1em;
}
.banner img {
  border: solid 2px #3E505C;
  border-radius: 1em;
  width: 7em;
  float: left;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  margin-bottom: 1em;
  margin-right: 10px;
}
h1, h2 {
  font-family: "Racing Sans One";

}
.banner h1 {
  font-family: "Racing Sans One";
  white-space: nowrap;
  font-size: 1.8em;
  padding: 5px;
  padding: 0;
  display: inline-block;
  margin-top: 0;
}
.banner h1 + * {
  padding: 0;
  margin: 0;
  margin-top: -1em;
}
body.borderless-img img {
  margin-left: .5em;
  margin-right: -.5em;
}
body.borderless-img .banner h1 {
  margin-top: -.3em;
}
body.borderless-img .banner .headline {
  margin-top: -2em;
  display: block;
}
article,
section {
  padding: 0;
  margin: 0 2em 1em 0;
  width: 35em;
  float: left;
  text-align: left;
}
.byline {
  color: #3E505C;
  position: absolute;
  top: 5.5em;
  left: 4.5em;
  scale: .8;
}
.byline span {
  opacity: .6;
}

