---
title: Your Move
headline: Play games by web
subject_url: /images/meeple.png
layout: layouts/page.njk
class: home borderless-img
stylesheets:
- ./index.css
- /games/index.css
modules:
- ./index.js
post: |
  # Welcome, Games Enthusiast

  Your Move implements turn-based, online board and card games.  It's humble beginnings include one game but more will come.

  It primarily aims to implement designer board games, but this necessitates a license from the game publisher.  Thus, the first game, Oh Hell, a traditional card game in the public domain was implemented as a proof of concept.

---
<section class="open">
  <p></p>
</section>

