---
layout: layouts/page.njk
class: home borderless-img
stylesheets:
- ./index.css
- /games/index.css
modules:
- ./index.js
---
<article>
{{ site.title }} is you playing <a href="./games">board games</a> by web.  Join tables and complete games at your leisure over several days, or in real time.  You'll be notified by email whenever you're up.

Abandoned tables are purged.  These are tables which start but see no activity for 30 days.  Although all outcomes are retained, playback histories are purged 30 days after tables finish.

Understand, also, for <a href="./sustainability">practical reasons</a>, the servers are limited.

Have fun!

<a href="mailto:{{ author.email }}">{{ author.name }}</a>
</article>
<section id="unidentified-user" style="visibility: hidden;">
  <p>You must <a href="/profiles/edit">complete your profile</a> to be able to open or join games.</p>
</section>
<section class="games">
  <ul><img class="spinner" src="/images/spinner.gif"></ul>
</section>

