---
title: Your Move
headline: Play games by web
subject_url: /images/meeple.png
layout: layouts/page.njk
class: home borderless-img
stylesheets:
- ./index.css
- /games/index.css
modules:
- ./index.js
post: |
  # Welcome, Games Enthusiast

  Your Move implements turn-based, online board and card games.  It's humble beginnings include one game but more will come.

  It aims to find publishers agreeable to having digital implementation of their physical titles shared online, but to get started and avoid that hurdle, it implemented its first game, Oh Hell, a traditional card game in the public domain as a proof of concept.

  <!-- The core framework requires games to be implemented as single, state-reducing functions in the database.  A game is the aggregate of a series of events enroute to reaching its conclusion.  This means every game, with no special programming effort, gets time travel and undo/redo practically for free! -->

---
<section class="games">
  <p></p>
</section>

