@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Racing+Sans+One&display=swap');
html {
  background-image: url(./images/boardgames-seamless-1.webp);
  background-size: 30em;
  background-repeat: repeat;
  background-color: white;
}
body {
  background-color: rgba(255, 255, 255, .95);
  min-height: 100vh;
  color: #454344;
  padding: 1em 0 4em;
  margin: 0;
  font-size: 1.2em;
  font-family: "Source Sans Pro";
}
header,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Racing Sans One";
  font-style: italic;
}
body > h1 {
  text-align: center;
}
header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}
body.meeple h1 {
  color: #36454f;
  color: #454344;
  font-size: 3em;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-image: url(./images/meeple.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2em;
  line-height: 2em;
  -webkit-text-stroke: 1px white;
  margin: 0 auto;
  width: 6em;
}
