@import url(/fonts.css);
@import url(/you.css);
html {
  background: url(/images/backgrounds/carbon_fibre.webp);
}
body {
  margin: 0;
  padding: 0;
  background: url(/images/backgrounds/white_carbon.webp);
  color: #36454F;
  overscroll-behavior: none;
}
a#logo {
  position: absolute;
  right: 1em;
  top: 10px;
  color: white;
  font-size: 1.1em;
}
a#logo img {
  height: 1em;
  margin: -2px 3px 0;
}
.banner {
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  background: url(/images/backgrounds/carbon_fibre.webp);
  padding: 1em;
  height: 3.2em;
  color: white;
  margin-bottom: 1em;
}
.banner img {
  width: 7em;
  height: 7em;
  position: absolute;
  top: 1em;
  left: 1em;
  margin-bottom: 1em;
  margin-right: 10px;
}
body.borderless-img .banner img {
  left: 2em;
}
.banner img[src=""] {
  visibility: hidden;
}
.banner img:not([src="../images/meeple.png"]) {
  border: solid 2px #3E505C;
  border-radius: 1em;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
}
.banner h1 {
  white-space: nowrap;
  font-size: 2em;
  padding: 5px;
  padding: 0;
  display: inline-block;
  margin-top: 0;
  margin-left: 125px;
}
.banner .headline {
  padding: 0;
  margin: 0;
  margin-top: -1.5em;
  margin-left: 125px;
}
body.borderless-img .banner h1 {
  margin-top: -.3em;
}
body.borderless-img .banner .headline {
  margin-top: -2em;
  display: block;
}
body.borderless-img .banner h1 {
  font-size: 2.5em;
}
body.borderless-img .banner img {
  border: none;
  box-shadow: none;
}
body.home a#logo {
  display: none;
}
article,
section {
  padding: 0;
  width: 35em;
  margin: 0 2em 1em 0;
}
.byline {
  color: #3E505C;
  position: absolute;
  top: 5.5em;
  left: 4.5em;
  scale: .8;
}
.byline span {
  opacity: .6;
}
main {
  min-height: calc(100vh - 10.5em);
  padding: 1em 1em 1em 9em;
  column-width: 35em;
  column-gap: 2em;
  margin-bottom: -2em;
}
main > * {
  break-inside: avoid-column;
}
.centered main {
  columns: 1;
  padding: 1em;
}
.home main > * {
  display: inline;
}
main h1, main h2, main h3, main h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}
footer {
  background: url(/images/backgrounds/carbon_fibre.webp);
  padding: 10px;
  margin: 3em auto 0 auto;
  height: 1em;
  color: white;
  text-align: center;
  border-radius: 2em 2em 0 0;
  font-size: .8em;
  display: block;
  white-space: nowrap;
  width: 20em;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer li {
  display: inline;
}
footer li + li::before {
  content: " | "
}
footer a {
  color: white
}
