@import url(/common.css);
@import url(/fonts.css);
@import url(/you.css);
@import url(../../games/effects.css);

body {
  margin: 0;
  padding: 0;
  background: url(/images/backgrounds/white_carbon.webp);
  color: #36454F;
  overscroll-behavior: none;
  height: 100%;
}
img.spinner {
  height: 2.5em;
  margin: .5em;
}
a#logo {
  position: absolute;
  right: 1em;
  top: 10px;
  color: white;
  font-size: 1.1em;
}
a#logo img {
  height: 1em;
  margin: -2px 3px 0;
}
.banner {
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  background: url(/images/backgrounds/carbon_fibre.webp);
  padding: 1em;
  height: 3.2em;
  color: white;
  margin-bottom: 1em;
}
.banner figure {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 7em;
  height: 7em;
  margin: 0;
  border: solid 2px #3E505C;
  border-radius: 1em;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
}
.banner figure img {
  height: 100%;
}
body.borderless-img .banner figure {
  left: 2em;
}
.banner figure img[src=""] {
  visibility: hidden;
}
.banner h1 {
  white-space: nowrap;
  font-size: 2em;
  padding: 5px;
  padding: 0;
  display: inline-block;
  margin-top: 0;
  margin-left: 125px;
  min-height: 1em;
}
.banner .headline {
  padding: 0;
  margin: 0;
  margin-top: -1.5em;
  margin-left: 125px;
}
body.borderless-img .banner h1 {
  margin-top: -.3em;
}
body.borderless-img .banner .headline {
  margin-top: -2em;
  display: block;
}
body.borderless-img .banner h1 {
  font-size: 2.5em;
}
body.borderless-img .banner figure {
  border: none;
  box-shadow: none;
}
body.home a#logo {
  display: none;
}
p > img {
  height: 22px;
  vertical-align: bottom;
}
p > img.pawn {
  border-radius: 50%;
  background-color: rgba(62, 80, 92, .3);
}
p > img.pawn.up {
  animation-name: wobble;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  pointer-events: none;
}

article,
section {
  padding: 0;
  width: 35em;
  margin: 0 2em 1em 0;
  break-inside: avoid;
}
section.credits label {
  color: #3E505C;
  opacity: .6;
}
.publisher {
  position: absolute;
  top: 5.5em;
  left: 6em;
  scale: .8;
  width: 30em;
}
main {
  min-height: calc(100vh - 10.5em);
  padding: 1em 1em 1em 9em;
  columns: 2;
  column-width: 35em;
  column-gap: 2em;
  column-fill: auto;
  margin-bottom: -2em;
}
.centered main {
  columns: 1;
  padding: 1em;
}
main h1, main h2, main h3, main h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}
main h1 {
  font-size: 1.8em;
}
main h2 {
  font-size: 1.6em;
}
main h3 {
  font-size: 1.4em;
}
main h4 {
  font-size: 1.2em;
}
span.controls {
  margin-left: 5px;
  visibility: hidden;
}
span.controls a {
  color: black;
  background-color: rgba(255,255,255,.4);
  padding: 5px;
  border-radius: 5px;
  margin-top: -5px;
}
[data-you="true"] span.controls, .reveal {
  visibility: visible !important;
}
#unidentified-user p {
  color: red;
}
footer {
  background: url(/images/backgrounds/carbon_fibre.webp);
  padding: 10px;
  margin: 3em auto 0 auto;
  height: 1em;
  color: white;
  text-align: center;
  border: solid 1px white;
  border-bottom: none;
  border-radius: 2em 2em 0 0;
  font-size: .8em;
  display: block;
  white-space: nowrap;
  width: 30em;
  position: fixed;
  bottom: 0;
  left: calc((100vw / 2) - 15em);
  z-index: 99;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer li {
  display: inline;
}
footer li + li::before {
  content: " | "
}
footer a {
  color: white
}
