#you {
  position: absolute;
  top: 25px;
  right: 5px;
  padding: 0;
  margin: 0;
  z-index: 9999;
}
#you img {
  border: solid 2px white;
  margin: 0;
  border-radius: .5em;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  transition: scale .25s, opacity .25s;
  scale: .7;
  opacity: .5;
}
#you img:hover {
  opacity: 1;
  bottom: 0;
  right: 0;
}
body[data-anonymous="true"] #you {
  display: none;
}
a.signin,
a.signout {
  position: absolute;
  top: 35px;
  right: 1em;
  padding: 3px;
  margin: 0;
  z-index: 9999;
  color: black;
  background-color: rgba(255,255,255,.4);
  border-radius: 3px;
}
a.signout {
  display: none;
}
body[data-anonymous="false"] a.signin {
  display: none;
}
body[data-anonymous="true"] a.signout {
  display: none;
}
body[data-you="true"] a.signout {
  display: inherit;
}
body[data-you="true"] #you,
body.table #you {
  display: none;
}
