#you {
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 0;
  margin: 0;
  z-index: 9999;
}
#you img {
  border: solid 2px white;
  margin: 0;
  border-radius: .5em;
  box-shadow: -3px 5px 5px -3px rgba(0, 0, 0, 0.6);
  transition: scale .25s, opacity .25s;
  scale: .5;
  opacity: .5;
}
#you img:hover {
  scale: 1;
  opacity: 1;
  bottom: 0;
  right: 0;
}
body.table #you {
  display: none;
}
