---
title: Backgammon
identity: rmiH
release: BETA
subject_url: /images/games/backgammon.png
headline: The classic game of bearing off
layout: layouts/game.njk
stylesheets:
- /ui.css
- /components/table/ui.css
modules:
- ./ui.js
about: |
    Backgammon is a two-player board game played on a board consisting of twenty-four points arranged in two rows of twelve. The points offer a horseshoe-shaped path for the checkers to follow with each player moving in opposite directions.

    The game is played with checkers in two colors.  Each player wants to move his checkers to his inner board before bearing his pieces off the board.  The first player to bear off all his pieces wins.

    The doubling cube, when used, offers a way to raise the stakes of the game.  A player who believes he has the advantage may propose doubling the current stakes.  The opponent must either accept the double and continue playing for the new stakes or concede the match.
implementation: |
  Actions are initiated by clicking something, a piece in the supply, personal tableau, or on the board—or a button.
credits: |
  * <label>Implementer</label>: <a href="mailto:capnemo@meeplitis.com">Captain Nemo</a>
---
