---
title: Backgammon
identity: rmiH
release: BETA
subject_url: /images/games/backgammon.png
headline: The classic game of bearing off
layout: layouts/game.njk
stylesheets:
- /ui.css
- /components/table/ui.css
modules:
- ./ui.js
about: |
    Backgammon is a two-player strategy board game played on a board consisting of twenty-four triangles (points) arranged in two rows of twelve. The triangles are colored red on one end and black on the other, with the two rows of six points each being of the same color. The game is played with checkers in two colors.
implementation: |
  Actions are initiated by clicking something, a piece in the supply, personal tableau, or on the board—or a button.
---
