---
title: Sign Up
layout: layouts/page.njk
classes: meeple
stylesheets:
- /index.css
- ./index.css
modules:
- ./index.js
---
<div id='signup-section'>
  <form id='signup'>
      <label>Email</label><input type='email' name='email' /><br>
      <label>Password</label><input type='password' name='password' /><br>
      <input type='submit' value="Sign Up">
  </form>
</div>
