@import url(../index.css);

#signup-section label {
  width: 5em;
  display: inline-block;
}
#signup-section input[type='email'],
#signup-section input[type='password'] {
  padding: .5em;
  width: 16em;
  margin: .25em;
}
#signup-section input[type='submit'] {
  padding: .5em;
  width: 6em;
  margin: 1em auto;
  display: block;
}
#signup-section {
  width: 17.5em;
  margin: 0 auto;
}
