---
layout: layouts/banner.njk
stylesheets:
- /ui.css
- /signon.css
modules:
- ./ui.js
class: borderless-img centered
---
<div class="signon" id='signup-section'>
  <form id='signup'>
      <label>Email</label><input type='email' name='email' /><br>
      <label>Password</label><input type='password' name='password' minlength="8" /><br>
      <input type='submit' value="Sign Up">
  </form>
</div>
