---
title: Your Move
headline: Play games by web
layout: layouts/page.njk
class: home borderless-img
stylesheets:
- /index.css
- /signon.css
modules:
- ./index.js
---
<div class="signon" id='signup-section'>
  <form id='signup'>
      <label>Email</label><input type='email' name='email' /><br>
      <label>Password</label><input type='password' name='password' /><br>
      <input type='submit' value="Sign Up">
  </form>
</div>
