---
layout: layouts/banner.njk
modules:
- ./index.js
stylesheets:
- /index.css
- ./index.css
- /components/table/index.css
---
<form id="profile-form" data-mode="initial">
  <h2>Profile</h2>
  <p class="instruction">Completing a profile is necessary for opening or joining games.</p>
  <p>
    <label>Username</label>
    <input id="username" autofocus pattern="^[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9]$" type="text" disabled required minlength="5" maxlength="30" placeholder="Cannot be changed once chosen"/>
    <small>Must unique to you, 5 or more letters and/or numbers (embedded dashes allowed).</small>
  </p>
  <p>
    <label>Headline<label>
    <input id="headline" type="text" minlength="5" maxlength="150" placeholder="Set yourself apart with something pithy"/>
    <small>Must be 5 or more characters if provided</small>
  </p>
  <p>
    <label>About<label>
    <textarea id="description" placeholder="Say something about yourself."></textarea>
  </p>
  <p>
    <label>Email Address</label>
    <input id="email" type="email" required />
    <small>The image linked to this email address on <a href="https://gravatar.com/">Gravatar</a> designates your avatar.</small>
  </p>
  <input type="submit" value="Save">
  <p><a href="../avatar">How do I change my avatar?</a></p>
</form>
