---
title: Bug Reporting
headline: Since software is rarely perfect
layout: layouts/article.njk
class: borderless-img
---
When reporting a bug include:

* The url where it occurred
* The browser and device you used
* If helpful, a screenshot or [short video](https://loom.com/)

Direct your report to the implementer of the game having the bug as found on the game's page.

## The Server Dilemma

**Some issues are not software defects, but the consequence of hardware limitations.**  There are several popular, large online gaming sites offering free and premium play which have the revenue model necessary to sustain high-end servers.  This being a single developer, hobby project site, does not.

This site presently favors time, energy and cost sustainability and that means inexpensive servers.  The back end has limited memory and quotas on the number of requests it can serve.  This can result in occasional “Out of memory” errors which resolve after a short while.  None of this, however, will actually cause a game to break.

Thank you for being patient with any inconvenience this may cause.
