---
title: Bug Reporting
headline: Since software is rarely perfect
layout: layouts/article.njk
class: borderless-img
---
When reporting a bug include:

* The url where it occurred
* The browser and device you used
* If helpful, a screenshot or [short video](https://loom.com/)

Direct your report to the implementer of the game having the bug as found on the game's page.  And don't report errors related <a href="/sustainability">hardware limitations</a> immediately.  Rather, try again a short while later and report it if the problem persists.
