---
title: Bug Reporting
headline: Since software is rarely perfect
layout: layouts/article.njk
class: borderless-img
---
When reporting a bug include:

* The url where it occurred
* The browser and device you used
* If helpful, a screenshot or [short video](https://loom.com/)

Some issues are not defects, but the consequence of server limitations.  The report should be directed to the implementer of the game having the bug.

## The Server Dilemma

There are several popular, large online gaming sites offering free and premium play which have the revenue model necessary to sustain servers.  This being a small, hobby project site, does not.

This site presently favors developer sustainability and that means inexpensive servers.  The servers have limited memory and quotas on the number of requests they can serve.  This can result in occasional “Out of memory” errors which resolve after a short while.  None of this, however, will actually cause a game to break.

Please be patient with any inconvenience this may cause, understanding that developing the games already poses significant time costs.
